Repository metabase/metabase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @metabase/embedding, @metabase/core-frontend-admin-webapp, @metabase/data, @filiphric, @metabase/devexp, @metabase/backend-developers, @metabase/drivers, @metabase/core-backend-admin-webapp, @metabase/core-workflows, @metabase/core-backend-querying, @metabase/core-backend-dashviz

Fix e2e tests
  e2e/test/scenarios/filters/filter.cy.spec.js
Owners: @filiphric

Address review: create a new test suite and put tests there
  e2e/test-component/scenarios/embedding-sdk/create-question.cy.spec.tsx
  e2e/test-component/scenarios/embedding-sdk/data-picker.cy.spec.tsx
Owners: @filiphric

Add format_code icon
  frontend/src/metabase/ui/components/icons/Icon/icons/format_code.svg
  frontend/src/metabase/ui/components/icons/Icon/icons/index.ts
Owners: @metabase/core-frontend-admin-webapp

Use new format code icon in native editor too
  frontend/src/metabase/query_builder/components/NativeQueryEditor/NativeQueryEditorSidebar/NativeQueryEditorSidebar.tsx
Owners: none

Use correct icon for formatting code
  frontend/src/metabase/query_builder/components/expressions/Editor/Editor.tsx
Owners: none

🤖 backported "fix: prevent icon overflow on resize" (#54500)
  e2e/test/scenarios/question-reproductions/reproductions-3.cy.spec.js
  frontend/src/metabase/querying/notebook/components/JoinStep/JoinComplete/JoinComplete.tsx
Owners: @filiphric

stabilize flaky test (#54480)
  e2e/test/scenarios/native/native-reproductions.cy.spec.js
Owners: @filiphric

fix: tests
  enterprise/frontend/src/metabase-enterprise/application_permissions/types/user.ts
  frontend/src/metabase-types/api/user.ts
  frontend/src/metabase/notifications/modals/CreateOrEditQuestionAlertModal/CreateOrEditQuestionAlertModal.unit.spec.tsx
Owners: none

Remove unnecessary step that updates GH CLI
  .github/workflows/release-embedding-sdk.yml
Owners: @metabase/devexp

fix: review fixes
  enterprise/frontend/src/metabase-enterprise/application_permissions/types/user.ts
  frontend/src/metabase-types/api/user.ts
  frontend/src/metabase/notifications/modals/CreateOrEditQuestionAlertModal/CreateOrEditQuestionAlertModal.unit.spec.tsx
  frontend/src/metabase/plugins/index.ts
Owners: none

Recalculate columns for Upload model when updating (#54069)
  src/metabase/models/card/metadata.clj
  src/metabase/upload.clj
  test/metabase/upload_test.clj
Owners: @metabase/devexp

Add backport resolution script
  backport.sh
Owners: none

Allow impersonated users to hit cache again (#54521)
  .clj-kondo/config.edn
  .clj-kondo/config/modules/config.edn
  .clj-kondo/macros/metabase_enterprise/impersonation/util_test.clj
  .cljfmt.edn
  enterprise/backend/src/metabase_enterprise/advanced_permissions/api/routes.clj
  enterprise/backend/src/metabase_enterprise/impersonation/api.clj
  enterprise/backend/src/metabase_enterprise/impersonation/core.clj
  enterprise/backend/src/metabase_enterprise/impersonation/driver.clj
  enterprise/backend/src/metabase_enterprise/impersonation/middleware.clj
  enterprise/backend/src/metabase_enterprise/impersonation/model.clj
  enterprise/backend/src/metabase_enterprise/impersonation/util.clj
  enterprise/backend/src/metabase_enterprise/sandbox/models/params/field_values.clj
  enterprise/backend/test/metabase_enterprise/advanced_permissions/common_test.clj
  enterprise/backend/test/metabase_enterprise/advanced_permissions/models/field_values_test.clj
  enterprise/backend/test/metabase_enterprise/impersonation/api_test.clj
  enterprise/backend/test/metabase_enterprise/impersonation/cache_test.clj
  enterprise/backend/test/metabase_enterprise/impersonation/driver_test.clj
  enterprise/backend/test/metabase_enterprise/impersonation/util_test.clj
  enterprise/backend/test/metabase_enterprise/serialization/v2/models_test.clj
  src/metabase/driver/sql_jdbc/execute.clj
  src/metabase/models/field_values.clj
  src/metabase/models/resolution.clj
  src/metabase/permissions/api.clj
  src/metabase/permissions/models/data_permissions/graph.clj
  src/metabase/permissions/util.clj
  src/metabase/query_processor/middleware/cache.clj
  src/metabase/query_processor/middleware/enterprise.clj
  src/metabase/query_processor/preprocess.clj
  src/metabase/query_processor/util.clj
Owners: @metabase/devexp, @metabase/core-backend-admin-webapp, @metabase/core-workflows, @metabase/drivers, @metabase/core-backend-querying

Add backport resolution script
  backport.sh
Owners: none

Remove unnecessary step that updates GH CLI (#54581)
  .github/workflows/release-embedding-sdk.yml
Owners: @metabase/devexp

Remove unnecessary step that updates GH CLI (#54581)
  .github/workflows/release-embedding-sdk.yml
Owners: @metabase/devexp

Remove unnecessary step that updates GH CLI (#54581)
  .github/workflows/release-embedding-sdk.yml
Owners: @metabase/devexp

Remove unnecessary step that updates GH CLI (#54581) (#54585)
  .github/workflows/release-embedding-sdk.yml
Owners: @metabase/devexp

Remove unnecessary step that updates GH CLI (#54581) (#54584)
  .github/workflows/release-embedding-sdk.yml
Owners: @metabase/devexp

note on license
  docs/embedding/sdk/quickstart.md
Owners: none

fix(frontend): update single alert condition style
  e2e/test/scenarios/sharing/alert/alert-types.cy.spec.js
  frontend/src/metabase/notifications/modals/CreateOrEditQuestionAlertModal/CreateOrEditQuestionAlertModal.tsx
Owners: @filiphric

Update docs/embedding/sdk/quickstart.md
  docs/embedding/sdk/quickstart.md
Owners: none

Convert dummy tools to normal tools
  enterprise/backend/src/metabase_enterprise/metabot_v3/dummy_tools.clj
  enterprise/backend/src/metabase_enterprise/metabot_v3/envelope.clj
  enterprise/backend/src/metabase_enterprise/metabot_v3/tools/api.clj
  enterprise/backend/test/metabase_enterprise/metabot_v3/tools/api_test.clj
Owners: none

build: push ee-extra to dev repo, not ee
  .github/workflows/uberjar.yml
Owners: @metabase/devexp

docs - note on license (#54586)
  docs/embedding/sdk/quickstart.md
Owners: none

docs - note on license (#54586)
  docs/embedding/sdk/quickstart.md
Owners: none

Boilerplate for new EE feature
  enterprise/backend/src/metabase_enterprise/api/routes.clj
  enterprise/backend/src/metabase_enterprise/internal_tools/api.clj
  src/metabase/premium_features/core.clj
Owners: @metabase/devexp, @metabase/core-backend-admin-webapp

docs - note on license (#54586) (#54588)
  docs/embedding/sdk/quickstart.md
Owners: none

Add an assertion
  e2e/test/scenarios/sharing/public-sharing-embed-button-behavior.cy.spec.js
Owners: @filiphric

Override some deps licenses
  bin/build/resources/overrides.edn
Owners: none

fix strings
  enterprise/frontend/src/metabase-enterprise/google_sheets/GoogleSheetManagement.tsx
Owners: none

Run cypress tests against the nodejs sample app (#54250)
  .gitignore
  e2e/runner/constants/exit-code.js
  e2e/runner/cypress-runner-backend.js
  e2e/runner/cypress-runner-run-tests.js
  e2e/runner/cypress-runner-utils.js
  e2e/runner/run_cypress_ci.js
  e2e/runner/run_cypress_local.ts
  e2e/runner/sample-apps-shared/constants/sample-app-setup-configs.js
  e2e/runner/sample-apps-shared/helpers/fetch-app.ts
  e2e/runner/sample-apps-shared/helpers/prepare-app.ts
  e2e/runner/sample-apps-shared/helpers/start-containers.ts
  e2e/runner/sample-apps-shared/types.ts
  e2e/runner/start-sample-app-containers/start-sample-app-containers.ts
Owners: @filiphric

Run cypress tests against sample apps
  e2e/runner/cypress-runner-run-tests.js
Owners: @filiphric

Revert docs
  docs/embedding/sdk/quickstart-with-sample-app.md
Owners: none

Update Sample App env variables
  docs/embedding/sdk/quickstart-with-sample-app.md
Owners: none

Integrate Sample Apps e2e tests with CI
  .github/workflows/e2e-sample-apps-tests.yml
  e2e/runner/run_cypress_ci.js
  e2e/runner/run_cypress_local.ts
  e2e/runner/sample-apps-shared/constants/sample-app-setup-configs.js
  e2e/runner/sample-apps-shared/helpers/start-containers.ts
  e2e/runner/start-sample-app-containers/start-ci.ts
  e2e/runner/start-sample-app-containers/start.ts
Owners: @metabase/devexp, @filiphric

Simplify config
  e2e/runner/cypress-runner-run-tests.js
Owners: @filiphric

Update Sample App env variables
  docs/embedding/sdk/quickstart-with-sample-app.md
Owners: none

Update sample app ports in quickstart-with-sample-app.md
  docs/embedding/sdk/quickstart-with-sample-app.md
Owners: none

Revert docs
  docs/embedding/sdk/quickstart-with-sample-app.md
Owners: none

.github/CODEOWNERS:

# Before changing this file, make sure you have read how we use it:
# https://www.notion.so/metabase/Pull-Request-Code-Review-Guide-374f05df889748b69d67af753f9bc9b8?pvs=4#36550c04ceab40b5a8b8bee6264b090c

enterprise/frontend/src/embedding-sdk @metabase/embedding
frontend/src/metabase/embedding-sdk @metabase/embedding
frontend/src/metabase/ui @metabase/core-frontend-admin-webapp
snowplow/* @metabase/data
e2e @filiphric

.github @metabase/devexp
.clj-kondo @metabase/devexp
deps.edn @metabase/backend-developers

#
# Backend modules <=> teams that own them
#

modules/drivers @metabase/drivers

enterprise/backend/src/metabase_enterprise/advanced_config @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/advanced_config @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/advanced_permissions @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/advanced_permissions @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/airgap @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/airgap @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/api @metabase/devexp
enterprise/backend/test/metabase_enterprise/api @metabase/devexp

enterprise/backend/src/metabase_enterprise/audit_app @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/audit_app @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/auth_provider @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/auth_provider @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/billing @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/billing @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/cache @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/cache @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/content_verification @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/content_verification @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/core @metabase/devexp
enterprise/backend/test/metabase_enterprise/core @metabase/devexp

enterprise/backend/src/metabase_enterprise/dashboard_subscription_filters @metabase/core-workflows
enterprise/backend/test/metabase_enterprise/dashboard_subscription_filters @metabase/core-workflows

enterprise/backend/src/metabase_enterprise/enhancements @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/enhancements @metabase/core-backend-admin-webapp

# enterprise/backend/src/metabase_enterprise/llm
# enterprise/backend/test/metabase_enterprise/llm

enterprise/backend/src/metabase_enterprise/query_reference_validation @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/query_reference_validation @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/sandbox @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/sandbox @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/scim @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/scim @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/search @metabase/core-workflows
enterprise/backend/test/metabase_enterprise/search @metabase/core-workflows

enterprise/backend/src/metabase_enterprise/serialization @metabase/core-workflows
enterprise/backend/test/metabase_enterprise/serialization @metabase/core-workflows

enterprise/backend/src/metabase_enterprise/snippet_collections @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/snippet_collections @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/sso @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/sso @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/stale @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/stale @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/stats @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/stats @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/task @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/task @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/upload_management @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/upload_management @metabase/core-backend-admin-webapp

src/metabase/actions @metabase/core-backend-admin-webapp
test/metabase/actions @metabase/core-backend-admin-webapp

src/metabase/activity_feed @metabase/core-backend-admin-webapp
test/metabase/activity_feed @metabase/core-backend-admin-webapp

src/metabase/analytics @metabase/core-backend-admin-webapp
test/metabase/analytics @metabase/core-backend-admin-webapp

src/metabase/analyze @metabase/drivers
test/metabase/analyze @metabase/drivers

src/metabase/api @metabase/devexp
test/metabase/api @metabase/devexp

src/metabase/audit @metabase/core-backend-admin-webapp
test/metabase/audit @metabase/core-backend-admin-webapp

src/metabase/auth_provider @metabase/core-backend-admin-webapp
test/metabase/auth_provider @metabase/core-backend-admin-webapp

src/metabase/bookmarks @metabase/core-backend-admin-webapp
test/metabase/bookmarks @metabase/core-backend-admin-webapp

src/metabase/cmd @metabase/devexp
test/metabase/cmd @metabase/devexp

src/metabase/channel @metabase/core-workflows
test/metabase/channel @metabase/core-workflows

src/metabase/cloud_migration @metabase/core-workflows
test/metabase/cloud_migration @metabase/core-workflows

src/metabase/cmd @metabase/devexp
test/metabase/cmd @metabase/devexp

src/metabase/config @metabase/devexp
test/metabase/config @metabase/devexp

src/metabase/core @metabase/devexp
test/metabase/core @metabase/devexp

src/metabase/db @metabase/core-backend-admin-webapp
test/metabase/db @metabase/core-backend-admin-webapp

src/metabase/driver @metabase/drivers
test/metabase/driver @metabase/drivers

src/metabase/eid_translation @metabase/core-backend-admin-webapp
test/metabase/eid_translation @metabase/core-backend-admin-webapp

src/metabase/embed @metabase/embedding
test/metabase/embed @metabase/embedding

src/metabase/events @metabase/devexp
test/metabase/events @metabase/devexp

src/metabase/formatter @metabase/core-backend-querying
test/metabase/formatter @metabase/core-backend-querying

src/metabase/indexed_entities @metabase/core-backend-querying
test/metabase/indexed_entities @metabase/core-backend-querying

src/metabase/integrations @metabase/core-workflows
test/metabase/integrations @metabase/core-workflows

src/metabase/legacy_mbql @metabase/core-backend-querying
test/metabase/legacy_mbql @metabase/core-backend-querying

src/metabase/lib @metabase/core-backend-querying
test/metabase/lib @metabase/core-backend-querying

src/metabase/logger @metabase/devexp
test/metabase/logger @metabase/devexp

src/metabase/login_history @metabase/core-backend-admin-webapp
test/metabase/login_history @metabase/core-backend-admin-webapp

src/metabase/model_persistence @metabase/core-backend-querying
test/metabase/model_persistence @metabase/core-backend-querying

src/metabase/models @metabase/devexp
test/metabase/models @metabase/devexp

src/metabase/moderation @metabase/core-backend-admin-webapp
test/metabase/moderation @metabase/core-backend-admin-webapp

src/metabase/notification @metabase/core-workflows
test/metabase/notification @metabase/core-workflows

src/metabase/permissions @metabase/core-backend-admin-webapp
test/metabase/permissions @metabase/core-backend-admin-webapp

src/metabase/plugins @metabase/devexp
test/metabase/plugins @metabase/devexp

src/metabase/premium_features @metabase/core-backend-admin-webapp
test/metabase/premium_features @metabase/core-backend-admin-webapp

src/metabase/public_settings @metabase/core-backend-admin-webapp
test/metabase/public_settings @metabase/core-backend-admin-webapp

src/metabase/public_sharing @metabase/core-backend-admin-webapp
test/metabase/public_sharing @metabase/core-backend-admin-webapp

src/metabase/pulse @metabase/core-workflows
test/metabase/pulse @metabase/core-workflows

src/metabase/query_analysis @metabase/core-backend-querying
test/metabase/query_analysis @metabase/core-backend-querying

src/metabase/query_processor @metabase/core-backend-querying
test/metabase/query_processor @metabase/core-backend-querying

src/metabase/request @metabase/devexp
test/metabase/request @metabase/devexp

src/metabase/revisions @metabase/core-backend-admin-webapp
test/metabase/revisions @metabase/core-backend-admin-webapp

src/metabase/sample_data @metabase/core-backend-admin-webapp
test/metabase/sample_data @metabase/core-backend-admin-webapp

src/metabase/search @metabase/core-workflows
test/metabase/search @metabase/core-workflows

src/metabase/segments @metabase/core-backend-querying
test/metabase/segments @metabase/core-backend-querying

src/metabase/server @metabase/devexp
test/metabase/server @metabase/devexp

src/metabase/session @metabase/core-backend-admin-webapp
test/metabase/session @metabase/core-backend-admin-webapp

src/metabase/setup @metabase/core-backend-admin-webapp
test/metabase/setup @metabase/core-backend-admin-webapp

src/metabase/sso @metabase/core-backend-admin-webapp
test/metabase/sso @metabase/core-backend-admin-webapp

src/metabase/sync @metabase/drivers
test/metabase/sync @metabase/drivers

src/metabase/task @metabase/devexp
test/metabase/task @metabase/devexp

src/metabase/tiles @metabase/core-backend-dashviz
test/metabase/tiles @metabase/core-backend-dashviz

src/metabase/timeline @metabase/core-backend-dashviz
test/metabase/timeline @metabase/core-backend-dashviz

src/metabase/types @metabase/core-backend-querying
test/metabase/types @metabase/core-backend-querying

src/metabase/upload @metabase/core-backend-admin-webapp
test/metabase/upload @metabase/core-backend-admin-webapp

src/metabase/user_key_value @metabase/core-backend-admin-webapp
test/metabase/user_key_value @metabase/core-backend-admin-webapp

src/metabase/util @metabase/devexp
test/metabase/util @metabase/devexp

src/metabase/xrays @metabase/core-backend-querying
test/metabase/xrays @metabase/core-backend-querying
