Repository metabase/metabase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @camsaul, @sbelak, @kdoh, @tlrobinson, @paulrosenzweig, @mazameli

Fix scrollbars on dashboard combine modal
  frontend/src/metabase/dashboard/components/AddSeriesModal.jsx
Owners: @tlrobinson

Use probing [ci drivers]
  modules/drivers/oracle/src/metabase/driver/oracle.clj
  modules/drivers/oracle/test/metabase/driver/oracle_test.clj
  modules/drivers/presto/src/metabase/driver/presto.clj
  modules/drivers/presto/test/metabase/driver/presto_test.clj
  modules/drivers/redshift/src/metabase/driver/redshift.clj
  modules/drivers/redshift/test/metabase/driver/redshift_test.clj
  modules/drivers/snowflake/src/metabase/driver/snowflake.clj
  modules/drivers/snowflake/test/metabase/driver/snowflake_test.clj
  modules/drivers/sqlserver/src/metabase/driver/sqlserver.clj
  modules/drivers/sqlserver/test/metabase/driver/sqlserver_test.clj
  modules/drivers/vertica/src/metabase/driver/vertica.clj
  modules/drivers/vertica/test/metabase/driver/vertica_test.clj
  src/metabase/driver/mysql.clj
  src/metabase/driver/postgres.clj
  src/metabase/driver/sql_jdbc/sync.clj
  test/metabase/driver/mysql_test.clj
  test/metabase/driver/postgres_test.clj
  test/metabase/driver/sql_jdbc/sync_test.clj
Owners: @camsaul

Fix presto
  modules/drivers/presto/src/metabase/driver/presto.clj
Owners: @camsaul

Update frontend/test/metabase-smoketest/admin_setup.cy.spec.js
  frontend/test/metabase-smoketest/admin_setup.cy.spec.js
Owners: none

Update frontend/test/metabase-smoketest/admin.cy.spec.js
  frontend/test/metabase-smoketest/admin.cy.spec.js
Owners: none

Update frontend/test/metabase-smoketest/admin.cy.spec.js
  frontend/test/metabase-smoketest/admin.cy.spec.js
Owners: none

Bring presto api in line with the rest [ci drivers]
  modules/drivers/presto/src/metabase/driver/presto.clj
Owners: @camsaul

also fetch foreign tables, fix eslint
  frontend/src/metabase/dashboard/dashboard.js
Owners: @tlrobinson

multi-series add value gif
  docs/users-guide/05-visualizing-results.md
  docs/users-guide/images/visualizations/add_values.gif
Owners: @mazameli

formatting and grammar
  docs/users-guide/05-visualizing-results.md
Owners: @mazameli

Make linter happy [ci drivers]
  modules/drivers/oracle/test/metabase/driver/oracle_test.clj
  modules/drivers/presto/src/metabase/driver/presto.clj
  modules/drivers/redshift/src/metabase/driver/redshift.clj
  modules/drivers/redshift/test/metabase/driver/redshift_test.clj
  modules/drivers/sqlserver/src/metabase/driver/sqlserver.clj
  modules/drivers/sqlserver/test/metabase/driver/sqlserver_test.clj
  modules/drivers/vertica/test/metabase/driver/vertica_test.clj
  test/metabase/driver/mysql_test.clj
  test/metabase/driver/postgres_test.clj
Owners: @camsaul

Create user and give ownership [ci drivers]
  test/metabase/driver/postgres_test.clj
Owners: @camsaul

remove gif
  docs/users-guide/05-visualizing-results.md
  docs/users-guide/images/visualizations/add_values.gif
Owners: @mazameli

Don't pollute state [ci postgres]
  test/metabase/driver/postgres_test.clj
Owners: @camsaul

updated add line ui screenshot
  docs/users-guide/09-multi-series-charting.md
  docs/users-guide/images/MultiSeriesTrigger.png
  docs/users-guide/images/multi-series-charts/add_series.png
Owners: @mazameli

edit modal with two series
  docs/users-guide/09-multi-series-charting.md
  docs/users-guide/images/MultiSeriesFinished.png
  docs/users-guide/images/MultiSeriesModal1.png
  docs/users-guide/images/MultiSeriesModal2.png
  docs/users-guide/images/multi-series-charts/edit_modal.png
  docs/users-guide/images/multi-series-charts/edit_modal_multi-series.png
Owners: @mazameli

update notebook editor multi-series screenshot
  docs/users-guide/09-multi-series-charting.md
  docs/users-guide/images/MultiSeriesQueryBuilder.png
  docs/users-guide/images/multi-series-charts/multi-series_query_builder.png
Owners: @mazameli

don't update snippet names if the user doesn't have sql perms
  frontend/src/metabase/query_builder/actions.js
Owners: @tlrobinson

from numbers to bar charts
  docs/users-guide/09-multi-series-charting.md
  docs/users-guide/images/multi-series-charts/add_bar_chart.png
  docs/users-guide/images/multi-series-charts/numbers_to_bar_chart.png
Owners: @mazameli

adding values gif
  docs/users-guide/09-multi-series-charting.md
  docs/users-guide/images/multi-series-charts/add_values.gif
Owners: @mazameli

handle multiple differently spaced snippet tags
  frontend/src/metabase-lib/lib/queries/NativeQuery.js
  frontend/test/metabase-lib/lib/queries/NativeQuery.unit.spec.js
Owners: @tlrobinson

remove logs
  frontend/src/metabase-lib/lib/queries/NativeQuery.js
Owners: @tlrobinson

hide "show query" button when user doesn't have write perms
  frontend/src/metabase/query_builder/components/NativeQueryEditor.jsx
Owners: @tlrobinson

Add timeouts for both configurations
  bin/aws-eb-docker/.ebextensions/metabase_config/metabase-setup.sh
Owners: none

click() on collection link instead of visiting direct ID
  frontend/test/metabase-smoketest/admin_setup.cy.spec.js
Owners: none

Feature/smoketests (#12656)
  frontend/test/__support__/cypress.js
  frontend/test/metabase-smoketest/README.md
  frontend/test/metabase-smoketest/admin.cy.spec.js
  frontend/test/metabase-smoketest/admin_setup.cy.spec.js
  frontend/test/metabase-smoketest/user.cy.spec.js
Owners: none

typo
  src/metabase/driver.clj
Owners: @camsaul

pr feedback
  frontend/src/metabase/dashboard/dashboard.js
  frontend/src/metabase/redux/metadata.js
Owners: @tlrobinson

don't try and fetch a single db in case there aren't enough perms
  frontend/src/metabase/query_builder/actions.js
Owners: @tlrobinson

Pre-36 snippet updates (#12723)
  frontend/src/metabase-lib/lib/queries/NativeQuery.js
  frontend/src/metabase/entities/snippets.js
  frontend/src/metabase/query_builder/actions.js
  frontend/src/metabase/query_builder/components/NativeQueryEditor.jsx
  frontend/src/metabase/query_builder/components/template_tags/SnippetModal.jsx
  frontend/src/metabase/query_builder/components/template_tags/SnippetSidebar.jsx
  frontend/src/metabase/query_builder/reducers.js
  frontend/test/metabase-lib/lib/queries/NativeQuery.unit.spec.js
  java/metabase/db/liquibase/MetabaseMySqlCreateTableSqlGenerator.java
  resources/migrations/000_migrations.yaml
  src/metabase/api/native_query_snippet.clj
  src/metabase/driver/common/parameters.clj
  src/metabase/driver/common/parameters/values.clj
  src/metabase/driver/sql/parameters/substitute.clj
  src/metabase/driver/sql/parameters/substitution.clj
  src/metabase/models.clj
  src/metabase/models/native_query_snippet.clj
  test/metabase/api/native_query_snippet_test.clj
  test/metabase/driver/common/parameters/values_test.clj
  test/metabase/driver/sql/parameters/substitute_test.clj
  test/metabase/models/native_query_snippet_test.clj
  test/metabase/query_processor/middleware/parameters_test.clj
  test/metabase/test/util.clj
Owners: @tlrobinson, @paulrosenzweig, @camsaul

remove renaming caution
  docs/users-guide/sql-snippets.md
Owners: @mazameli

Add description to SQL Server database port
  frontend/src/metabase/entities/databases/forms.js
  modules/drivers/sqlserver/resources/metabase-plugin.yaml
Owners: @tlrobinson, @paulrosenzweig

renaming and editing snippets
  docs/users-guide/sql-snippets.md
Owners: @mazameli

renaming and editing snippets
  docs/users-guide/sql-snippets.md
Owners: @mazameli

formatting
  docs/administration-guide/databases/mongodb.md
Owners: @mazameli

typo (#12779)
  src/metabase/driver.clj
Owners: @camsaul

added links and removed notes
  docs/operations-guide/scaling-metabase.md
Owners: @mazameli

update console text
  frontend/src/metabase/redux/metadata.js
Owners: @tlrobinson

prettier
  frontend/src/metabase/redux/metadata.js
Owners: @tlrobinson

Fetch nested card table metadata on dashboard load (#12734)
  frontend/src/metabase/dashboard/dashboard.js
  frontend/src/metabase/query_builder/components/DataSelector.jsx
  frontend/src/metabase/redux/metadata.js
  frontend/test/metabase/scenarios/dashboard/nested-cards.cy.spec.js
  frontend/test/metabase/scenarios/question/loading.cy.spec.js
Owners: @tlrobinson

.github/CODEOWNERS:

*.clj @camsaul
/src/metabase/automagic_dashboards/ @sbelak
/test/metabase/automagic_dashboards/ @sbelak
/src/metabase/transform/ @sbelak
/test/metabase/transform/ @sbelak
/src/metabase/sync/ @camsaul @sbelak
/test/metabase/sync/ @camsaul @sbelak
*.css @kdoh
/frontend/src @tlrobinson
/frontend/src/metabase/components/ @kdoh
/frontend/src/metabase/admin/datamodel/ @tlrobinson @paulrosenzweig
/frontend/src/metabase/entities/ @tlrobinson @paulrosenzweig
/frontend/src/metabase/lib/entities/ @tlrobinson @paulrosenzweig
/docs/ @mazameli
