Repository metabase/metabase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @metabase/embedding, @metabase/core-frontend-admin-webapp, @metabase/data, @filiphric, @metabase/devexp, @metabase/backend-developers, @metabase/drivers, @metabase/core-backend-admin-webapp, @metabase/core-workflows, @metabase/core-backend-querying, @metabase/core-backend-dashviz

Don't update dashboard and pulse updated_by if there are no actual updates to the tables
  src/metabase/models/dashboard.clj
  src/metabase/models/interface.clj
  src/metabase/pulse/models/pulse.clj
  test/metabase/models/interface_test.clj
Owners: @metabase/devexp, @metabase/core-workflows

Fix typo
  frontend/src/metabase/admin/performance/components/ModelPersistenceConfiguration.tsx
Owners: none

echarts tooltip and dashcard viz modal adjustments
  frontend/src/metabase/dashboard/components/DashCard/DashCardActionsPanel/ChartSettingsButton/ChartSettingsButton.tsx
  frontend/src/metabase/visualizations/components/ChartSettings/DashboardChartSettings/DashboardChartSettings.tsx
  frontend/src/metabase/visualizations/echarts/tooltip/index.tsx
Owners: none

add ability to style SpecialTagInput, update MultiAutocomplete styles (#54533)
  frontend/src/metabase/querying/filters/components/FilterValuePicker/SearchValuePicker/SearchValuePicker.tsx
  frontend/src/metabase/ui/components/feedback/Loader/Loader.tsx
  frontend/src/metabase/ui/components/inputs/MultiAutocomplete/MultiAutocomplete.module.css
  frontend/src/metabase/ui/components/inputs/MultiAutocomplete/MultiAutocomplete.tsx
  frontend/src/metabase/ui/components/inputs/SpecialTagsInput/SpecialTagsInput.tsx
Owners: @metabase/core-frontend-admin-webapp

Fix type issues
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

Fix typo
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

Reset some changes
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
Owners: @filiphric

Fix some tests
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

Test that the not-yet sandboxed normal user can see all the data
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

Don't include dashcardIds here
  e2e/support/helpers/api/createDashboardWithQuestions.ts
Owners: @filiphric

Add prop addToDashboard to createCard
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
Owners: @filiphric

Use api calls to test that entities are initially unfiltered and then filtered once sandboxing has been applied.
  e2e/support/helpers/api/createDashboard.ts
  e2e/support/helpers/e2e-misc-helpers.js
  e2e/support/helpers/e2e-permissions-helpers.js
  e2e/test/scenarios/onboarding/command-palette.cy.spec.js
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-api.cy.spec.js
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
  enterprise/frontend/src/metabase-enterprise/sandboxes/components/EditSandboxingModal/EditSandboxingModal.tsx
Owners: @filiphric

Add todo
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

Improve names of functions
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

improve per ryan's sage advice
  e2e/support/helpers/e2e-permissions-helpers.js
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-api.cy.spec.js
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

Fix filter value test
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

Don't support dashcardIdAliases
  e2e/support/helpers/api/createDashboard.ts
Owners: @filiphric

Add @external tag
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

Fix tests
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
Owners: @filiphric

streamline sandboxing tests (#54550)
  e2e/support/helpers/api/addQuestionToDashboard.ts
  e2e/support/helpers/api/createCollection.ts
  e2e/support/helpers/api/index.ts
  e2e/support/helpers/e2e-permissions-helpers.js
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

wip
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

Check that adhoc question errors correctly
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
Owners: @filiphric

Remove filter value test, we'll do this one in a follow-up PR
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

Fix tests of custom columns, which test that they fail closed
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

wip
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

Hit /api/card/$id/query endpoints directly as well as the dashcard endpoints
  e2e/support/helpers/api/createDashboard.ts
  e2e/support/helpers/api/createDashboardWithQuestions.ts
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

wip: improving test performance
  e2e/support/helpers/e2e-ad-hoc-question-helpers.js
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

Remove console.log
  e2e/support/helpers/e2e-ad-hoc-question-helpers.js
Owners: @filiphric

fix import
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

Refactor since two tests are almost exactly the same
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

Use afterEach to simplify tests
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

fix
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

Don't update existing pulses based on the changed dashboard since it is no longer needed
  src/metabase/pulse/dashboard_subscription.clj
  src/metabase/pulse/models/pulse.clj
Owners: @metabase/core-workflows

fix(sdk): Fix ColorRangeSelector in Conditional Formatting (#54450)
  frontend/src/metabase/core/components/ColorRangeSelector/ColorRangeSelector.stories.tsx
  frontend/src/metabase/core/components/ColorRangeSelector/ColorRangeSelector.tsx
  frontend/src/metabase/core/components/ColorRangeSelector/ColorRangeSelector.unit.spec.tsx
  frontend/src/metabase/core/components/ColorRangeSelector/index.ts
  frontend/src/metabase/visualizations/components/settings/ChartSettingsTableFormatting/RuleEditor.tsx
  frontend/src/metabase/visualizations/visualizations/Map/Map.jsx
Owners: none

Add "for React" to SDK in legalese modal and settings page (#54534)
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/common.embedding.unit.spec.tsx
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/enterprise.embedding.unit.spec.tsx
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/premium.embedding.unit.spec.tsx
  frontend/src/metabase/admin/settings/components/EmbeddingSettings/EmbeddingSdkLegaleseModal/EmbeddingSdkLegaleseModal.tsx
  frontend/src/metabase/admin/settings/components/EmbeddingSettings/EmbeddingSdkSettings/EmbeddingSdkSettings.tsx
Owners: none

Add backport resolution script
  backport.sh
Owners: none

Add backport resolution script
  backport.sh
Owners: none

Add "for React" to SDK in legalese modal and settings page (#54534)
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/common.embedding.unit.spec.tsx
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/enterprise.embedding.unit.spec.tsx
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/premium.embedding.unit.spec.tsx
  frontend/src/metabase/admin/settings/components/EmbeddingSettings/EmbeddingSdkLegaleseModal/EmbeddingSdkLegaleseModal.tsx
  frontend/src/metabase/admin/settings/components/EmbeddingSettings/EmbeddingSdkSettings/EmbeddingSdkSettings.tsx
Owners: none

Add "for React" to SDK in legalese modal and settings page (#54534)
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/common.embedding.unit.spec.tsx
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/enterprise.embedding.unit.spec.tsx
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/premium.embedding.unit.spec.tsx
  frontend/src/metabase/admin/settings/components/EmbeddingSettings/EmbeddingSdkLegaleseModal/EmbeddingSdkLegaleseModal.tsx
  frontend/src/metabase/admin/settings/components/EmbeddingSettings/EmbeddingSdkSettings/EmbeddingSdkSettings.tsx
Owners: none

Repro for "Date filter translations: Key not being translated"
  e2e/test/scenarios/filters-reproductions/dashboard-filters-reproductions.cy.spec.js
Owners: @filiphric

.github/CODEOWNERS:

# Before changing this file, make sure you have read how we use it:
# https://www.notion.so/metabase/Pull-Request-Code-Review-Guide-374f05df889748b69d67af753f9bc9b8?pvs=4#36550c04ceab40b5a8b8bee6264b090c

enterprise/frontend/src/embedding-sdk @metabase/embedding
frontend/src/metabase/embedding-sdk @metabase/embedding
frontend/src/metabase/ui @metabase/core-frontend-admin-webapp
snowplow/* @metabase/data
e2e @filiphric

.github @metabase/devexp
.clj-kondo @metabase/devexp
deps.edn @metabase/backend-developers

#
# Backend modules <=> teams that own them
#

modules/drivers @metabase/drivers

enterprise/backend/src/metabase_enterprise/advanced_config @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/advanced_config @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/advanced_permissions @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/advanced_permissions @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/airgap @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/airgap @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/api @metabase/devexp
enterprise/backend/test/metabase_enterprise/api @metabase/devexp

enterprise/backend/src/metabase_enterprise/audit_app @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/audit_app @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/auth_provider @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/auth_provider @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/billing @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/billing @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/cache @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/cache @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/content_verification @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/content_verification @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/core @metabase/devexp
enterprise/backend/test/metabase_enterprise/core @metabase/devexp

enterprise/backend/src/metabase_enterprise/dashboard_subscription_filters @metabase/core-workflows
enterprise/backend/test/metabase_enterprise/dashboard_subscription_filters @metabase/core-workflows

enterprise/backend/src/metabase_enterprise/enhancements @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/enhancements @metabase/core-backend-admin-webapp

# enterprise/backend/src/metabase_enterprise/llm
# enterprise/backend/test/metabase_enterprise/llm

enterprise/backend/src/metabase_enterprise/query_reference_validation @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/query_reference_validation @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/sandbox @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/sandbox @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/scim @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/scim @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/search @metabase/core-workflows
enterprise/backend/test/metabase_enterprise/search @metabase/core-workflows

enterprise/backend/src/metabase_enterprise/serialization @metabase/core-workflows
enterprise/backend/test/metabase_enterprise/serialization @metabase/core-workflows

enterprise/backend/src/metabase_enterprise/snippet_collections @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/snippet_collections @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/sso @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/sso @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/stale @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/stale @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/stats @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/stats @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/task @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/task @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/upload_management @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/upload_management @metabase/core-backend-admin-webapp

src/metabase/actions @metabase/core-backend-admin-webapp
test/metabase/actions @metabase/core-backend-admin-webapp

src/metabase/activity_feed @metabase/core-backend-admin-webapp
test/metabase/activity_feed @metabase/core-backend-admin-webapp

src/metabase/analytics @metabase/core-backend-admin-webapp
test/metabase/analytics @metabase/core-backend-admin-webapp

src/metabase/analyze @metabase/drivers
test/metabase/analyze @metabase/drivers

src/metabase/api @metabase/devexp
test/metabase/api @metabase/devexp

src/metabase/audit @metabase/core-backend-admin-webapp
test/metabase/audit @metabase/core-backend-admin-webapp

src/metabase/auth_provider @metabase/core-backend-admin-webapp
test/metabase/auth_provider @metabase/core-backend-admin-webapp

src/metabase/bookmarks @metabase/core-backend-admin-webapp
test/metabase/bookmarks @metabase/core-backend-admin-webapp

src/metabase/cmd @metabase/devexp
test/metabase/cmd @metabase/devexp

src/metabase/channel @metabase/core-workflows
test/metabase/channel @metabase/core-workflows

src/metabase/cloud_migration @metabase/core-workflows
test/metabase/cloud_migration @metabase/core-workflows

src/metabase/cmd @metabase/devexp
test/metabase/cmd @metabase/devexp

src/metabase/config @metabase/devexp
test/metabase/config @metabase/devexp

src/metabase/core @metabase/devexp
test/metabase/core @metabase/devexp

src/metabase/db @metabase/core-backend-admin-webapp
test/metabase/db @metabase/core-backend-admin-webapp

src/metabase/driver @metabase/drivers
test/metabase/driver @metabase/drivers

src/metabase/eid_translation @metabase/core-backend-admin-webapp
test/metabase/eid_translation @metabase/core-backend-admin-webapp

src/metabase/embed @metabase/embedding
test/metabase/embed @metabase/embedding

src/metabase/events @metabase/devexp
test/metabase/events @metabase/devexp

src/metabase/formatter @metabase/core-backend-querying
test/metabase/formatter @metabase/core-backend-querying

src/metabase/indexed_entities @metabase/core-backend-querying
test/metabase/indexed_entities @metabase/core-backend-querying

src/metabase/integrations @metabase/core-workflows
test/metabase/integrations @metabase/core-workflows

src/metabase/legacy_mbql @metabase/core-backend-querying
test/metabase/legacy_mbql @metabase/core-backend-querying

src/metabase/lib @metabase/core-backend-querying
test/metabase/lib @metabase/core-backend-querying

src/metabase/logger @metabase/devexp
test/metabase/logger @metabase/devexp

src/metabase/login_history @metabase/core-backend-admin-webapp
test/metabase/login_history @metabase/core-backend-admin-webapp

src/metabase/model_persistence @metabase/core-backend-querying
test/metabase/model_persistence @metabase/core-backend-querying

src/metabase/models @metabase/devexp
test/metabase/models @metabase/devexp

src/metabase/moderation @metabase/core-backend-admin-webapp
test/metabase/moderation @metabase/core-backend-admin-webapp

src/metabase/notification @metabase/core-workflows
test/metabase/notification @metabase/core-workflows

src/metabase/permissions @metabase/core-backend-admin-webapp
test/metabase/permissions @metabase/core-backend-admin-webapp

src/metabase/plugins @metabase/devexp
test/metabase/plugins @metabase/devexp

src/metabase/premium_features @metabase/core-backend-admin-webapp
test/metabase/premium_features @metabase/core-backend-admin-webapp

src/metabase/public_settings @metabase/core-backend-admin-webapp
test/metabase/public_settings @metabase/core-backend-admin-webapp

src/metabase/public_sharing @metabase/core-backend-admin-webapp
test/metabase/public_sharing @metabase/core-backend-admin-webapp

src/metabase/pulse @metabase/core-workflows
test/metabase/pulse @metabase/core-workflows

src/metabase/query_analysis @metabase/core-backend-querying
test/metabase/query_analysis @metabase/core-backend-querying

src/metabase/query_processor @metabase/core-backend-querying
test/metabase/query_processor @metabase/core-backend-querying

src/metabase/request @metabase/devexp
test/metabase/request @metabase/devexp

src/metabase/revisions @metabase/core-backend-admin-webapp
test/metabase/revisions @metabase/core-backend-admin-webapp

src/metabase/sample_data @metabase/core-backend-admin-webapp
test/metabase/sample_data @metabase/core-backend-admin-webapp

src/metabase/search @metabase/core-workflows
test/metabase/search @metabase/core-workflows

src/metabase/segments @metabase/core-backend-querying
test/metabase/segments @metabase/core-backend-querying

src/metabase/server @metabase/devexp
test/metabase/server @metabase/devexp

src/metabase/session @metabase/core-backend-admin-webapp
test/metabase/session @metabase/core-backend-admin-webapp

src/metabase/setup @metabase/core-backend-admin-webapp
test/metabase/setup @metabase/core-backend-admin-webapp

src/metabase/sso @metabase/core-backend-admin-webapp
test/metabase/sso @metabase/core-backend-admin-webapp

src/metabase/sync @metabase/drivers
test/metabase/sync @metabase/drivers

src/metabase/task @metabase/devexp
test/metabase/task @metabase/devexp

src/metabase/tiles @metabase/core-backend-dashviz
test/metabase/tiles @metabase/core-backend-dashviz

src/metabase/timeline @metabase/core-backend-dashviz
test/metabase/timeline @metabase/core-backend-dashviz

src/metabase/types @metabase/core-backend-querying
test/metabase/types @metabase/core-backend-querying

src/metabase/upload @metabase/core-backend-admin-webapp
test/metabase/upload @metabase/core-backend-admin-webapp

src/metabase/user_key_value @metabase/core-backend-admin-webapp
test/metabase/user_key_value @metabase/core-backend-admin-webapp

src/metabase/util @metabase/devexp
test/metabase/util @metabase/devexp

src/metabase/xrays @metabase/core-backend-querying
test/metabase/xrays @metabase/core-backend-querying
