Repository metabase/metabase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @metabase/embedding, @metabase/core-frontend-admin-webapp, @metabase/data, @filiphric, @metabase/devexp, @metabase/backend-developers, @metabase/drivers, @metabase/core-backend-admin-webapp, @metabase/core-workflows, @metabase/core-backend-querying, @metabase/core-backend-dashviz

.github/CODEOWNERS:

# Before changing this file, make sure you have read how we use it:
# https://www.notion.so/metabase/Pull-Request-Code-Review-Guide-374f05df889748b69d67af753f9bc9b8?pvs=4#36550c04ceab40b5a8b8bee6264b090c

enterprise/frontend/src/embedding-sdk @metabase/embedding
frontend/src/metabase/embedding-sdk @metabase/embedding
frontend/src/metabase/ui @metabase/core-frontend-admin-webapp
snowplow/* @metabase/data
e2e @filiphric

.github @metabase/devexp
.clj-kondo @metabase/devexp
deps.edn @metabase/backend-developers

#
# Backend modules <=> teams that own them
#

modules/drivers @metabase/drivers

enterprise/backend/src/metabase_enterprise/advanced_config @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/advanced_config @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/advanced_permissions @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/advanced_permissions @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/airgap @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/airgap @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/api @metabase/devexp
enterprise/backend/test/metabase_enterprise/api @metabase/devexp

enterprise/backend/src/metabase_enterprise/audit_app @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/audit_app @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/auth_provider @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/auth_provider @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/billing @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/billing @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/cache @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/cache @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/content_verification @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/content_verification @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/core @metabase/devexp
enterprise/backend/test/metabase_enterprise/core @metabase/devexp

enterprise/backend/src/metabase_enterprise/dashboard_subscription_filters @metabase/core-workflows
enterprise/backend/test/metabase_enterprise/dashboard_subscription_filters @metabase/core-workflows

enterprise/backend/src/metabase_enterprise/enhancements @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/enhancements @metabase/core-backend-admin-webapp

# enterprise/backend/src/metabase_enterprise/llm
# enterprise/backend/test/metabase_enterprise/llm

enterprise/backend/src/metabase_enterprise/query_reference_validation @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/query_reference_validation @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/sandbox @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/sandbox @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/scim @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/scim @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/search @metabase/core-workflows
enterprise/backend/test/metabase_enterprise/search @metabase/core-workflows

enterprise/backend/src/metabase_enterprise/serialization @metabase/core-workflows
enterprise/backend/test/metabase_enterprise/serialization @metabase/core-workflows

enterprise/backend/src/metabase_enterprise/snippet_collections @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/snippet_collections @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/sso @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/sso @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/stale @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/stale @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/stats @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/stats @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/task @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/task @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/upload_management @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/upload_management @metabase/core-backend-admin-webapp

src/metabase/actions @metabase/core-backend-admin-webapp
test/metabase/actions @metabase/core-backend-admin-webapp

src/metabase/activity_feed @metabase/core-backend-admin-webapp
test/metabase/activity_feed @metabase/core-backend-admin-webapp

src/metabase/analytics @metabase/core-backend-admin-webapp
test/metabase/analytics @metabase/core-backend-admin-webapp

src/metabase/analyze @metabase/drivers
test/metabase/analyze @metabase/drivers

src/metabase/api @metabase/devexp
test/metabase/api @metabase/devexp

src/metabase/audit @metabase/core-backend-admin-webapp
test/metabase/audit @metabase/core-backend-admin-webapp

src/metabase/auth_provider @metabase/core-backend-admin-webapp
test/metabase/auth_provider @metabase/core-backend-admin-webapp

src/metabase/bookmarks @metabase/core-backend-admin-webapp
test/metabase/bookmarks @metabase/core-backend-admin-webapp

src/metabase/cmd @metabase/devexp
test/metabase/cmd @metabase/devexp

src/metabase/channel @metabase/core-workflows
test/metabase/channel @metabase/core-workflows

src/metabase/cloud_migration @metabase/core-workflows
test/metabase/cloud_migration @metabase/core-workflows

src/metabase/cmd @metabase/devexp
test/metabase/cmd @metabase/devexp

src/metabase/config @metabase/devexp
test/metabase/config @metabase/devexp

src/metabase/core @metabase/devexp
test/metabase/core @metabase/devexp

src/metabase/db @metabase/core-backend-admin-webapp
test/metabase/db @metabase/core-backend-admin-webapp

src/metabase/driver @metabase/drivers
test/metabase/driver @metabase/drivers

src/metabase/eid_translation @metabase/core-backend-admin-webapp
test/metabase/eid_translation @metabase/core-backend-admin-webapp

src/metabase/embed @metabase/embedding
test/metabase/embed @metabase/embedding

src/metabase/events @metabase/devexp
test/metabase/events @metabase/devexp

src/metabase/formatter @metabase/core-backend-querying
test/metabase/formatter @metabase/core-backend-querying

src/metabase/indexed_entities @metabase/core-backend-querying
test/metabase/indexed_entities @metabase/core-backend-querying

src/metabase/integrations @metabase/core-workflows
test/metabase/integrations @metabase/core-workflows

src/metabase/legacy_mbql @metabase/core-backend-querying
test/metabase/legacy_mbql @metabase/core-backend-querying

src/metabase/lib @metabase/core-backend-querying
test/metabase/lib @metabase/core-backend-querying

src/metabase/logger @metabase/devexp
test/metabase/logger @metabase/devexp

src/metabase/login_history @metabase/core-backend-admin-webapp
test/metabase/login_history @metabase/core-backend-admin-webapp

src/metabase/model_persistence @metabase/core-backend-querying
test/metabase/model_persistence @metabase/core-backend-querying

src/metabase/models @metabase/devexp
test/metabase/models @metabase/devexp

src/metabase/moderation @metabase/core-backend-admin-webapp
test/metabase/moderation @metabase/core-backend-admin-webapp

src/metabase/notification @metabase/core-workflows
test/metabase/notification @metabase/core-workflows

src/metabase/permissions @metabase/core-backend-admin-webapp
test/metabase/permissions @metabase/core-backend-admin-webapp

src/metabase/plugins @metabase/devexp
test/metabase/plugins @metabase/devexp

src/metabase/premium_features @metabase/core-backend-admin-webapp
test/metabase/premium_features @metabase/core-backend-admin-webapp

src/metabase/public_settings @metabase/core-backend-admin-webapp
test/metabase/public_settings @metabase/core-backend-admin-webapp

src/metabase/public_sharing @metabase/core-backend-admin-webapp
test/metabase/public_sharing @metabase/core-backend-admin-webapp

src/metabase/pulse @metabase/core-workflows
test/metabase/pulse @metabase/core-workflows

src/metabase/query_analysis @metabase/core-backend-querying
test/metabase/query_analysis @metabase/core-backend-querying

src/metabase/query_processor @metabase/core-backend-querying
test/metabase/query_processor @metabase/core-backend-querying

src/metabase/request @metabase/devexp
test/metabase/request @metabase/devexp

src/metabase/revisions @metabase/core-backend-admin-webapp
test/metabase/revisions @metabase/core-backend-admin-webapp

src/metabase/sample_data @metabase/core-backend-admin-webapp
test/metabase/sample_data @metabase/core-backend-admin-webapp

src/metabase/search @metabase/core-workflows
test/metabase/search @metabase/core-workflows

src/metabase/segments @metabase/core-backend-querying
test/metabase/segments @metabase/core-backend-querying

src/metabase/server @metabase/devexp
test/metabase/server @metabase/devexp

src/metabase/session @metabase/core-backend-admin-webapp
test/metabase/session @metabase/core-backend-admin-webapp

src/metabase/setup @metabase/core-backend-admin-webapp
test/metabase/setup @metabase/core-backend-admin-webapp

src/metabase/sso @metabase/core-backend-admin-webapp
test/metabase/sso @metabase/core-backend-admin-webapp

src/metabase/sync @metabase/drivers
test/metabase/sync @metabase/drivers

src/metabase/task @metabase/devexp
test/metabase/task @metabase/devexp

src/metabase/tiles @metabase/core-backend-dashviz
test/metabase/tiles @metabase/core-backend-dashviz

src/metabase/timeline @metabase/core-backend-dashviz
test/metabase/timeline @metabase/core-backend-dashviz

src/metabase/types @metabase/core-backend-querying
test/metabase/types @metabase/core-backend-querying

src/metabase/upload @metabase/core-backend-admin-webapp
test/metabase/upload @metabase/core-backend-admin-webapp

src/metabase/user_key_value @metabase/core-backend-admin-webapp
test/metabase/user_key_value @metabase/core-backend-admin-webapp

src/metabase/util @metabase/devexp
test/metabase/util @metabase/devexp

src/metabase/xrays @metabase/core-backend-querying
test/metabase/xrays @metabase/core-backend-querying

Merged from maseter
  enterprise/backend/src/metabase_enterprise/sso/api/sso.clj
  enterprise/backend/src/metabase_enterprise/sso/integrations/saml.clj
  enterprise/backend/test/metabase_enterprise/sso/integrations/saml_test.clj
  src/metabase/server/middleware/session.clj
  src/metabase/session/api.clj
  src/metabase/session/models/session.clj
  src/metabase/util/encryption.clj
  test/metabase/login_history/api_test.clj
  test/metabase/models/user_test.clj
  test/metabase/server/middleware/auth_test.clj
  test/metabase/server/middleware/session_test.clj
  test/metabase/session/api_test.clj
  test/metabase/session/models/session_test.clj
  test/metabase/test/data/users.clj
  test/metabase/util/encryption_test.clj
Owners: @metabase/core-backend-admin-webapp, @metabase/devexp

Separate core_session.id from core_session.key_hashed
  enterprise/backend/src/metabase_enterprise/sso/api/sso.clj
  enterprise/backend/src/metabase_enterprise/sso/integrations/saml.clj
  enterprise/backend/test/metabase_enterprise/sso/integrations/saml_test.clj
  resources/migrations/001_update_migrations.yaml
  src/metabase/api/common.clj
  src/metabase/api/user.clj
  src/metabase/login_history/models/login_history.clj
  src/metabase/request/cookies.clj
  src/metabase/server/handler.clj
  src/metabase/server/middleware/session.clj
  src/metabase/session/api.clj
  src/metabase/session/models/session.clj
  src/metabase/setup/api.clj
  src/metabase/util/string.clj
  test/metabase/login_history/api_test.clj
  test/metabase/models/user_test.clj
  test/metabase/request/cookies_test.clj
  test/metabase/server/middleware/auth_test.clj
  test/metabase/server/middleware/session_test.clj
  test/metabase/session/api_test.clj
  test/metabase/session/models/session_test.clj
  test/metabase/test/data/users.clj
  test/metabase/test/util.clj
  test/metabase/util/encryption_test.clj
  test/metabase/util/string_test.clj
Owners: @metabase/core-backend-admin-webapp, @metabase/devexp

Memorize session-id -> hashing results
  src/metabase/session/models/session.clj
  test/metabase/session/models/session_test.clj
Owners: @metabase/core-backend-admin-webapp

Fixed query
  enterprise/backend/src/metabase_enterprise/sso/api/sso.clj
Owners: @metabase/core-backend-admin-webapp

Memorize session-id -> hashing results
  src/metabase/session/models/session.clj
Owners: @metabase/core-backend-admin-webapp

Merged fom main and fixed module setup
  .clj-kondo/config/modules/config.edn
  resources/migrations/001_update_migrations.yaml
Owners: @metabase/devexp

Memorize session-id -> hashing results
  src/metabase/session/models/session.clj
Owners: @metabase/core-backend-admin-webapp

Switched id in core_session to be hashed rather than plain-text
  enterprise/backend/src/metabase_enterprise/sso/api/sso.clj
  enterprise/backend/src/metabase_enterprise/sso/integrations/saml.clj
  enterprise/backend/test/metabase_enterprise/sso/integrations/saml_test.clj
  resources/migrations/001_update_migrations.yaml
  src/metabase/login_history/models/login_history.clj
  src/metabase/server/middleware/session.clj
  src/metabase/session/api.clj
  src/metabase/session/models/session.clj
  test/metabase/login_history/api_test.clj
  test/metabase/models/user_test.clj
  test/metabase/server/middleware/auth_test.clj
  test/metabase/server/middleware/session_test.clj
  test/metabase/session/api_test.clj
  test/metabase/session/models/session_test.clj
  test/metabase/test/data/users.clj
Owners: @metabase/core-backend-admin-webapp, @metabase/devexp

Better test of sso id + faster session-key hashing
  enterprise/backend/test/metabase_enterprise/sso/integrations/jwt_test.clj
  src/metabase/session/models/session.clj
Owners: @metabase/core-backend-admin-webapp

Rebasing from master
  enterprise/backend/src/metabase_enterprise/sso/api/sso.clj
  enterprise/backend/src/metabase_enterprise/sso/integrations/saml.clj
  enterprise/backend/test/metabase_enterprise/sso/integrations/saml_test.clj
  src/metabase/login_history/record.clj
  src/metabase/server/middleware/session.clj
  src/metabase/session/api.clj
  src/metabase/session/core.clj
  src/metabase/session/models/session.clj
  src/metabase/util/encryption.clj
  test/metabase/login_history/api_test.clj
  test/metabase/models/user_test.clj
  test/metabase/request/cookies_test.clj
  test/metabase/server/middleware/auth_test.clj
  test/metabase/server/middleware/session_test.clj
  test/metabase/session/api_test.clj
  test/metabase/session/models/session_test.clj
  test/metabase/test/data/users.clj
  test/metabase/util/encryption_test.clj
Owners: @metabase/core-backend-admin-webapp, @metabase/devexp

Fixed test failures
  resources/migrations/001_update_migrations.yaml
  src/metabase/setup/api.clj
  test/metabase/session/api_test.clj
Owners: @metabase/core-backend-admin-webapp

Fixed ci failures
  resources/migrations/001_update_migrations.yaml
  test/metabase/server/middleware/session_test.clj
Owners: @metabase/devexp

Fixed jwt not returning session key
  enterprise/backend/src/metabase_enterprise/sso/integrations/jwt.clj
Owners: @metabase/core-backend-admin-webapp

Centralized session-key validation in middleware
  enterprise/backend/src/metabase_enterprise/sso/api/sso.clj
  enterprise/backend/src/metabase_enterprise/sso/integrations/saml.clj
  src/metabase/api/common.clj
  src/metabase/server/middleware/session.clj
  src/metabase/session/api.clj
  src/metabase/util/string.clj
  test/metabase/server/middleware/session_test.clj
Owners: @metabase/core-backend-admin-webapp, @metabase/devexp

Fixed test failures
  resources/migrations/001_update_migrations.yaml
  src/metabase/setup/api.clj
Owners: @metabase/core-backend-admin-webapp

Fixed liquibase ordering
  resources/migrations/001_update_migrations.yaml
Owners: none

Fixed lint errors
  src/metabase/session/core.clj
  src/metabase/session/models/session.clj
Owners: @metabase/core-backend-admin-webapp

Update sample app ports in Embedding SDK quickstart guide
  docs/embedding/sdk/quickstart-with-sample-app.md
Owners: none

Update sample app ports in Embedding SDK quickstart guide
  docs/embedding/sdk/quickstart-with-sample-app.md
Owners: none

Update sample app ports in Embedding SDK quickstart guide
  docs/embedding/sdk/quickstart.md
Owners: none

[pivot] Use m.u.performance/juxt* when constructing pivots
  src/metabase/query_processor/pivot.clj
Owners: @metabase/core-backend-querying

[fingerprinters] Implement a more efficient version of kixi.stats/share
  src/metabase/analyze/fingerprint/fingerprinters.clj
Owners: @metabase/drivers

moduralize notification, tests are passing
  .clj-kondo/config.edn
  .clj-kondo/config/modules/config.edn
  deps.edn
  docs/api.html
  src/metabase/api/routes.clj
  src/metabase/channel/impl/email.clj
  src/metabase/db/custom_migrations.clj
  src/metabase/driver.clj
  src/metabase/events/notification.clj
  src/metabase/models/card.clj
  src/metabase/models/resolution.clj
  src/metabase/notification/api.clj
  src/metabase/notification/api/notification.clj
  src/metabase/notification/api/unsubscribe.clj
  src/metabase/notification/init.clj
  src/metabase/notification/models.clj
  src/metabase/notification/payload/core.clj
  src/metabase/notification/seed.clj
  src/metabase/notification/send.clj
  src/metabase/notification/task/send.clj
  src/metabase/pulse/api/alert.clj
  src/metabase/pulse/update_alerts.clj
  src/metabase/task/init.clj
  test/metabase/api/card_test.clj
  test/metabase/api/collection_test.clj
  test/metabase/db/custom_migrations/pulse_to_notification_test.clj
  test/metabase/events/notification_test.clj
  test/metabase/notification/api/notification_test.clj
  test/metabase/notification/api/unsubscribe_test.clj
  test/metabase/notification/models_test.clj
  test/metabase/notification/payload/impl/system_event_test.clj
  test/metabase/notification/seed_test.clj
  test/metabase/notification/send_test.clj
  test/metabase/notification/task/send_test.clj
  test/metabase/notification/test_util.clj
  test/metabase/pulse/api/alert_test.clj
Owners: @metabase/devexp, @metabase/backend-developers, @metabase/core-workflows, @metabase/core-backend-admin-webapp

Adjust condition 3 based on further discussions
  src/metabase/query_processor/middleware/metrics.clj
Owners: @metabase/core-backend-querying

Adjust error translations
  src/metabase/query_processor/middleware/metrics.clj
  test/metabase/query_processor/middleware/metrics_test.clj
Owners: @metabase/core-backend-querying

Adjust tests for translated errors
  test/metabase/query_processor/middleware/metrics_test.clj
Owners: @metabase/core-backend-querying

Add test
  test/metabase/query_processor/middleware/metrics_test.clj
Owners: @metabase/core-backend-querying

Add testcase for offset
  test/metabase/query_processor/middleware/metrics_test.clj
Owners: @metabase/core-backend-querying

cljfmt and kondo
  src/metabase/query_processor/middleware/metrics.clj
  test/metabase/query_processor/middleware/metrics_test.clj
Owners: @metabase/core-backend-querying

whitespace
  src/metabase/query_processor/middleware/metrics.clj
Owners: @metabase/core-backend-querying

Fix unit test
  frontend/src/metabase/query_builder/components/expressions/HighlightExpression/util.unit.spec.ts
Owners: none

Remove ace styles
  frontend/src/metabase/css/vendor.css
Owners: none

Remove ace-builds types
  frontend/src/types/ace-builds.d.ts
Owners: none

Remove ace-builds alias from webpack and rspack config
  rspack.config.js
  webpack.config.js
Owners: none

Remove ace mocks
  frontend/test/__support__/mocks.js
Owners: none

Remove ace packages
  package.json
  yarn.lock
Owners: none

Disable popular functions in completions
  frontend/src/metabase-lib/v1/expressions/complete/complete.ts
Owners: none

Remove shortcuts in suggestions popover
  frontend/src/metabase/query_builder/components/expressions/Editor/Editor.tsx
  frontend/src/metabase/query_builder/components/expressions/Editor/extensions.ts
Owners: none

Align UI more to design
  frontend/src/metabase/query_builder/components/expressions/Editor/Editor.module.css
  frontend/src/metabase/query_builder/components/expressions/Editor/Editor.tsx
  frontend/src/metabase/query_builder/components/expressions/Editor/extensions.ts
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.module.css
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.tsx
Owners: none

Move NameInput to separate component
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.module.css
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.tsx
  frontend/src/metabase/query_builder/components/expressions/NameInput/NameInput.module.css
  frontend/src/metabase/query_builder/components/expressions/NameInput/NameInput.tsx
  frontend/src/metabase/query_builder/components/expressions/NameInput/index.ts
  frontend/src/metabase/query_builder/components/expressions/NameInput/utils.ts
Owners: none
