Repository metabase/metabase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @camsaul, @tlrobinson, @kdoh, @paulrosenzweig, @mazameli

Fix duplicate tableMetadata
  frontend/src/metabase/admin/datamodel/components/database/MetricItem.jsx
Owners: @tlrobinson, @paulrosenzweig

Moved prop incorrectly
  frontend/src/metabase/admin/datamodel/components/database/MetricItem.jsx
Owners: @tlrobinson, @paulrosenzweig

Cleanup Join.js, implement auto condition picking for fks
  frontend/src/metabase-lib/lib/queries/structured/Join.js
  frontend/src/metabase/query_builder/components/notebook/steps/JoinStep.jsx
  frontend/test/metabase-lib/lib/queries/StructuredQuery-joins.unit.spec.js
Owners: @tlrobinson, @kdoh

Cleanup QuestionFilters
  frontend/src/metabase/components/Button.jsx
  frontend/src/metabase/query_builder/components/view/QuestionFilters.jsx
Owners: @kdoh, @tlrobinson

Don't show 'raw data' in view/notebook aggregation pickers
  frontend/src/metabase/query_builder/components/AggregationPopover.jsx
  frontend/src/metabase/query_builder/components/AggregationWidget.jsx
  frontend/src/metabase/query_builder/components/GuiQueryEditor.jsx
Owners: @tlrobinson, @kdoh

.github/CODEOWNERS:

*.clj @camsaul
*.js @tlrobinson
*.jsx @tlrobinson
*.css @kdoh
/frontend/ @tlrobinson @kdoh
/frontend/src/metabase/components/ @kdoh
/frontend/src/metabase/admin/datamodel/ @tlrobinson @paulrosenzweig
/frontend/src/metabase/entities/ @tlrobinson @paulrosenzweig
/frontend/src/metabase/lib/entities/ @tlrobinson @paulrosenzweig
/docs/ @mazameli
