Repository metabase/metabase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @metabase/embedding, @metabase/core-frontend-admin-webapp, @metabase/data, @filiphric, @metabase/devexp, @metabase/backend-developers, @metabase/drivers, @metabase/core-backend-admin-webapp, @metabase/core-workflows, @metabase/core-backend-querying, @metabase/core-backend-dashviz

Convert typeinferencer to typescript
  frontend/src/metabase-lib/v1/expressions/typeinferencer.ts
Owners: none

Remove legacy suggest code
  frontend/src/metabase-lib/v1/expressions/complete/complete.ts
  frontend/src/metabase-lib/v1/expressions/suggest.ts
  frontend/src/metabase-lib/v1/expressions/suggest.unit.spec.ts
Owners: none

Split up diagnostics
  frontend/src/metabase-lib/v1/expressions/diagnostics.ts
Owners: none

Split of lib check from diagnostics function
  frontend/src/metabase-lib/v1/expressions/diagnostics.ts
Owners: none

Simplify expressions import
  frontend/src/metabase-lib/v1/expressions/diagnostics.ts
  frontend/src/metabase-lib/v1/expressions/field-resolver.ts
  frontend/src/metabase-lib/v1/expressions/helper-text-strings.ts
  frontend/src/metabase-lib/v1/expressions/resolver.js
Owners: none

Move compiler to separate file
  frontend/src/metabase-lib/v1/expressions/compiler.ts
  frontend/src/metabase-lib/v1/expressions/diagnostics.ts
Owners: none

Remove unused options
  frontend/src/metabase-lib/v1/expressions/process.ts
  frontend/src/metabase/query_builder/components/expressions/Editor/Editor.tsx
  frontend/src/metabase/query_builder/components/expressions/Editor/extensions.ts
  frontend/src/metabase/query_builder/components/expressions/Editor/language.ts
  frontend/src/metabase/query_builder/components/expressions/Editor/utils.ts
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.tsx
Owners: none

Simplify branches
  frontend/src/metabase-lib/v1/expressions/diagnostics.ts
  frontend/src/metabase-lib/v1/expressions/types.ts
Owners: none

Fix type of mock env
  frontend/src/metabase-lib/v1/expressions/typeinferencer.unit.spec.ts
Owners: none

Add getExpressionMode helper
  frontend/src/metabase-lib/v1/expressions/diagnostics.ts
  frontend/src/metabase-lib/v1/expressions/utils.ts
Owners: none

Move resolveMBQLField to separate module
  frontend/src/metabase-lib/v1/expressions/diagnostics.ts
  frontend/src/metabase-lib/v1/expressions/field-resolver.ts
  frontend/src/metabase-lib/v1/expressions/process.ts
Owners: none

Move passes to separate file
  frontend/src/metabase-lib/v1/expressions/compiler.ts
  frontend/src/metabase-lib/v1/expressions/passes.ts
  frontend/src/metabase-lib/v1/expressions/pratt/common.ts
  frontend/src/metabase-lib/v1/expressions/pratt/compiler.ts
  frontend/src/metabase-lib/v1/expressions/process.ts
  frontend/src/metabase-lib/v1/expressions/recursive-parser.js
Owners: none

Remove unused arguments to compiler
  frontend/src/metabase-lib/v1/expressions/compiler.ts
  frontend/src/metabase-lib/v1/expressions/diagnostics.ts
  frontend/src/metabase/query_builder/components/expressions/Editor/Editor.tsx
  frontend/src/metabase/query_builder/components/expressions/Editor/utils.ts
Owners: none

Remove unused processSource helper
  frontend/src/metabase-lib/v1/expressions/process.ts
  frontend/src/metabase-lib/v1/expressions/process.unit.spec.ts
Owners: none

Return expression from diagnose
  frontend/src/metabase-lib/v1/expressions/diagnostics.ts
  frontend/src/metabase-lib/v1/expressions/diagnostics.unit.spec.ts
  frontend/src/metabase/query_builder/components/expressions/Editor/utils.ts
Owners: none

Make resolving optional in compiler
  frontend/src/metabase-lib/v1/expressions/compiler.ts
Owners: none

Fix types in passes
  frontend/src/metabase-lib/v1/expressions/passes.ts
  frontend/src/metabase-types/api/query.ts
Owners: none

Remove need for compare
  frontend/src/metabase-lib/v1/expressions/pratt/compiler.unit.spec.ts
Owners: none

Remove unused recursive-parser
  frontend/src/metabase-lib/v1/expressions/recursive-parser.js
  frontend/src/metabase-lib/v1/expressions/recursive-parser.unit.spec.ts
Owners: none

Add fuzz testing for compiler
  .github/workflows/fuzzing.yml
  frontend/src/metabase-lib/v1/expressions/fuzz.compiler.unit.spec.ts
Owners: @metabase/devexp

Remove compare and compareSeed
  frontend/src/metabase-lib/v1/expressions/pratt/common.ts
Owners: none

Use default parameters
  frontend/src/metabase-lib/v1/expressions/pratt/compiler.unit.spec.ts
Owners: none

Mock legacy mbql to clause in fuzz test
  frontend/src/metabase-lib/v1/expressions/fuzz.compiler.unit.spec.ts
Owners: none

Colocate helper with the tests that use it
  frontend/src/metabase-lib/v1/expressions/pratt/common.ts
  frontend/src/metabase-lib/v1/expressions/pratt/compiler.unit.spec.ts
Owners: none

Use compileExpression in formatter tests
  frontend/src/metabase-lib/v1/expressions/formatter/formatter.unit.spec.ts
Owners: none

Remove fuzz testing for recursive parser
  .github/workflows/fuzzing.yml
  frontend/src/metabase-lib/v1/expressions/fuzz.recursive-parser.unit.spec.ts
Owners: @metabase/devexp

Order compiler passes
  frontend/src/metabase-lib/v1/expressions/passes.ts
  frontend/src/metabase-lib/v1/expressions/pratt/compiler.unit.spec.ts
  frontend/src/metabase-lib/v1/expressions/typeinferencer.unit.spec.ts
Owners: none

Remove unused arguments
  frontend/src/metabase-lib/v1/expressions/pratt/common.ts
  frontend/src/metabase-lib/v1/expressions/pratt/compiler.unit.spec.ts
Owners: none

Use compileExpression in typeinferencer tests
  frontend/src/metabase-lib/v1/expressions/typeinferencer.unit.spec.ts
Owners: none

Move StartRule and ClauseType to metabase-lib/v1/expressions
  frontend/src/metabase-lib/v1/expressions/complete/complete.ts
  frontend/src/metabase-lib/v1/expressions/diagnostics.ts
  frontend/src/metabase-lib/v1/expressions/types.ts
  frontend/src/metabase/query_builder/components/expressions/Editor/Editor.tsx
  frontend/src/metabase/query_builder/components/expressions/Editor/extensions.ts
  frontend/src/metabase/query_builder/components/expressions/Editor/language.ts
  frontend/src/metabase/query_builder/components/expressions/Editor/utils.ts
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.tsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.unit.spec.tsx
  frontend/src/metabase/query_builder/components/expressions/NameInput/NameInput.tsx
  frontend/src/metabase/query_builder/components/expressions/NameInput/utils.ts
  frontend/src/metabase/query_builder/components/expressions/types.ts
Owners: none

Remove ace references in jest config
  jest.config.js
Owners: none

Move toolbar down
  frontend/src/metabase/query_builder/components/expressions/Editor/Editor.module.css
Owners: none

Remove ace global in jest mock
  frontend/test/__support__/mocks.js
Owners: none

Bump ch.qos.logback/logback-classic from 1.5.16 to 1.5.17
  deps.edn
Owners: @metabase/backend-developers

Bump cider/cider-nrepl from 0.52.0 to 0.52.1
  deps.edn
Owners: @metabase/backend-developers

Bump io.github.tonsky/clj-reload from 0.8.0 to 0.9.0
  deps.edn
Owners: @metabase/backend-developers

Bump metabase/saml20-clj from 2.2.7.173 to 3.0.0.175
  deps.edn
Owners: @metabase/backend-developers

Bump org.apache.sshd/sshd-core from 2.14.0 to 2.15.0
  deps.edn
Owners: @metabase/backend-developers

Bump org.slf4j/slf4j-api from 2.0.16 to 2.0.17
  deps.edn
Owners: @metabase/backend-developers

Bump com.google.cloud/google-cloud-bigquery from 2.48.0 to 2.48.1
  modules/drivers/bigquery-cloud-sdk/deps.edn
Owners: @metabase/drivers

.github/CODEOWNERS:

# Before changing this file, make sure you have read how we use it:
# https://www.notion.so/metabase/Pull-Request-Code-Review-Guide-374f05df889748b69d67af753f9bc9b8?pvs=4#36550c04ceab40b5a8b8bee6264b090c

enterprise/frontend/src/embedding-sdk @metabase/embedding
frontend/src/metabase/embedding-sdk @metabase/embedding
frontend/src/metabase/ui @metabase/core-frontend-admin-webapp
snowplow/* @metabase/data
e2e @filiphric

.github @metabase/devexp
.clj-kondo @metabase/devexp
deps.edn @metabase/backend-developers

#
# Backend modules <=> teams that own them
#

modules/drivers @metabase/drivers

enterprise/backend/src/metabase_enterprise/advanced_config @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/advanced_config @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/advanced_permissions @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/advanced_permissions @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/airgap @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/airgap @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/api @metabase/devexp
enterprise/backend/test/metabase_enterprise/api @metabase/devexp

enterprise/backend/src/metabase_enterprise/audit_app @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/audit_app @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/auth_provider @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/auth_provider @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/billing @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/billing @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/cache @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/cache @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/content_verification @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/content_verification @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/core @metabase/devexp
enterprise/backend/test/metabase_enterprise/core @metabase/devexp

enterprise/backend/src/metabase_enterprise/dashboard_subscription_filters @metabase/core-workflows
enterprise/backend/test/metabase_enterprise/dashboard_subscription_filters @metabase/core-workflows

enterprise/backend/src/metabase_enterprise/enhancements @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/enhancements @metabase/core-backend-admin-webapp

# enterprise/backend/src/metabase_enterprise/llm
# enterprise/backend/test/metabase_enterprise/llm

enterprise/backend/src/metabase_enterprise/query_reference_validation @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/query_reference_validation @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/sandbox @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/sandbox @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/scim @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/scim @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/search @metabase/core-workflows
enterprise/backend/test/metabase_enterprise/search @metabase/core-workflows

enterprise/backend/src/metabase_enterprise/serialization @metabase/core-workflows
enterprise/backend/test/metabase_enterprise/serialization @metabase/core-workflows

enterprise/backend/src/metabase_enterprise/snippet_collections @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/snippet_collections @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/sso @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/sso @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/stale @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/stale @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/stats @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/stats @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/task @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/task @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/upload_management @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/upload_management @metabase/core-backend-admin-webapp

src/metabase/actions @metabase/core-backend-admin-webapp
test/metabase/actions @metabase/core-backend-admin-webapp

src/metabase/activity_feed @metabase/core-backend-admin-webapp
test/metabase/activity_feed @metabase/core-backend-admin-webapp

src/metabase/analytics @metabase/core-backend-admin-webapp
test/metabase/analytics @metabase/core-backend-admin-webapp

src/metabase/analyze @metabase/drivers
test/metabase/analyze @metabase/drivers

src/metabase/api @metabase/devexp
test/metabase/api @metabase/devexp

src/metabase/audit @metabase/core-backend-admin-webapp
test/metabase/audit @metabase/core-backend-admin-webapp

src/metabase/auth_provider @metabase/core-backend-admin-webapp
test/metabase/auth_provider @metabase/core-backend-admin-webapp

src/metabase/bookmarks @metabase/core-backend-admin-webapp
test/metabase/bookmarks @metabase/core-backend-admin-webapp

src/metabase/cmd @metabase/devexp
test/metabase/cmd @metabase/devexp

src/metabase/channel @metabase/core-workflows
test/metabase/channel @metabase/core-workflows

src/metabase/cloud_migration @metabase/core-workflows
test/metabase/cloud_migration @metabase/core-workflows

src/metabase/cmd @metabase/devexp
test/metabase/cmd @metabase/devexp

src/metabase/config @metabase/devexp
test/metabase/config @metabase/devexp

src/metabase/core @metabase/devexp
test/metabase/core @metabase/devexp

src/metabase/db @metabase/core-backend-admin-webapp
test/metabase/db @metabase/core-backend-admin-webapp

src/metabase/driver @metabase/drivers
test/metabase/driver @metabase/drivers

src/metabase/eid_translation @metabase/core-backend-admin-webapp
test/metabase/eid_translation @metabase/core-backend-admin-webapp

src/metabase/embed @metabase/embedding
test/metabase/embed @metabase/embedding

src/metabase/events @metabase/devexp
test/metabase/events @metabase/devexp

src/metabase/formatter @metabase/core-backend-querying
test/metabase/formatter @metabase/core-backend-querying

src/metabase/indexed_entities @metabase/core-backend-querying
test/metabase/indexed_entities @metabase/core-backend-querying

src/metabase/integrations @metabase/core-workflows
test/metabase/integrations @metabase/core-workflows

src/metabase/legacy_mbql @metabase/core-backend-querying
test/metabase/legacy_mbql @metabase/core-backend-querying

src/metabase/lib @metabase/core-backend-querying
test/metabase/lib @metabase/core-backend-querying

src/metabase/logger @metabase/devexp
test/metabase/logger @metabase/devexp

src/metabase/login_history @metabase/core-backend-admin-webapp
test/metabase/login_history @metabase/core-backend-admin-webapp

src/metabase/model_persistence @metabase/core-backend-querying
test/metabase/model_persistence @metabase/core-backend-querying

src/metabase/models @metabase/devexp
test/metabase/models @metabase/devexp

src/metabase/moderation @metabase/core-backend-admin-webapp
test/metabase/moderation @metabase/core-backend-admin-webapp

src/metabase/notification @metabase/core-workflows
test/metabase/notification @metabase/core-workflows

src/metabase/permissions @metabase/core-backend-admin-webapp
test/metabase/permissions @metabase/core-backend-admin-webapp

src/metabase/plugins @metabase/devexp
test/metabase/plugins @metabase/devexp

src/metabase/premium_features @metabase/core-backend-admin-webapp
test/metabase/premium_features @metabase/core-backend-admin-webapp

src/metabase/public_settings @metabase/core-backend-admin-webapp
test/metabase/public_settings @metabase/core-backend-admin-webapp

src/metabase/public_sharing @metabase/core-backend-admin-webapp
test/metabase/public_sharing @metabase/core-backend-admin-webapp

src/metabase/pulse @metabase/core-workflows
test/metabase/pulse @metabase/core-workflows

src/metabase/query_analysis @metabase/core-backend-querying
test/metabase/query_analysis @metabase/core-backend-querying

src/metabase/query_processor @metabase/core-backend-querying
test/metabase/query_processor @metabase/core-backend-querying

src/metabase/request @metabase/devexp
test/metabase/request @metabase/devexp

src/metabase/revisions @metabase/core-backend-admin-webapp
test/metabase/revisions @metabase/core-backend-admin-webapp

src/metabase/sample_data @metabase/core-backend-admin-webapp
test/metabase/sample_data @metabase/core-backend-admin-webapp

src/metabase/search @metabase/core-workflows
test/metabase/search @metabase/core-workflows

src/metabase/segments @metabase/core-backend-querying
test/metabase/segments @metabase/core-backend-querying

src/metabase/server @metabase/devexp
test/metabase/server @metabase/devexp

src/metabase/session @metabase/core-backend-admin-webapp
test/metabase/session @metabase/core-backend-admin-webapp

src/metabase/setup @metabase/core-backend-admin-webapp
test/metabase/setup @metabase/core-backend-admin-webapp

src/metabase/sso @metabase/core-backend-admin-webapp
test/metabase/sso @metabase/core-backend-admin-webapp

src/metabase/sync @metabase/drivers
test/metabase/sync @metabase/drivers

src/metabase/task @metabase/devexp
test/metabase/task @metabase/devexp

src/metabase/tiles @metabase/core-backend-dashviz
test/metabase/tiles @metabase/core-backend-dashviz

src/metabase/timeline @metabase/core-backend-dashviz
test/metabase/timeline @metabase/core-backend-dashviz

src/metabase/types @metabase/core-backend-querying
test/metabase/types @metabase/core-backend-querying

src/metabase/upload @metabase/core-backend-admin-webapp
test/metabase/upload @metabase/core-backend-admin-webapp

src/metabase/user_key_value @metabase/core-backend-admin-webapp
test/metabase/user_key_value @metabase/core-backend-admin-webapp

src/metabase/util @metabase/devexp
test/metabase/util @metabase/devexp

src/metabase/xrays @metabase/core-backend-querying
test/metabase/xrays @metabase/core-backend-querying
