Repository metabase/metabase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @camsaul, @kdoh, @tlrobinson, @paulrosenzweig, @mazameli

.github/CODEOWNERS:

*.clj @camsaul
*.css @kdoh
/frontend/src @tlrobinson @kdoh
/frontend/src/metabase/components/ @kdoh
/frontend/src/metabase/admin/datamodel/ @tlrobinson @paulrosenzweig
/frontend/src/metabase/entities/ @tlrobinson @paulrosenzweig
/frontend/src/metabase/lib/entities/ @tlrobinson @paulrosenzweig
/docs/ @mazameli

Test fixes [ci druid]
  modules/drivers/druid/src/metabase/driver/druid/query_processor.clj
Owners: @camsaul

Fix file path in generate-sample-dataset (#10283)
  lein-commands/sample-dataset/metabase/sample_dataset/generate.clj
Owners: @camsaul

Support nested queries with 2+ of the same aggregation; improve metadata (#10289)
  modules/drivers/bigquery/src/metabase/driver/bigquery.clj
  modules/drivers/bigquery/test/metabase/driver/bigquery_test.clj
  modules/drivers/druid/src/metabase/driver/druid/query_processor.clj
  modules/drivers/mongo/src/metabase/driver/mongo/query_processor.clj
  modules/drivers/oracle/test/metabase/test/data/oracle.clj
  modules/drivers/snowflake/test/metabase/test/data/snowflake.clj
  project.clj
  src/metabase/driver/sql/query_processor.clj
  src/metabase/plugins/classloader.clj
  src/metabase/query_processor.clj
  src/metabase/query_processor/middleware/add_source_metadata.clj
  src/metabase/query_processor/middleware/annotate.clj
  src/metabase/query_processor/middleware/pre_alias_aggregations.clj
  src/metabase/query_processor/middleware/results_metadata.clj
  test/expectation_options.clj
  test/metabase/query_processor/middleware/add_source_metadata_test.clj
  test/metabase/query_processor/middleware/annotate_test.clj
  test/metabase/query_processor/middleware/parameters/mbql_test.clj
  test/metabase/query_processor/middleware/pre_alias_aggregations_test.clj
  test/metabase/query_processor_test.clj
  test/metabase/query_processor_test/aggregation_test.clj
  test/metabase/query_processor_test/breakout_test.clj
  test/metabase/query_processor_test/explicit_joins_test.clj
  test/metabase/query_processor_test/expressions_test.clj
  test/metabase/query_processor_test/nested_queries_test.clj
  test/metabase/test/data.clj
  test/metabase/test/data/interface.clj
  test/metabase/timeseries_query_processor_test.clj
Owners: @camsaul

Add ColumnFilter drill
  frontend/src/metabase/modes/components/drill/ColumnFilterDrill.jsx
  frontend/src/metabase/modes/components/drill/QuickFilterDrill.jsx
  frontend/src/metabase/modes/components/drill/index.js
Owners: @tlrobinson, @kdoh

Column summarize actions should open summarize sidebar
  frontend/src/metabase/modes/components/drill/FormatAction.jsx
  frontend/src/metabase/modes/components/drill/SummarizeColumnDrill.js
  frontend/src/metabase/query_builder/actions.js
  frontend/src/metabase/visualizations/components/ChartClickActions.jsx
Owners: @tlrobinson, @kdoh

Tweak summarize drill
  frontend/src/metabase/modes/components/drill/SummarizeColumnDrill.js
  frontend/src/metabase/query_builder/actions.js
  frontend/src/metabase/visualizations/components/ChartClickActions.jsx
  frontend/src/metabase/visualizations/lib/action.js
Owners: @tlrobinson, @kdoh

Fix embedded ruby example code (#10282)
  frontend/src/metabase/public/lib/code.js
Owners: @tlrobinson, @kdoh

show joined table in data source, don't query if opening in notebook, cleanup qb empty/running states
  frontend/src/metabase/query_builder/actions.js
  frontend/src/metabase/query_builder/components/QueryVisualization.jsx
  frontend/src/metabase/query_builder/components/view/QuestionDataSource.jsx
Owners: @tlrobinson, @kdoh

add tooltip to show/hide editor button
  frontend/src/metabase/query_builder/components/view/ViewHeader.jsx
Owners: @tlrobinson, @kdoh

Viz type and settings buttons
  frontend/src/metabase/query_builder/components/view/ViewButton.jsx
  frontend/src/metabase/query_builder/components/view/ViewFooter.jsx
  frontend/src/metabase/query_builder/components/view/ViewHeader.jsx
Owners: @tlrobinson, @kdoh

make viz buttons meidum size and remove viz settings tooltip
  frontend/src/metabase/query_builder/components/view/ViewFooter.jsx
Owners: @tlrobinson, @kdoh

temporarily switch notebook viewbutton back to regular button
  frontend/src/metabase/query_builder/components/view/ViewHeader.jsx
Owners: @tlrobinson, @kdoh

v0.33.0-preview2
  bin/version
Owners: none

Fix drill through of boolean fields in line/area/bar
  frontend/src/metabase/visualizations/lib/apply_tooltips.js
Owners: @tlrobinson, @kdoh

Don't show legend actions for breakout series
  frontend/src/metabase/query_builder/components/QueryVisualization.jsx
  frontend/src/metabase/query_builder/components/view/View.jsx
  frontend/src/metabase/visualizations/components/LegendHeader.jsx
Owners: @tlrobinson, @kdoh

Expand filters when adding
  frontend/src/metabase/query_builder/components/view/ViewHeader.jsx
Owners: @tlrobinson, @kdoh

Support distinct by two or more columns in druid
  modules/drivers/druid/src/metabase/driver/druid/query_processor.clj
  modules/drivers/druid/test/metabase/driver/druid_test.clj
Owners: @camsaul
