Repository metabase/metabase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @camsaul, @kdoh, @tlrobinson, @paulrosenzweig, @mazameli

Run tests against [ci sparksql]
  modules/drivers/sparksql/src/metabase/driver/sparksql.clj
Owners: @camsaul

refactor action button
  frontend/src/metabase/query_builder/components/notebook/NotebookStep.jsx
Owners: @tlrobinson, @kdoh

Remove u/drop-first-arg; rewirte Card filter functions as multimethod
  src/metabase/api/card.clj
  src/metabase/models/dashboard.clj
  src/metabase/util.clj
Owners: @camsaul

remove old images
  resources/frontend_client/app/assets/img/dash_empty_state.svg
  resources/frontend_client/app/assets/img/illustration_ask_question.png
  resources/frontend_client/app/assets/img/illustration_dashboard.png
  resources/frontend_client/app/assets/img/illustration_home.png
  resources/frontend_client/app/assets/img/illustration_question.png
  resources/frontend_client/app/assets/img/illustration_tables.png
  resources/frontend_client/app/assets/img/illustration_visualization_area.png
  resources/frontend_client/app/assets/img/illustration_visualization_bar.png
  resources/frontend_client/app/assets/img/illustration_visualization_country.png
  resources/frontend_client/app/assets/img/illustration_visualization_line.png
  resources/frontend_client/app/assets/img/illustration_visualization_pie.png
  resources/frontend_client/app/assets/img/illustration_visualization_scalar.png
  resources/frontend_client/app/assets/img/illustration_visualization_state.png
  resources/frontend_client/app/assets/img/illustration_visualization_table.png
  resources/frontend_client/app/assets/img/onboarding_illustration_dashboards.png
  resources/frontend_client/app/assets/img/onboarding_illustration_questions.png
  resources/frontend_client/app/assets/img/onboarding_illustration_tables.png
Owners: none

Spark SQL driver: read Hive database schema and partitionned tables (#9889)
  modules/drivers/sparksql/src/metabase/driver/sparksql.clj
Owners: @camsaul

Test fixes [ci drivers]
  modules/drivers/bigquery/test/metabase/driver/bigquery_test.clj
  modules/drivers/sqlserver/test/metabase/test/data/sqlserver.clj
  src/metabase/query_processor/middleware/annotate.clj
  test/metabase/query_processor/middleware/parameters/sql_test.clj
  test/metabase/query_processor/test_util.clj
  test/metabase/query_processor_test/remapping_test.clj
  test/metabase/test/data/impl.clj
Owners: @camsaul

Test fixes [ci drivers]
  src/metabase/models/dashboard.clj
  test/metabase/models/dashboard_test.clj
Owners: @camsaul

Test fix? [ci drivers]
  test/metabase/driver/sql_jdbc_test.clj
Owners: @camsaul

Use correct stage of query in summarize button and sidebar
  frontend/src/metabase-lib/lib/queries/StructuredQuery.js
  frontend/src/metabase/query_builder/components/view/QuestionSummaries.jsx
  frontend/src/metabase/query_builder/components/view/sidebars/SummarizeSidebar.jsx
  frontend/test/__support__/sample_dataset_fixture.js
  frontend/test/metabase-lib/lib/queries/StructuredQuery-nesting.unit.spec.js
Owners: @tlrobinson, @kdoh

Don't link to non-existent 'saved questions' db
  frontend/src/metabase/query_builder/components/view/QuestionDataSource.jsx
Owners: @tlrobinson, @kdoh

Some Pulses cleanup :shower:
  src/metabase/email/messages.clj
  src/metabase/pulse/render.clj
  src/metabase/pulse/render/color.clj
  src/metabase/pulse/render/common.clj
  src/metabase/pulse/render/datetime.clj
  src/metabase/pulse/render/png.clj
  src/metabase/pulse/render/style.clj
  src/metabase/util/date.clj
  test/metabase/pulse/render/color_test.clj
Owners: @camsaul

Improved aggregation names for column names
  src/metabase/query_processor/middleware/annotate.clj
  test/metabase/query_processor/middleware/annotate_test.clj
Owners: @camsaul

Separate table & image bundle namespaces
  src/metabase/pulse/render.clj
  src/metabase/pulse/render/common.clj
  src/metabase/pulse/render/image_bundle.clj
  src/metabase/pulse/render/table.clj
Owners: @camsaul

Separate body namespace
  src/metabase/pulse/render.clj
  src/metabase/pulse/render/body.clj
Owners: @camsaul

Fix locationChanged action, hopefully for good
  frontend/src/metabase/query_builder/actions.js
Owners: @tlrobinson, @kdoh

Fix tooltips on breakout multiseries
  frontend/src/metabase/lib/formatting.js
Owners: @tlrobinson, @kdoh

Pulse code refactoring [WIP]
  src/metabase/email/messages.clj
  src/metabase/pulse/render.clj
  src/metabase/pulse/render/body.clj
  src/metabase/pulse/render/common.clj
  src/metabase/pulse/render/datetime.clj
  src/metabase/pulse/render/image_bundle.clj
  src/metabase/pulse/render/sparkline.clj
  src/metabase/pulse/render/style.clj
  src/metabase/pulse/render/table.clj
  test/metabase/pulse/render/body_test.clj
  test/metabase/pulse/render/table_test.clj
  test/metabase/pulse/render/test_util.clj
  test/metabase/pulse_test.clj
Owners: @camsaul

Test fixes [ci drivers]
  modules/drivers/mongo/test/metabase/driver/mongo/util_test.clj
  modules/drivers/sqlserver/test/metabase/test/data/sqlserver.clj
  test/metabase/driver/sql_jdbc_test.clj
Owners: @camsaul

Test fixes :wrench:
  src/metabase/pulse/render/body.clj
  src/metabase/pulse/render/common.clj
  src/metabase/pulse/render/datetime.clj
  src/metabase/pulse/render/image_bundle.clj
  src/metabase/util/i18n.clj
  test/metabase/email_test.clj
Owners: @camsaul

Reorganize `pulse.render` code (#10263)
  src/metabase/email/messages.clj
  src/metabase/pulse/render.clj
  src/metabase/pulse/render/body.clj
  src/metabase/pulse/render/color.clj
  src/metabase/pulse/render/common.clj
  src/metabase/pulse/render/datetime.clj
  src/metabase/pulse/render/image_bundle.clj
  src/metabase/pulse/render/png.clj
  src/metabase/pulse/render/sparkline.clj
  src/metabase/pulse/render/style.clj
  src/metabase/pulse/render/table.clj
  src/metabase/util/date.clj
  src/metabase/util/i18n.clj
  test/metabase/email_test.clj
  test/metabase/pulse/render/body_test.clj
  test/metabase/pulse/render/color_test.clj
  test/metabase/pulse/render/table_test.clj
  test/metabase/pulse/render/test_util.clj
  test/metabase/pulse_test.clj
Owners: @camsaul

Test fixes :wrench: [ci drivers]
  modules/drivers/druid/test/metabase/driver/druid_test.clj
  modules/drivers/mongo/test/metabase/driver/mongo/util_test.clj
  test/metabase/driver/sql_jdbc_test.clj
Owners: @camsaul

Use Table.display_name for joined-field display_name in QP results [ci drivers]
  src/metabase/query_processor/middleware/annotate.clj
Owners: @camsaul

Use Table.display_name for joined-field display_name in QP results (#10265)
  src/metabase/query_processor/middleware/annotate.clj
Owners: @camsaul

Field refs (#10253)
  modules/drivers/bigquery/test/metabase/driver/bigquery_test.clj
  modules/drivers/druid/test/metabase/driver/druid_test.clj
  modules/drivers/googleanalytics/test/metabase/driver/googleanalytics_test.clj
  modules/drivers/mongo/test/metabase/driver/mongo/util_test.clj
  modules/drivers/mongo/test/metabase/driver/mongo_test.clj
  modules/drivers/sqlserver/test/metabase/test/data/sqlserver.clj
  project.clj
  src/metabase/api/card.clj
  src/metabase/models/dashboard.clj
  src/metabase/query_processor/middleware/add_implicit_joins.clj
  src/metabase/query_processor/middleware/annotate.clj
  src/metabase/util.clj
  test/metabase/api/dataset_test.clj
  test/metabase/api/embed_test.clj
  test/metabase/driver/sql_jdbc/native_test.clj
  test/metabase/driver/sql_jdbc_test.clj
  test/metabase/models/dashboard_test.clj
  test/metabase/query_processor/middleware/annotate_test.clj
  test/metabase/query_processor/middleware/parameters/sql_test.clj
  test/metabase/query_processor/test_util.clj
  test/metabase/query_processor_test.clj
  test/metabase/query_processor_test/aggregation_test.clj
  test/metabase/query_processor_test/breakout_test.clj
  test/metabase/query_processor_test/remapping_test.clj
  test/metabase/test/data/impl.clj
  test/metabase/test/data/interface.clj
Owners: @camsaul

Change table/viz toggle behavior and location
  frontend/src/metabase/components/ButtonBar.info.js
  frontend/src/metabase/components/ButtonBar.jsx
  frontend/src/metabase/query_builder/components/view/ViewFooter.jsx
  frontend/src/metabase/query_builder/containers/QueryBuilder.jsx
  frontend/src/metabase/query_builder/reducers.js
  frontend/src/metabase/query_builder/selectors.js
Owners: @kdoh, @tlrobinson

Fix footer layout
  frontend/src/metabase/query_builder/components/view/ViewFooter.jsx
Owners: @tlrobinson, @kdoh

remove old images (#10259)
  resources/frontend_client/app/assets/img/dash_empty_state.svg
  resources/frontend_client/app/assets/img/illustration_ask_question.png
  resources/frontend_client/app/assets/img/illustration_dashboard.png
  resources/frontend_client/app/assets/img/illustration_home.png
  resources/frontend_client/app/assets/img/illustration_question.png
  resources/frontend_client/app/assets/img/illustration_tables.png
  resources/frontend_client/app/assets/img/illustration_visualization_area.png
  resources/frontend_client/app/assets/img/illustration_visualization_bar.png
  resources/frontend_client/app/assets/img/illustration_visualization_country.png
  resources/frontend_client/app/assets/img/illustration_visualization_line.png
  resources/frontend_client/app/assets/img/illustration_visualization_pie.png
  resources/frontend_client/app/assets/img/illustration_visualization_scalar.png
  resources/frontend_client/app/assets/img/illustration_visualization_state.png
  resources/frontend_client/app/assets/img/illustration_visualization_table.png
  resources/frontend_client/app/assets/img/onboarding_illustration_dashboards.png
  resources/frontend_client/app/assets/img/onboarding_illustration_questions.png
  resources/frontend_client/app/assets/img/onboarding_illustration_tables.png
Owners: none

Fix package.json engines
  package.json
Owners: none

Experimental unified Dockerfile
  .dockerignore
  Dockerfile
  bin/start
Owners: none

pull yAxisSplit out of LineAreaBarRenderer and call from settings
  frontend/src/metabase/visualizations/lib/LineAreaBarRenderer.js
  frontend/src/metabase/visualizations/lib/settings/graph.js
  frontend/src/metabase/visualizations/lib/yAxisSplit.js
Owners: @tlrobinson, @kdoh

Filters in heading
  frontend/src/metabase/query_builder/components/view/QuestionFilters.jsx
  frontend/src/metabase/query_builder/components/view/ViewHeader.jsx
Owners: @tlrobinson, @kdoh

Move summarize and refresh buttons, misc polish
  frontend/src/metabase/query_builder/components/RunButton.jsx
  frontend/src/metabase/query_builder/components/view/QuestionFilters.jsx
  frontend/src/metabase/query_builder/components/view/QuestionSummaries.jsx
  frontend/src/metabase/query_builder/components/view/ViewHeader.jsx
  frontend/src/metabase/visualizations/components/LegendHeader.jsx
Owners: @tlrobinson, @kdoh

rename file
  frontend/src/metabase/visualizations/lib/settings/graph.js
  frontend/src/metabase/visualizations/lib/y_axis_split.js
Owners: @tlrobinson, @kdoh

pull utils into y-axis split
  frontend/src/metabase/visualizations/lib/utils.js
  frontend/src/metabase/visualizations/lib/y_axis_split.js
Owners: @tlrobinson, @kdoh

add initial tests
  frontend/test/metabase/visualizations/lib/y_axis_split.unit.spec.js
Owners: none

add test of left/right pinning
  frontend/test/metabase/visualizations/lib/y_axis_split.unit.spec.js
Owners: none

compute split tests
  frontend/src/metabase/visualizations/lib/y_axis_split.js
  frontend/test/metabase/visualizations/lib/y_axis_split.unit.spec.js
Owners: @tlrobinson, @kdoh

add regexpEscape instead of deprecated RegExp.excape
  frontend/src/metabase/admin/datamodel/components/database/MetadataSchemaList.jsx
  frontend/src/metabase/admin/datamodel/components/database/MetadataTableList.jsx
  frontend/src/metabase/lib/string.js
  frontend/test/metabase/lib/string.unit.spec.js
Owners: @tlrobinson, @paulrosenzweig, @kdoh

unify definition of yExtents
  frontend/src/metabase/visualizations/lib/LineAreaBarRenderer.js
Owners: @tlrobinson, @kdoh

delete accidental logs
  frontend/src/metabase/visualizations/lib/LineAreaBarRenderer.js
Owners: @tlrobinson, @kdoh

.github/CODEOWNERS:

*.clj @camsaul
*.css @kdoh
/frontend/src @tlrobinson @kdoh
/frontend/src/metabase/components/ @kdoh
/frontend/src/metabase/admin/datamodel/ @tlrobinson @paulrosenzweig
/frontend/src/metabase/entities/ @tlrobinson @paulrosenzweig
/frontend/src/metabase/lib/entities/ @tlrobinson @paulrosenzweig
/docs/ @mazameli
