Repository metabase/metabase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @metabase/embedding, @metabase/core-frontend-admin-webapp, @metabase/data, @filiphric, @metabase/devexp, @metabase/backend-developers, @metabase/drivers, @metabase/core-backend-admin-webapp, @metabase/core-workflows, @metabase/core-backend-querying, @metabase/core-backend-dashviz

.github/CODEOWNERS:

# Before changing this file, make sure you have read how we use it:
# https://www.notion.so/metabase/Pull-Request-Code-Review-Guide-374f05df889748b69d67af753f9bc9b8?pvs=4#36550c04ceab40b5a8b8bee6264b090c

enterprise/frontend/src/embedding-sdk @metabase/embedding
frontend/src/metabase/embedding-sdk @metabase/embedding
frontend/src/metabase/ui @metabase/core-frontend-admin-webapp
snowplow/* @metabase/data
e2e @filiphric

.github @metabase/devexp
.clj-kondo @metabase/devexp
deps.edn @metabase/backend-developers

#
# Backend modules <=> teams that own them
#

modules/drivers @metabase/drivers

enterprise/backend/src/metabase_enterprise/advanced_config @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/advanced_config @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/advanced_permissions @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/advanced_permissions @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/airgap @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/airgap @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/api @metabase/devexp
enterprise/backend/test/metabase_enterprise/api @metabase/devexp

enterprise/backend/src/metabase_enterprise/audit_app @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/audit_app @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/auth_provider @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/auth_provider @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/billing @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/billing @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/cache @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/cache @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/content_verification @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/content_verification @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/core @metabase/devexp
enterprise/backend/test/metabase_enterprise/core @metabase/devexp

enterprise/backend/src/metabase_enterprise/dashboard_subscription_filters @metabase/core-workflows
enterprise/backend/test/metabase_enterprise/dashboard_subscription_filters @metabase/core-workflows

enterprise/backend/src/metabase_enterprise/enhancements @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/enhancements @metabase/core-backend-admin-webapp

# enterprise/backend/src/metabase_enterprise/llm
# enterprise/backend/test/metabase_enterprise/llm

enterprise/backend/src/metabase_enterprise/query_reference_validation @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/query_reference_validation @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/sandbox @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/sandbox @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/scim @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/scim @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/search @metabase/core-workflows
enterprise/backend/test/metabase_enterprise/search @metabase/core-workflows

enterprise/backend/src/metabase_enterprise/serialization @metabase/core-workflows
enterprise/backend/test/metabase_enterprise/serialization @metabase/core-workflows

enterprise/backend/src/metabase_enterprise/snippet_collections @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/snippet_collections @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/sso @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/sso @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/stale @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/stale @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/stats @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/stats @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/task @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/task @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/upload_management @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/upload_management @metabase/core-backend-admin-webapp

src/metabase/actions @metabase/core-backend-admin-webapp
test/metabase/actions @metabase/core-backend-admin-webapp

src/metabase/activity_feed @metabase/core-backend-admin-webapp
test/metabase/activity_feed @metabase/core-backend-admin-webapp

src/metabase/analytics @metabase/core-backend-admin-webapp
test/metabase/analytics @metabase/core-backend-admin-webapp

src/metabase/analyze @metabase/drivers
test/metabase/analyze @metabase/drivers

src/metabase/api @metabase/devexp
test/metabase/api @metabase/devexp

src/metabase/audit @metabase/core-backend-admin-webapp
test/metabase/audit @metabase/core-backend-admin-webapp

src/metabase/auth_provider @metabase/core-backend-admin-webapp
test/metabase/auth_provider @metabase/core-backend-admin-webapp

src/metabase/bookmarks @metabase/core-backend-admin-webapp
test/metabase/bookmarks @metabase/core-backend-admin-webapp

src/metabase/cmd @metabase/devexp
test/metabase/cmd @metabase/devexp

src/metabase/channel @metabase/core-workflows
test/metabase/channel @metabase/core-workflows

src/metabase/cloud_migration @metabase/core-workflows
test/metabase/cloud_migration @metabase/core-workflows

src/metabase/cmd @metabase/devexp
test/metabase/cmd @metabase/devexp

src/metabase/config @metabase/devexp
test/metabase/config @metabase/devexp

src/metabase/core @metabase/devexp
test/metabase/core @metabase/devexp

src/metabase/db @metabase/core-backend-admin-webapp
test/metabase/db @metabase/core-backend-admin-webapp

src/metabase/driver @metabase/drivers
test/metabase/driver @metabase/drivers

src/metabase/eid_translation @metabase/core-backend-admin-webapp
test/metabase/eid_translation @metabase/core-backend-admin-webapp

src/metabase/embed @metabase/embedding
test/metabase/embed @metabase/embedding

src/metabase/events @metabase/devexp
test/metabase/events @metabase/devexp

src/metabase/formatter @metabase/core-backend-querying
test/metabase/formatter @metabase/core-backend-querying

src/metabase/indexed_entities @metabase/core-backend-querying
test/metabase/indexed_entities @metabase/core-backend-querying

src/metabase/integrations @metabase/core-workflows
test/metabase/integrations @metabase/core-workflows

src/metabase/legacy_mbql @metabase/core-backend-querying
test/metabase/legacy_mbql @metabase/core-backend-querying

src/metabase/lib @metabase/core-backend-querying
test/metabase/lib @metabase/core-backend-querying

src/metabase/logger @metabase/devexp
test/metabase/logger @metabase/devexp

src/metabase/login_history @metabase/core-backend-admin-webapp
test/metabase/login_history @metabase/core-backend-admin-webapp

src/metabase/model_persistence @metabase/core-backend-querying
test/metabase/model_persistence @metabase/core-backend-querying

src/metabase/models @metabase/devexp
test/metabase/models @metabase/devexp

src/metabase/moderation @metabase/core-backend-admin-webapp
test/metabase/moderation @metabase/core-backend-admin-webapp

src/metabase/notification @metabase/core-workflows
test/metabase/notification @metabase/core-workflows

src/metabase/permissions @metabase/core-backend-admin-webapp
test/metabase/permissions @metabase/core-backend-admin-webapp

src/metabase/plugins @metabase/devexp
test/metabase/plugins @metabase/devexp

src/metabase/premium_features @metabase/core-backend-admin-webapp
test/metabase/premium_features @metabase/core-backend-admin-webapp

src/metabase/public_settings @metabase/core-backend-admin-webapp
test/metabase/public_settings @metabase/core-backend-admin-webapp

src/metabase/public_sharing @metabase/core-backend-admin-webapp
test/metabase/public_sharing @metabase/core-backend-admin-webapp

src/metabase/pulse @metabase/core-workflows
test/metabase/pulse @metabase/core-workflows

src/metabase/query_analysis @metabase/core-backend-querying
test/metabase/query_analysis @metabase/core-backend-querying

src/metabase/query_processor @metabase/core-backend-querying
test/metabase/query_processor @metabase/core-backend-querying

src/metabase/request @metabase/devexp
test/metabase/request @metabase/devexp

src/metabase/revisions @metabase/core-backend-admin-webapp
test/metabase/revisions @metabase/core-backend-admin-webapp

src/metabase/sample_data @metabase/core-backend-admin-webapp
test/metabase/sample_data @metabase/core-backend-admin-webapp

src/metabase/search @metabase/core-workflows
test/metabase/search @metabase/core-workflows

src/metabase/segments @metabase/core-backend-querying
test/metabase/segments @metabase/core-backend-querying

src/metabase/server @metabase/devexp
test/metabase/server @metabase/devexp

src/metabase/session @metabase/core-backend-admin-webapp
test/metabase/session @metabase/core-backend-admin-webapp

src/metabase/setup @metabase/core-backend-admin-webapp
test/metabase/setup @metabase/core-backend-admin-webapp

src/metabase/sso @metabase/core-backend-admin-webapp
test/metabase/sso @metabase/core-backend-admin-webapp

src/metabase/sync @metabase/drivers
test/metabase/sync @metabase/drivers

src/metabase/task @metabase/devexp
test/metabase/task @metabase/devexp

src/metabase/tiles @metabase/core-backend-dashviz
test/metabase/tiles @metabase/core-backend-dashviz

src/metabase/timeline @metabase/core-backend-dashviz
test/metabase/timeline @metabase/core-backend-dashviz

src/metabase/types @metabase/core-backend-querying
test/metabase/types @metabase/core-backend-querying

src/metabase/upload @metabase/core-backend-admin-webapp
test/metabase/upload @metabase/core-backend-admin-webapp

src/metabase/user_key_value @metabase/core-backend-admin-webapp
test/metabase/user_key_value @metabase/core-backend-admin-webapp

src/metabase/util @metabase/devexp
test/metabase/util @metabase/devexp

src/metabase/xrays @metabase/core-backend-querying
test/metabase/xrays @metabase/core-backend-querying

Fix duplicates introduced by column sync (#54611)
  frontend/src/metabase/querying/viz-settings/utils/sync-viz-settings.ts
  frontend/src/metabase/querying/viz-settings/utils/sync-viz-settings.unit.spec.tsx
Owners: none

Fix duplicates introduced by column sync (#54611)
  frontend/src/metabase/querying/viz-settings/utils/sync-viz-settings.ts
  frontend/src/metabase/querying/viz-settings/utils/sync-viz-settings.unit.spec.tsx
Owners: none

Partial impl from effort adding support for row charts
  frontend/src/metabase/static-viz/components/RowChart/RowChart.tsx
  src/metabase/channel/render/body.clj
  src/metabase/channel/render/card.clj
Owners: @metabase/core-workflows

Repro for "Date filter translations: Key not being translated."
  e2e/test/scenarios/filters-reproductions/dashboard-filters-reproductions.cy.spec.js
Owners: @filiphric

Make :time-interval work with 0 instead of :current in the UI (#54604)
  frontend/src/metabase-lib/types.ts
  frontend/src/metabase/querying/filters/components/DatePicker/DateOperatorPicker/DateOperatorPicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/DateOperatorPicker/utils.ts
  frontend/src/metabase/querying/filters/components/DatePicker/DateOperatorPicker/utils.unit.spec.ts
  frontend/src/metabase/querying/filters/components/DatePicker/DatePicker.stories.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/DatePicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/DateShortcutPicker/DateShortcutPicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/DateShortcutPicker/constants.ts
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/CurrentDatePicker/CurrentDatePicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/CurrentDatePicker/utils.ts
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/DateIntervalPicker/DateIntervalPicker.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/DateIntervalPicker/DateIntervalPicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/DateIntervalPicker/SimpleDateIntervalPicker/SimpleDateIntervalPicker.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/DateIntervalPicker/SimpleDateIntervalPicker/SimpleDateIntervalPicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/DateIntervalPicker/utils.ts
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/DateOffsetIntervalPicker/DateOffsetIntervalPicker.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/DateOffsetIntervalPicker/DateOffsetIntervalPicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/DateOffsetIntervalPicker/utils.ts
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/IncludeCurrentSwitch/IncludeCurrentSwitch.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/RelativeDatePicker.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/RelativeDatePicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/types.ts
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/utils.ts
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/utils.unit.spec.ts
  frontend/src/metabase/querying/filters/components/DatePicker/SimpleDatePicker/SimpleDatePicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/FilterModal/DateFilterEditor/DateFilterEditor.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/FilterPicker/DateFilterPicker/DateFilterPicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/RelativeDateShortcutPicker/RelativeDateShortcutPicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/RelativeDateShortcutPicker/utils.ts
  frontend/src/metabase/querying/filters/components/TimeseriesChrome/TimeseriesFilterPicker/TimeseriesFilterPicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/types.ts
  frontend/src/metabase/querying/filters/utils/dates.unit.spec.ts
  frontend/src/metabase/querying/parameters/utils/dates.ts
  frontend/src/metabase/querying/parameters/utils/dates.unit.spec.ts
  src/metabase/lib/fe_util.cljc
  src/metabase/lib/filter.cljc
  src/metabase/lib/js.cljs
  test/metabase/lib/fe_util_test.cljc
  test/metabase/lib/filter_test.cljc
Owners: @metabase/core-backend-querying

Add "for React" to SDK in legalese modal and settings page (#54534) (#54618)
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/common.embedding.unit.spec.tsx
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/enterprise.embedding.unit.spec.tsx
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/premium.embedding.unit.spec.tsx
  frontend/src/metabase/admin/settings/components/EmbeddingSettings/EmbeddingSdkLegaleseModal/EmbeddingSdkLegaleseModal.tsx
  frontend/src/metabase/admin/settings/components/EmbeddingSettings/EmbeddingSdkSettings/EmbeddingSdkSettings.tsx
Owners: none

fix e2e viz tooltip assertion
  e2e/support/helpers/e2e-visual-tests-helpers.js
Owners: @filiphric

update question caching
  docs/configuring-metabase/caching.md
Owners: none

update alerts
  docs/questions/alerts.md
Owners: none

remove images
  docs/questions/images/goal-line-options.png
  docs/questions/images/the-wide-world-of-alerts.png
Owners: none

Fix e2e test
  e2e/test/scenarios/dashboard-cards/click-behavior.cy.spec.js
Owners: @filiphric

Fix duplicates introduced by column sync (#54611) (#54620)
  frontend/src/metabase/querying/viz-settings/utils/sync-viz-settings.ts
  frontend/src/metabase/querying/viz-settings/utils/sync-viz-settings.unit.spec.tsx
Owners: none

update screenshots
  .loki/reference/chrome_laptop_App_Embed_PublicOrEmbeddedDashboardView_filters_Dark_Theme_Date_Filter_All_Options.png
  .loki/reference/chrome_laptop_App_Embed_PublicOrEmbeddedDashboardView_filters_Dark_Theme_Date_Filter_Month_Year.png
  .loki/reference/chrome_laptop_App_Embed_PublicOrEmbeddedDashboardView_filters_Dark_Theme_Date_Filter_Relative.png
  .loki/reference/chrome_laptop_App_Embed_PublicOrEmbeddedDashboardView_filters_Dark_Theme_Date_Filter_Single.png
  .loki/reference/chrome_laptop_App_Embed_PublicOrEmbeddedDashboardView_filters_Dark_Theme_Unit_Of_Time.png
  .loki/reference/chrome_laptop_App_Embed_PublicOrEmbeddedDashboardView_filters_Light_Theme_Date_Filter_All_Options.png
  .loki/reference/chrome_laptop_App_Embed_PublicOrEmbeddedDashboardView_filters_Light_Theme_Date_Filter_Month_Year.png
  .loki/reference/chrome_laptop_App_Embed_PublicOrEmbeddedDashboardView_filters_Light_Theme_Date_Filter_Relative.png
  .loki/reference/chrome_laptop_App_Embed_PublicOrEmbeddedDashboardView_filters_Light_Theme_Date_Filter_Single.png
  .loki/reference/chrome_laptop_App_Embed_PublicOrEmbeddedDashboardView_filters_Light_Theme_Unit_Of_Time.png
Owners: none

Updating InputWithSelectPrefix to Mantine components (#54536)
  e2e/test/scenarios/admin-2/settings.cy.spec.js
  frontend/src/metabase/components/InputWithSelectPrefix/InputWithSelectPrefix.jsx
Owners: @filiphric

Updating InputWithSelectPrefix to Mantine components (#54536)
  e2e/test/scenarios/admin-2/settings.cy.spec.js
  frontend/src/metabase/components/InputWithSelectPrefix/InputWithSelectPrefix.jsx
Owners: @filiphric

Repro for "Date filter translations: Key not being translated" (#54619)
  e2e/test/scenarios/filters-reproductions/dashboard-filters-reproductions.cy.spec.js
Owners: @filiphric

Repro for "Date filter translations: Key not being translated" (#54619)
  e2e/test/scenarios/filters-reproductions/dashboard-filters-reproductions.cy.spec.js
Owners: @filiphric

Convert ColorRange + RuleBackground to Mantine
  frontend/src/metabase/core/components/ColorRange/ColorRange.stories.tsx
  frontend/src/metabase/core/components/ColorRange/ColorRange.styled.tsx
  frontend/src/metabase/core/components/ColorRange/ColorRange.tsx
  frontend/src/metabase/core/components/ColorRange/index.ts
  frontend/src/metabase/core/components/ColorRangeSelector/ColorRangeSelector.tsx
  frontend/src/metabase/core/components/ColorRangeSelector/ColorRangeToggle.styled.tsx
  frontend/src/metabase/core/components/ColorRangeSelector/ColorRangeToggle.tsx
  frontend/src/metabase/visualizations/components/settings/ChartSettingsTableFormatting/RuleBackground.tsx
Owners: none

Send "user_is_viewing" to the agent in the context
  enterprise/backend/src/metabase_enterprise/metabot_v3/tools/api.clj
Owners: none

Limit change to just dashboard last_viewed_at changes
  src/metabase/pulse/dashboard_subscription.clj
Owners: @metabase/core-workflows

Add "for React" to SDK in legalese modal and settings page (#54534) (#54617)
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/common.embedding.unit.spec.tsx
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/enterprise.embedding.unit.spec.tsx
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/premium.embedding.unit.spec.tsx
  frontend/src/metabase/admin/settings/components/EmbeddingSettings/EmbeddingSdkLegaleseModal/EmbeddingSdkLegaleseModal.tsx
  frontend/src/metabase/admin/settings/components/EmbeddingSettings/EmbeddingSdkSettings/EmbeddingSdkSettings.tsx
Owners: none

Temp
  enterprise/frontend/src/metabase-enterprise/data_editing/tables/TableDataContainer.tsx
  enterprise/frontend/src/metabase-enterprise/data_editing/tables/TableDataView.tsx
  enterprise/frontend/src/metabase-enterprise/data_editing/tables/use-table-editing.tsx
  frontend/src/metabase/data-grid/components/DataGrid/DataGrid.tsx
  frontend/src/metabase/data-grid/types.ts
Owners: none

fix: close date filter on esc (#54499)
  .loki/reference/chrome_laptop_App_Embed_PublicOrEmbeddedDashboardView_filters_Dark_Theme_Date_Filter_All_Options.png
  .loki/reference/chrome_laptop_App_Embed_PublicOrEmbeddedDashboardView_filters_Dark_Theme_Date_Filter_Month_Year.png
  .loki/reference/chrome_laptop_App_Embed_PublicOrEmbeddedDashboardView_filters_Dark_Theme_Date_Filter_Relative.png
  .loki/reference/chrome_laptop_App_Embed_PublicOrEmbeddedDashboardView_filters_Dark_Theme_Date_Filter_Single.png
  .loki/reference/chrome_laptop_App_Embed_PublicOrEmbeddedDashboardView_filters_Dark_Theme_Unit_Of_Time.png
  .loki/reference/chrome_laptop_App_Embed_PublicOrEmbeddedDashboardView_filters_Light_Theme_Date_Filter_All_Options.png
  .loki/reference/chrome_laptop_App_Embed_PublicOrEmbeddedDashboardView_filters_Light_Theme_Date_Filter_Month_Year.png
  .loki/reference/chrome_laptop_App_Embed_PublicOrEmbeddedDashboardView_filters_Light_Theme_Date_Filter_Relative.png
  .loki/reference/chrome_laptop_App_Embed_PublicOrEmbeddedDashboardView_filters_Light_Theme_Date_Filter_Single.png
  .loki/reference/chrome_laptop_App_Embed_PublicOrEmbeddedDashboardView_filters_Light_Theme_Unit_Of_Time.png
  e2e/test/scenarios/dashboard/dashboard-reproductions.cy.spec.js
  frontend/src/metabase/parameters/components/ParameterValueWidget.tsx
Owners: @filiphric

Add backport resolution script
  backport.sh
Owners: none

update placeholders
  modules/drivers/presto-jdbc/resources/metabase-plugin.yaml
  modules/drivers/sqlite/resources/metabase-plugin.yaml
Owners: @metabase/drivers

try again to fix e2e test
  e2e/test/scenarios/dashboard-cards/click-behavior.cy.spec.js
Owners: @filiphric

fix(sdk): Fix ColorSelector in Conditional Formatting (#54402)
  frontend/src/metabase/core/components/ColorSelector/ColorSelector.tsx
  frontend/src/metabase/visualizations/components/settings/ChartSettingsTableFormatting/RuleEditor.tsx
Owners: none

fix(sdk): Fix ColorSelector in Conditional Formatting (#54402)
  frontend/src/metabase/core/components/ColorSelector/ColorSelector.tsx
  frontend/src/metabase/visualizations/components/settings/ChartSettingsTableFormatting/RuleEditor.tsx
Owners: none

Add backport resolution script
  backport.sh
Owners: none

Repro for "Date filter translations: Key not being translated" (#54619) (#54622)
  e2e/test/scenarios/filters-reproductions/dashboard-filters-reproductions.cy.spec.js
Owners: @filiphric

Tests all pass
  e2e/support/helpers/e2e-ad-hoc-question-helpers.js
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
  e2e/test/scenarios/permissions/sandboxing/helpers/types.ts
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
  frontend/src/metabase-types/api/dataset.ts
Owners: @filiphric

Add another assertion
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
Owners: @filiphric

rename functions and fix type error
  e2e/support/helpers/e2e-ad-hoc-question-helpers.js
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

Test sandboxing of filter values
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

Use a less weird looking filter id
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

Move filter value test
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

Remove duplicate data
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

just bash it
  .github/actions/fetch-artifact/action.yml
Owners: @metabase/devexp

Guard enforced-sandboxes-for-user against nil user-ids (#54605)
  e2e/test/scenarios/dashboard-cards/click-behavior.cy.spec.js
  enterprise/backend/src/metabase_enterprise/sandbox/api/util.clj
  test/metabase/api/embed_test.clj
Owners: @filiphric, @metabase/core-backend-admin-webapp, @metabase/devexp

Build multi-arch arm images (#54156)
  .github/actions/fetch-artifact/action.yml
  .github/workflows/containerize-jar.yml
  .github/workflows/pre-release.yml
  .github/workflows/tag-for-release.yml
  release/src/version-helpers.ts
  release/src/version-helpers.unit.spec.ts
Owners: @metabase/devexp
