Repository metabase/metabase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @camsaul, @sbelak, @kdoh, @tlrobinson, @paulrosenzweig, @mazameli

Oracle: proper cleanup [ci drivers]
  modules/drivers/oracle/test/metabase/driver/oracle_test.clj
  modules/drivers/snowflake/test/metabase/driver/snowflake_test.clj
Owners: @camsaul

Oracle is case sensitive :( [ci drivers]
  modules/drivers/oracle/test/metabase/driver/oracle_test.clj
  modules/drivers/snowflake/test/metabase/driver/snowflake_test.clj
Owners: @camsaul

Make default per DB, seed database_position during migration [ci drivers]
  resources/migrations/000_migrations.yaml
  src/metabase/driver.clj
  src/metabase/models/table.clj
Owners: @camsaul

set SelectButton min-width to 200 in FormSelectWidget
  frontend/src/metabase/components/form/widgets/FormSelectWidget.jsx
Owners: @kdoh

snowflake: create a dummy user [ci snowflake]
  modules/drivers/snowflake/test/metabase/driver/snowflake_test.clj
Owners: @camsaul

.scroll-y replaced with sidebar() helper
  frontend/test/__support__/cypress.js
  frontend/test/metabase-smoketest/admin.cy.spec.js
  frontend/test/metabase-smoketest/user.cy.spec.js
Owners: none

set SelectButton min-width to 200 in FormSelectWidget (#12763)
  frontend/src/metabase/components/form/widgets/FormSelectWidget.jsx
Owners: @kdoh

spacing fixes
  frontend/src/metabase/query_builder/components/NativeQueryEditor.jsx
  frontend/src/metabase/query_builder/components/template_tags/SnippetSidebar.jsx
Owners: @tlrobinson

put a maxheight on sql in sidebar
  frontend/src/metabase/query_builder/components/template_tags/SnippetSidebar.jsx
Owners: @tlrobinson

Test for privilege inheritance [ci drivers]
  modules/drivers/oracle/test/metabase/driver/oracle_test.clj
  modules/drivers/presto/test/metabase/driver/presto_test.clj
  modules/drivers/redshift/src/metabase/driver/redshift.clj
  modules/drivers/redshift/test/metabase/driver/redshift_test.clj
  modules/drivers/snowflake/test/metabase/driver/snowflake_test.clj
  modules/drivers/sqlserver/test/metabase/driver/sqlserver_test.clj
  modules/drivers/vertica/test/metabase/driver/vertica_test.clj
  src/metabase/driver/postgres.clj
  test/metabase/driver/mysql_test.clj
  test/metabase/driver/postgres_test.clj
Owners: @camsaul

Fix tests [ci drivers]
  modules/drivers/redshift/test/metabase/driver/redshift_test.clj
  modules/drivers/sqlserver/test/metabase/driver/sqlserver_test.clj
  modules/drivers/vertica/test/metabase/driver/vertica_test.clj
  test/metabase/driver/mysql_test.clj
  test/metabase/driver/postgres_test.clj
Owners: @camsaul

styling for sql box in modal
  frontend/src/metabase/entities/snippets.js
Owners: @tlrobinson, @paulrosenzweig

updated screenshots for SQL editor
  docs/administration-guide/sql-snippets.md
  docs/users-guide/images/SQL-filter-widget.png
  docs/users-guide/images/SQLInterface.png
  docs/users-guide/sql-snippets.md
  docs/users-guide/writing-sql.md
Owners: @mazameli

Fix tests [ci drivers]
  modules/drivers/redshift/test/metabase/driver/redshift_test.clj
  modules/drivers/sqlserver/test/metabase/driver/sqlserver_test.clj
  test/metabase/driver/mysql_test.clj
  test/metabase/driver/postgres_test.clj
Owners: @camsaul

Fix filter picker too, thanks Paul
  frontend/src/metabase/query_builder/components/filters/FilterPopover.jsx
Owners: @tlrobinson

start menu link
  docs/users-guide/sql-snippets.md
  docs/users-guide/start.md
Owners: @mazameli

link to snippet page from writing-sql
  docs/users-guide/writing-sql.md
Owners: @mazameli

caution callouts for editing snippets
  docs/users-guide/sql-snippets.md
Owners: @mazameli

changes for 2nd review
  frontend/test/__support__/cypress.js
  frontend/test/metabase-smoketest/admin.cy.spec.js
  frontend/test/metabase-smoketest/admin_setup.cy.spec.js
  frontend/test/metabase-smoketest/user.cy.spec.js
Owners: none

Fixing flow lint
  frontend/src/metabase/query_builder/components/DimensionList.jsx
Owners: @tlrobinson

mongodb connection string
  docs/administration-guide/databases/mongodb.md
Owners: @mazameli

Use the correct driver flag [ci drivers]
  modules/drivers/redshift/test/metabase/driver/redshift_test.clj
  modules/drivers/sqlserver/test/metabase/driver/sqlserver_test.clj
  modules/drivers/vertica/test/metabase/driver/vertica_test.clj
  test/metabase/driver/mysql_test.clj
  test/metabase/driver/postgres_test.clj
Owners: @camsaul

update bq image with redesigned button
  docs/administration-guide/images/bigquery_add_database.png
Owners: @mazameli

connection string update
  docs/administration-guide/databases/mongodb.md
Owners: @mazameli

make chart titles clickable, add back description and ellipses
  frontend/src/metabase/meta/types/Visualization.js
  frontend/src/metabase/visualizations/components/LineAreaBarChart.jsx
  frontend/src/metabase/visualizations/components/TitleLegendHeader.jsx
Owners: @tlrobinson

email fails - fix when circle CI is set up
  frontend/test/metabase-smoketest/admin_setup.cy.spec.js
Owners: none

Fix selector scroll jankyness (#12756)
  frontend/src/metabase/components/AccordionList.jsx
  frontend/src/metabase/query_builder/components/DataSelector.jsx
  frontend/src/metabase/query_builder/components/DimensionList.jsx
  frontend/src/metabase/query_builder/components/filters/FilterPopover.jsx
Owners: @kdoh, @tlrobinson

prettier admin_setup
  frontend/test/metabase-smoketest/admin_setup.cy.spec.js
Owners: none

https redirect
  docs/administration-guide/08-configuration-settings.md
Owners: @mazameli

Postgres: correctly handle foreign tables [ci drivers]
  modules/drivers/redshift/test/metabase/driver/redshift_test.clj
  src/metabase/driver/postgres.clj
  test/metabase/driver/mysql_test.clj
  test/metabase/driver/postgres_test.clj
Owners: @camsaul

moved edit/unarchive button and fix chevron hover behavior
  frontend/src/metabase/query_builder/components/template_tags/SnippetSidebar.jsx
Owners: @tlrobinson

title format
  docs/users-guide/05-visualizing-results.md
Owners: @mazameli

pr feedback
  frontend/src/metabase/dashboard/dashboard.js
Owners: @tlrobinson

Update permissions logic for NativeQuerySnippets
  src/metabase/api/native_query_snippet.clj
  src/metabase/models/native_query_snippet.clj
  test/metabase/api/native_query_snippet_test.clj
Owners: @camsaul

Update frontend/test/metabase-smoketest/admin.cy.spec.js
  frontend/test/metabase-smoketest/admin.cy.spec.js
Owners: none

Update frontend/test/metabase-smoketest/user.cy.spec.js
  frontend/test/metabase-smoketest/user.cy.spec.js
Owners: none

prettier
  frontend/test/metabase-smoketest/admin.cy.spec.js
Owners: none

Issue numbers added to comments
  frontend/test/metabase-smoketest/admin.cy.spec.js
  frontend/test/metabase-smoketest/admin_setup.cy.spec.js
  frontend/test/metabase-smoketest/user.cy.spec.js
Owners: none

Make sure dashboard Text cards have scrollbar
  frontend/src/metabase/dashboard/components/DashCard.jsx
  frontend/src/metabase/visualizations/visualizations/Text.jsx
Owners: @tlrobinson

Fix z-order for all auth wrappers, so the boat animation doesn't overlay
  frontend/src/metabase/auth/containers/ForgotPasswordApp.jsx
  frontend/src/metabase/auth/containers/PasswordResetApp.jsx
Owners: @tlrobinson

.github/CODEOWNERS:

*.clj @camsaul
/src/metabase/automagic_dashboards/ @sbelak
/test/metabase/automagic_dashboards/ @sbelak
/src/metabase/transform/ @sbelak
/test/metabase/transform/ @sbelak
/src/metabase/sync/ @camsaul @sbelak
/test/metabase/sync/ @camsaul @sbelak
*.css @kdoh
/frontend/src @tlrobinson
/frontend/src/metabase/components/ @kdoh
/frontend/src/metabase/admin/datamodel/ @tlrobinson @paulrosenzweig
/frontend/src/metabase/entities/ @tlrobinson @paulrosenzweig
/frontend/src/metabase/lib/entities/ @tlrobinson @paulrosenzweig
/docs/ @mazameli
