Repository metabase/metabase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @camsaul, @sbelak, @kdoh, @tlrobinson, @paulrosenzweig, @mazameli

fix dataselector incremental load test
  frontend/test/metabase/scenarios/question/loading.cy.spec.js
Owners: none

Fix-up indentation of lists in ReactMarkdown (#12264)
  frontend/src/metabase/visualizations/visualizations/Text.css
Owners: @tlrobinson

fix test by using correct category field id
  frontend/test/metabase/scenarios/public/public.cy.spec.js
Owners: none

correct setup step numbers
  frontend/src/metabase/setup/components/DatabaseConnectionStep.jsx
  frontend/src/metabase/setup/components/PreferencesStep.jsx
Owners: @tlrobinson

Adjust dashboard card title hover (#12318)
  frontend/src/metabase/visualizations/components/LegendHeader.jsx
Owners: @tlrobinson

remove tests around default chart values for bar charts
  frontend/test/metabase/visualizations/lib/settings/visualization.unit.spec.js
Owners: none

Apply suggestions from Jeff [ci skip]
  README.md
  docs/administration-guide/01-managing-databases.md
  docs/operations-guide/encrypting-database-details-at-rest.md
  docs/operations-guide/java-versions.md
  docs/operations-guide/migrating-from-h2.md
  docs/operations-guide/running-the-metabase-jar-file.md
  docs/users-guide/13-sql-parameters.md
Owners: @mazameli

Support for externally linked tables
  modules/drivers/redshift/project.clj
  modules/drivers/redshift/test/metabase/driver/redshift_test.clj
  src/metabase/driver/sql_jdbc/sync.clj
  test/metabase/test/data/interface.clj
Owners: @camsaul

check for clicks on all .ace_selection elements
  frontend/src/metabase/query_builder/components/NativeQueryEditor.jsx
Owners: @tlrobinson

correct setup step numbers (#12749)
  frontend/src/metabase/setup/components/DatabaseConnectionStep.jsx
  frontend/src/metabase/setup/components/PreferencesStep.jsx
Owners: @tlrobinson

Remove duplicate Java sections and change sandbox paragraph (Jeff suggestions) [ci skip]
  README.md
  docs/enterprise-guide/data-sandboxes.md
  docs/operations-guide/java-versions.md
  docs/operations-guide/running-the-metabase-jar-file.md
Owners: @mazameli

Add basic functionality for multi-series chart values (#12645)
  frontend/src/metabase/css/dashboard.css
  frontend/src/metabase/visualizations/components/ChartSettings.jsx
  frontend/src/metabase/visualizations/components/LineAreaBarChart.css
  frontend/src/metabase/visualizations/components/settings/ChartNestedSettingSeries.jsx
  frontend/src/metabase/visualizations/lib/LineAreaBarPostRender.js
  frontend/src/metabase/visualizations/lib/LineAreaBarRenderer.js
  frontend/src/metabase/visualizations/lib/chart_values.js
  frontend/src/metabase/visualizations/lib/settings/graph.js
  frontend/src/metabase/visualizations/lib/settings/series.js
  frontend/src/metabase/visualizations/visualizations/AreaChart.jsx
  frontend/src/metabase/visualizations/visualizations/BarChart.jsx
  frontend/src/metabase/visualizations/visualizations/ComboChart.jsx
  frontend/src/metabase/visualizations/visualizations/LineChart.jsx
  frontend/src/metabase/visualizations/visualizations/RowChart.jsx
  frontend/src/metabase/visualizations/visualizations/ScatterPlot.jsx
  frontend/test/metabase/visualizations/lib/settings/visualization.unit.spec.js
Owners: @tlrobinson

reduce min-width of selects
  frontend/src/metabase/css/admin.css
Owners: @tlrobinson

update just inserted snippet's template tag with snippet id
  frontend/src/metabase/query_builder/actions.js
Owners: @tlrobinson

reduce min-width of selects (#12751)
  frontend/src/metabase/css/admin.css
Owners: @tlrobinson

Handke snippet-id; better msgs for create/update Snippet with dupe name
  src/metabase/api/native_query_snippet.clj
  src/metabase/driver/common/parameters.clj
  src/metabase/driver/common/parameters/values.clj
  src/metabase/driver/sql/parameters/substitute.clj
  src/metabase/driver/sql/parameters/substitution.clj
  src/metabase/models.clj
  test/metabase/api/native_query_snippet_test.clj
  test/metabase/driver/common/parameters/values_test.clj
  test/metabase/driver/sql/parameters/substitute_test.clj
  test/metabase/query_processor/middleware/parameters_test.clj
  test/metabase/test/util.clj
Owners: @camsaul

Fix migrations for MySQL/MariaDB again -- work around weird Liquibase behavior
  java/metabase/db/liquibase/MetabaseMySqlCreateTableSqlGenerator.java
  resources/migrations/000_migrations.yaml
Owners: none

Write some more tests to make CodeCov happy
  test/metabase/driver/common/parameters/values_test.clj
  test/metabase/models/native_query_snippet_test.clj
Owners: @camsaul

typo
  docs/administration-guide/databases/bigquery.md
Owners: @mazameli

global, field, question formatting settings
  docs/administration-guide/08-configuration-settings.md
  docs/administration-guide/19-formatting-settings.md
  docs/administration-guide/localization.md
  docs/administration-guide/start.md
Owners: @mazameli

Add scroll to Notebook column popover
  frontend/src/metabase/query_builder/components/notebook/steps/FieldsPicker.jsx
Owners: @tlrobinson

Fix links to docs (#12748)
  frontend/src/metabase/admin/tasks/containers/Help.jsx
  frontend/src/metabase/lib/settings.js
  frontend/src/metabase/query_builder/components/DataSelector.jsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionEditorTextfield.jsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionWidget.jsx
Owners: @tlrobinson

Add scroll to Notebook column popover (#12754)
  frontend/src/metabase/query_builder/components/notebook/steps/FieldsPicker.jsx
Owners: @tlrobinson

chore: add simple doc for connecting to Snowflake
  docs/administration-guide/01-managing-databases.md
  docs/administration-guide/databases/snowflake.md
Owners: @mazameli

useless commit to trigger ci
  frontend/test/metabase/scenarios/public/public.cy.spec.js
Owners: none

move series legends to the bottom of cards to improve legibility
  frontend/src/metabase/css/dashboard.css
  frontend/src/metabase/visualizations/components/Legend.css
  frontend/src/metabase/visualizations/components/LegendHeader.jsx
  frontend/src/metabase/visualizations/components/LineAreaBarChart.css
  frontend/src/metabase/visualizations/components/LineAreaBarChart.jsx
  frontend/src/metabase/visualizations/components/TitleLegendHeader.jsx
  frontend/src/metabase/visualizations/components/Visualization.jsx
Owners: @tlrobinson

tweak contrast
  frontend/src/metabase/visualizations/components/Legend.css
  frontend/src/metabase/visualizations/components/LegendHeader.jsx
  frontend/src/metabase/visualizations/components/LineAreaBarChart.css
  frontend/src/metabase/visualizations/components/TitleLegendHeader.jsx
Owners: @tlrobinson

update query text if snippet name has been updated
  frontend/src/metabase-lib/lib/queries/NativeQuery.js
  frontend/src/metabase/query_builder/actions.js
  frontend/src/metabase/query_builder/components/NativeQueryEditor.jsx
  frontend/src/metabase/query_builder/components/template_tags/SnippetModal.jsx
  frontend/test/metabase-lib/lib/queries/NativeQuery.unit.spec.js
Owners: @tlrobinson

Use more sql utils [ci drivers]
  modules/drivers/oracle/test/metabase/driver/oracle_test.clj
  modules/drivers/presto/test/metabase/driver/presto_test.clj
Owners: @camsaul

lint fixes
  frontend/src/metabase/query_builder/actions.js
  frontend/test/metabase-lib/lib/queries/NativeQuery.unit.spec.js
Owners: @tlrobinson

Fix selector scroll jankyness
  frontend/src/metabase/components/AccordionList.jsx
  frontend/src/metabase/query_builder/components/DataSelector.jsx
Owners: @kdoh, @tlrobinson

Presto is a lost cause [ci drivers]
  modules/drivers/oracle/test/metabase/driver/oracle_test.clj
  modules/drivers/presto/test/metabase/driver/presto_test.clj
Owners: @camsaul

Oracle: drop semicolons [ci drivers]
  modules/drivers/oracle/test/metabase/driver/oracle_test.clj
Owners: @camsaul

scaling draft
  docs/operations-guide/scaling-metabase.md
Owners: @mazameli

Oracle: use 2 users [ci oracle]
  modules/drivers/oracle/test/metabase/driver/oracle_test.clj
Owners: @camsaul

Add debug data [ci oracle]
  modules/drivers/oracle/test/metabase/driver/oracle_test.clj
Owners: @camsaul

add require [ci oracle]
  modules/drivers/oracle/test/metabase/driver/oracle_test.clj
Owners: @camsaul

Oralce: get all perms [ci oracle]
  modules/drivers/oracle/test/metabase/driver/oracle_test.clj
Owners: @camsaul

Oracle: don't setup nested users [ci oracle]
  modules/drivers/oracle/test/metabase/driver/oracle_test.clj
Owners: @camsaul

Oracle: use system user [ci drivers]
  modules/drivers/oracle/test/metabase/driver/oracle_test.clj
Owners: @camsaul

.github/CODEOWNERS:

*.clj @camsaul
/src/metabase/automagic_dashboards/ @sbelak
/test/metabase/automagic_dashboards/ @sbelak
/src/metabase/transform/ @sbelak
/test/metabase/transform/ @sbelak
/src/metabase/sync/ @camsaul @sbelak
/test/metabase/sync/ @camsaul @sbelak
*.css @kdoh
/frontend/src @tlrobinson
/frontend/src/metabase/components/ @kdoh
/frontend/src/metabase/admin/datamodel/ @tlrobinson @paulrosenzweig
/frontend/src/metabase/entities/ @tlrobinson @paulrosenzweig
/frontend/src/metabase/lib/entities/ @tlrobinson @paulrosenzweig
/docs/ @mazameli
