Repository metabase/metabase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @camsaul, @sbelak, @kdoh, @tlrobinson, @paulrosenzweig, @mazameli

testing / fixes
  src/metabase/api/query_description.clj
  src/metabase/api/segment.clj
  test/metabase/api/metric_test.clj
  test/metabase/api/query_description_test.clj
  test/metabase/api/segment_test.clj
Owners: @camsaul

wiring to frontend
  frontend/src/metabase/admin/datamodel/components/MetricItem.jsx
  frontend/src/metabase/admin/datamodel/components/SegmentItem.jsx
  frontend/src/metabase/lib/query.js
  src/metabase/api/metric.clj
  src/metabase/api/query_description.clj
  src/metabase/api/segment.clj
Owners: @tlrobinson, @paulrosenzweig, @camsaul

reworked with mbql query helpers
  frontend/src/metabase/lib/query.js
  src/metabase/api/query_description.clj
  src/metabase/util/i18n.clj
  test/metabase/api/query_description_test.clj
Owners: @tlrobinson, @camsaul

filling in the description on the forms
  frontend/src/metabase/lib/query.js
Owners: @tlrobinson

clean namespace forms
  src/metabase/api/metric.clj
  src/metabase/api/query_description.clj
  src/metabase/api/segment.clj
Owners: @camsaul

remove unused TableMetadata references
  frontend/src/metabase/admin/datamodel/components/MetricItem.jsx
  frontend/src/metabase/admin/datamodel/components/SegmentItem.jsx
Owners: @tlrobinson, @paulrosenzweig

fix typo in test
  frontend/test/metabase/scenarios/admin/datamodel/metrics.cy.spec.js
Owners: none

EE Native Query Snippet Permissions [WIP]
  resources/migrations/000_migrations.yaml
  src/metabase/models/collection.clj
  src/metabase/models/native_query_snippet.clj
  test/metabase/api/collection_test.clj
  test/metabase/models/collection_test.clj
  test/metabase/models/native_query_snippet_test.clj
  test/metabase/test/util.clj
Owners: @camsaul

Update migration IDs [ci skip]
  resources/migrations/000_migrations.yaml
Owners: none

Modernize Collection API tests
  src/metabase/models/collection.clj
  test/metabase/api/collection_test.clj
  test/metabase/test/util.clj
Owners: @camsaul

Some Collection API :type awareness
  src/metabase/api/collection.clj
  test/metabase/api/collection_test.clj
Owners: @camsaul

Split some models.collection code into models.collection.graph
  src/metabase/api/collection.clj
  src/metabase/api/permissions.clj
  src/metabase/models/collection.clj
  src/metabase/models/collection/graph.clj
  src/metabase/models/collection/root.clj
  src/metabase/models/permissions.clj
  test/expectations.clj
  test/metabase/api/collection_test.clj
  test/metabase/api/search_test.clj
  test/metabase/models/collection/graph_test.clj
  test/metabase/models/collection_test.clj
  test/metabase/sync_database/analyze_test.clj
Owners: @camsaul

Modernize metabase.models.card-test
  src/metabase/models/collection.clj
  test/expectations.clj
  test/metabase/models/card_test.clj
Owners: @camsaul

Don't allow Cards in non-normal Collections
  src/metabase/models/card.clj
  test/metabase/models/card_test.clj
Owners: @camsaul

Disallow saving Cards/Dashboards/Pulses in non-normal Collections
  src/metabase/models/card.clj
  src/metabase/models/collection.clj
  src/metabase/models/dashboard.clj
  src/metabase/models/native_query_snippet.clj
  src/metabase/models/pulse.clj
  test/expectations.clj
  test/metabase/models/card_test.clj
  test/metabase/models/collection_test.clj
  test/metabase/models/dashboard_test.clj
  test/metabase/models/native_query_snippet_test.clj
  test/metabase/models/pulse_test.clj
Owners: @camsaul

Some Collections graph type-awareness [WIP]
  src/metabase/models/collection/graph.clj
  test/metabase/models/collection/graph_test.clj
Owners: @camsaul

Small fixes and adding 0.36 vars [ci skip]
  docs/operations-guide/environment-variables.md
Owners: @mazameli

Include missing EE SSO [ci skip]
  docs/operations-guide/environment-variables.md
Owners: @mazameli

backend support for updating nav (#12764)
  frontend/src/metabase/admin/datamodel/components/MetricItem.jsx
  frontend/src/metabase/admin/datamodel/components/SegmentItem.jsx
  frontend/src/metabase/lib/query.js
  src/metabase/api/metric.clj
  src/metabase/api/query_description.clj
  src/metabase/api/segment.clj
  src/metabase/util/i18n.clj
  test/metabase/api/metric_test.clj
  test/metabase/api/query_description_test.clj
  test/metabase/api/segment_test.clj
Owners: @tlrobinson, @paulrosenzweig, @camsaul

prettier
  frontend/src/metabase/lib/query.js
Owners: @tlrobinson

return [] from /metric|segment rather than an empty response
  src/metabase/api/metric.clj
  src/metabase/api/segment.clj
  test/metabase/api/metric_test.clj
  test/metabase/api/segment_test.clj
Owners: @camsaul

workaround dataselector issue in tests
  frontend/test/metabase/scenarios/admin/datamodel/metrics.cy.spec.js
  frontend/test/metabase/scenarios/admin/datamodel/segments.cy.spec.js
Owners: none

Rename collection.type -> collection.namespace
  resources/migrations/000_migrations.yaml
  src/metabase/api/collection.clj
  src/metabase/models/card.clj
  src/metabase/models/collection.clj
  src/metabase/models/collection/graph.clj
  src/metabase/models/dashboard.clj
  src/metabase/models/native_query_snippet.clj
  src/metabase/models/pulse.clj
  test/expectations.clj
  test/metabase/api/collection_test.clj
  test/metabase/models/card_test.clj
  test/metabase/models/collection/graph_test.clj
  test/metabase/models/collection_test.clj
  test/metabase/models/dashboard_test.clj
  test/metabase/models/native_query_snippet_test.clj
  test/metabase/models/pulse_test.clj
Owners: @camsaul

Perms graph support namespaces
  src/metabase/models/collection.clj
  src/metabase/models/collection/graph.clj
  src/metabase/models/collection_revision.clj
  test/metabase/models/collection/graph_test.clj
Owners: @camsaul

Make Collection perms graph fns & API endpoints namespace-aware
  src/metabase/api/collection.clj
  src/metabase/models/collection/graph.clj
  test/metabase/api/collection_test.clj
  test/metabase/models/collection/graph_test.clj
Owners: @camsaul

Search should only return Collections in the default namespace
  src/metabase/api/search.clj
  test/metabase/api/search_test.clj
Owners: @camsaul

Coll items endpoints support namespaces/snippets; search is namespace-aware
  src/metabase/api/collection.clj
  src/metabase/models/collection.clj
  test/metabase/api/collection_test.clj
Owners: @camsaul

(un)archiving a Collection should (un)archive Snippets
  src/metabase/models/collection.clj
  test/metabase/models/collection_test.clj
Owners: @camsaul

Support creating a Collection in a non-default namespace
  src/metabase/api/collection.clj
  test/metabase/api/collection_test.clj
Owners: @camsaul

Cloverage fix :wrench:
  src/metabase/models/collection/graph.clj
Owners: @camsaul

Pluggable NativeQuerySnippet permissions implementations
  src/metabase/models/native_query_snippet.clj
  src/metabase/models/native_query_snippet/permissions.clj
Owners: @camsaul

EE Native Query Snippet Permissions Preliminary Work [WIP] (#12819)
  resources/migrations/000_migrations.yaml
  src/metabase/api/collection.clj
  src/metabase/api/permissions.clj
  src/metabase/api/search.clj
  src/metabase/models/card.clj
  src/metabase/models/collection.clj
  src/metabase/models/collection/graph.clj
  src/metabase/models/collection/root.clj
  src/metabase/models/collection_revision.clj
  src/metabase/models/dashboard.clj
  src/metabase/models/native_query_snippet.clj
  src/metabase/models/native_query_snippet/permissions.clj
  src/metabase/models/permissions.clj
  src/metabase/models/pulse.clj
  test/expectations.clj
  test/metabase/api/collection_test.clj
  test/metabase/api/search_test.clj
  test/metabase/models/card_test.clj
  test/metabase/models/collection/graph_test.clj
  test/metabase/models/collection_test.clj
  test/metabase/models/dashboard_test.clj
  test/metabase/models/native_query_snippet_test.clj
  test/metabase/models/pulse_test.clj
  test/metabase/sync_database/analyze_test.clj
  test/metabase/test/util.clj
Owners: @camsaul

Fix botched merge
  test/metabase/api/table_test.clj
Owners: @camsaul

Docs: Restart clarification, when changing SAML settings [ci skip]
  docs/enterprise-guide/authenticating-with-saml.md
Owners: @mazameli

Docs: Update environment variables (#12820)
  docs/operations-guide/environment-variables.md
Owners: @mazameli

Sync: don't override user-set values (#12802)
  resources/migrations/000_migrations.yaml
  src/metabase/sync/sync_metadata/fields.clj
  src/metabase/sync/sync_metadata/fields/sync_metadata.clj
  test/metabase/api/database_test.clj
  test/metabase/api/field_test.clj
  test/metabase/api/table_test.clj
  test/metabase/sync/sync_metadata/fields/sync_instances_test.clj
  test/metabase/sync/sync_metadata/fields/sync_metadata_test.clj
  test/metabase/sync/sync_metadata/fields_test.clj
  test/metabase/sync/sync_metadata/sync_database_type_test.clj
  test/metabase/sync_database/sync_dynamic_test.clj
  test/metabase/sync_database_test.clj
  test/metabase/test/util.clj
Owners: @camsaul, @sbelak

Fix URL in H2 database warning
  src/metabase/db.clj
Owners: @camsaul

open segment/metric form without preselected table
  frontend/src/metabase-lib/lib/queries/StructuredQuery.js
  frontend/src/metabase/admin/datamodel/components/MetricForm.jsx
  frontend/src/metabase/admin/datamodel/components/PartialQueryBuilder.jsx
  frontend/src/metabase/admin/datamodel/components/SegmentForm.jsx
  frontend/src/metabase/admin/datamodel/containers/MetricApp.jsx
  frontend/src/metabase/admin/datamodel/containers/MetricListApp.jsx
  frontend/src/metabase/admin/datamodel/containers/SegmentApp.jsx
  frontend/src/metabase/admin/datamodel/containers/SegmentListApp.jsx
  frontend/src/metabase/admin/datamodel/hoc/FilteredToUrlTable.jsx
  frontend/src/metabase/admin/datamodel/hoc/withTableMetadataLoaded.js
  frontend/src/metabase/entities/containers/EntityObjectLoader.jsx
  frontend/src/metabase/query_builder/components/AggregationPopover.jsx
  frontend/src/metabase/query_builder/components/AggregationWidget.jsx
  frontend/src/metabase/query_builder/components/GuiQueryEditor.jsx
  frontend/src/metabase/query_builder/components/filters/FilterPopover.jsx
  frontend/test/metabase/admin/datamodel/MetricForm.unit.spec.js
  frontend/test/metabase/admin/datamodel/SegmentForm.unit.spec.js
  frontend/test/metabase/scenarios/admin/datamodel/metrics.cy.spec.js
  frontend/test/metabase/scenarios/admin/datamodel/segments.cy.spec.js
Owners: @tlrobinson, @paulrosenzweig

eslint
  frontend/src/metabase/query_builder/components/GuiQueryEditor.jsx
Owners: @tlrobinson

cypress repro for #12649
  frontend/test/metabase/scenarios/question/custom_column.cy.spec.js
Owners: none

.github/CODEOWNERS:

*.clj @camsaul
/src/metabase/automagic_dashboards/ @sbelak
/test/metabase/automagic_dashboards/ @sbelak
/src/metabase/transform/ @sbelak
/test/metabase/transform/ @sbelak
/src/metabase/sync/ @camsaul @sbelak
/test/metabase/sync/ @camsaul @sbelak
*.css @kdoh
/frontend/src @tlrobinson
/frontend/src/metabase/components/ @kdoh
/frontend/src/metabase/admin/datamodel/ @tlrobinson @paulrosenzweig
/frontend/src/metabase/entities/ @tlrobinson @paulrosenzweig
/frontend/src/metabase/lib/entities/ @tlrobinson @paulrosenzweig
/docs/ @mazameli
