Repository metabase/metabase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @camsaul, @sbelak, @kdoh, @tlrobinson, @paulrosenzweig, @mazameli

.github/CODEOWNERS:

*.clj @camsaul
/src/metabase/automagic_dashboards/ @sbelak
/test/metabase/automagic_dashboards/ @sbelak
/src/metabase/transform/ @sbelak
/test/metabase/transform/ @sbelak
/src/metabase/sync/ @camsaul @sbelak
/test/metabase/sync/ @camsaul @sbelak
*.css @kdoh
/frontend/src @tlrobinson
/frontend/src/metabase/components/ @kdoh
/frontend/src/metabase/admin/datamodel/ @tlrobinson @paulrosenzweig
/frontend/src/metabase/entities/ @tlrobinson @paulrosenzweig
/frontend/src/metabase/lib/entities/ @tlrobinson @paulrosenzweig
/docs/ @mazameli

cursor location
  docs/users-guide/sql-snippets.md
Owners: @mazameli

description and code
  docs/users-guide/sql-snippets.md
Owners: @mazameli

simple query
  docs/users-guide/sql-snippets.md
Owners: @mazameli

fix gif line
  docs/users-guide/images/sql-snippets/highlight_and_save_as_snippet.gif
  docs/users-guide/images/sql-snippets/snippet_sidebar_and_insertion.gif
Owners: @mazameli

update table of contents for sql snippets
  docs/users-guide/start.md
Owners: @mazameli

sidebar create snippet
  docs/users-guide/sql-snippets.md
Owners: @mazameli

snippet permissions
  docs/users-guide/sql-snippets.md
Owners: @mazameli

filter widget
  docs/users-guide/writing-sql.md
Owners: @mazameli

Fixes night mode filters and a couple of other minor things (#12799)
  frontend/src/metabase/css/dashboard.css
  frontend/src/metabase/dashboard/components/DashboardHeader.jsx
  frontend/src/metabase/parameters/components/ParameterWidget.css
  frontend/src/metabase/public/components/widgets/EmbedSelect.jsx
  frontend/src/metabase/setup/components/LanguageStep.jsx
Owners: @tlrobinson

tip links
  docs/operations-guide/scaling-metabase.md
Owners: @mazameli

best practice links
  docs/operations-guide/scaling-metabase.md
Owners: @mazameli

take only what you need to survive
  docs/operations-guide/scaling-metabase.md
Owners: @mazameli

split and fixed limited access to tables or questions as user
  frontend/test/metabase-smoketest/admin_setup.cy.spec.js
Owners: none

improved names
  frontend/test/metabase-smoketest/admin_setup.cy.spec.js
Owners: none

prettier
  frontend/test/metabase-smoketest/admin.cy.spec.js
  frontend/test/metabase-smoketest/admin_setup.cy.spec.js
Owners: none

deleted sidebar() import
  frontend/test/metabase-smoketest/admin_setup.cy.spec.js
Owners: none

bottlenecks
  docs/operations-guide/scaling-metabase.md
Owners: @mazameli

cloud links
  docs/operations-guide/scaling-metabase.md
Owners: @mazameli

trendline check for simple q
  frontend/test/metabase/scenarios/question/trendline.cy.spec.js
Owners: none

Consolidate on metabase/lib/query/field_ref
  frontend/src/metabase/lib/query.js
  frontend/src/metabase/lib/query/aggregation.js
  frontend/src/metabase/lib/query/breakout.js
  frontend/src/metabase/lib/query/query.js
  frontend/src/metabase/lib/query_aggregation.js
  frontend/src/metabase/query_builder/components/FieldName.jsx
  frontend/src/metabase/query_builder/components/FieldWidget.jsx
  frontend/src/metabase/query_builder/components/filters/pickers/DatePicker.jsx
Owners: @tlrobinson

data warehousekeeping
  docs/operations-guide/scaling-metabase.md
Owners: @mazameli

spacetime
  docs/operations-guide/scaling-metabase.md
Owners: @mazameli

Consolidate on metabase/lib/query/aggregation
  frontend/src/metabase-lib/lib/queries/structured/Aggregation.js
  frontend/src/metabase/lib/query.js
  frontend/src/metabase/lib/query/aggregation.js
  frontend/src/metabase/lib/query_aggregation.js
  frontend/src/metabase/meta/types/Query.js
  frontend/src/metabase/query_builder/components/AggregationName.jsx
  frontend/src/metabase/query_builder/components/AggregationPopover.jsx
  frontend/src/metabase/reference/selectors.js
  frontend/test/metabase/lib/query.unit.spec.js
Owners: @tlrobinson

xrays: don't barf on names with % in them
  src/metabase/automagic_dashboards/core.clj
  test/metabase/automagic_dashboards/core_test.clj
Owners: @sbelak

save for snip
  docs/users-guide/sql-snippets.md
Owners: @mazameli

writing for editing
  docs/users-guide/sql-snippets.md
Owners: @mazameli

nixed data ref and variable buttons
  docs/users-guide/sql-snippets.md
Owners: @mazameli

add dataselector to pick db/table for segments/metrics
  frontend/src/metabase/admin/datamodel/components/database/MetadataTable.jsx
  frontend/src/metabase/admin/datamodel/containers/DataModelApp.jsx
  frontend/src/metabase/admin/datamodel/containers/MetricApp.jsx
  frontend/src/metabase/admin/datamodel/containers/MetricForm.jsx
  frontend/src/metabase/admin/datamodel/containers/MetricListApp.jsx
  frontend/src/metabase/admin/datamodel/containers/SegmentApp.jsx
  frontend/src/metabase/admin/datamodel/containers/SegmentForm.jsx
  frontend/src/metabase/admin/datamodel/containers/SegmentListApp.jsx
  frontend/src/metabase/admin/datamodel/hoc/FilteredToUrlTable.jsx
Owners: @tlrobinson, @paulrosenzweig

fix archiving and viewing revisions
  frontend/src/metabase/admin/datamodel/components/revisions/Revision.jsx
  frontend/src/metabase/admin/datamodel/components/revisions/RevisionHistory.jsx
  frontend/src/metabase/entities/tables.js
Owners: @tlrobinson, @paulrosenzweig

delete unused files, reorganize things
  frontend/src/metabase/admin/datamodel/components/MetricItem.jsx
  frontend/src/metabase/admin/datamodel/components/SegmentItem.jsx
  frontend/src/metabase/admin/datamodel/components/database/MetadataSchema.jsx
  frontend/src/metabase/admin/datamodel/components/database/MetadataTable.jsx
  frontend/src/metabase/admin/datamodel/components/database/MetricsList.jsx
  frontend/src/metabase/admin/datamodel/components/database/SegmentsList.jsx
  frontend/src/metabase/admin/datamodel/containers/MetricApp.jsx
  frontend/src/metabase/admin/datamodel/containers/MetricListApp.jsx
  frontend/src/metabase/admin/datamodel/containers/SegmentApp.jsx
  frontend/src/metabase/admin/datamodel/containers/SegmentListApp.jsx
  frontend/src/metabase/admin/datamodel/hoc/withTableMetadataLoaded.js
  frontend/src/metabase/components/ColumnarSelector.css
  frontend/src/metabase/components/ColumnarSelector.jsx
Owners: @tlrobinson, @paulrosenzweig, @kdoh

more reorg
  frontend/src/metabase/admin/datamodel/components/MetricForm.jsx
  frontend/src/metabase/admin/datamodel/components/SegmentForm.jsx
  frontend/src/metabase/admin/datamodel/containers/MetricApp.jsx
  frontend/src/metabase/admin/datamodel/containers/SegmentApp.jsx
Owners: @tlrobinson, @paulrosenzweig

fix cypress tests
  frontend/src/metabase/admin/datamodel/components/MetricItem.jsx
  frontend/src/metabase/admin/datamodel/components/SegmentItem.jsx
  frontend/src/metabase/admin/datamodel/containers/MetricListApp.jsx
  frontend/src/metabase/admin/datamodel/containers/SegmentListApp.jsx
  frontend/test/metabase/scenarios/admin/datamodel/metrics.cy.spec.js
  frontend/test/metabase/scenarios/admin/datamodel/table.cy.spec.js
Owners: @tlrobinson, @paulrosenzweig

Remove unused Table.rows column & sync code (#12797)
  resources/migrations/000_migrations.yaml
  src/metabase/api/table.clj
  src/metabase/sync/analyze.clj
  src/metabase/sync/analyze/table_row_count.clj
  test/expectations.clj
  test/metabase/api/database_test.clj
  test/metabase/api/field_test.clj
  test/metabase/api/permissions_test.clj
  test/metabase/api/table_test.clj
  test/metabase/models/field_values_test.clj
  test/metabase/sync/analyze/table_row_count_test.clj
  test/metabase/sync_database/analyze_test.clj
  test/metabase/sync_database_test.clj
Owners: @camsaul, @sbelak

remove console.log
  frontend/src/metabase/admin/datamodel/components/SegmentItem.jsx
Owners: @tlrobinson, @paulrosenzweig

use database data selector rather than raw select
  frontend/src/metabase/admin/datamodel/components/database/MetadataHeader.jsx
Owners: @tlrobinson, @paulrosenzweig

test fixes
  frontend/test/metabase/admin/datamodel/MetricForm.unit.spec.js
  frontend/test/metabase/admin/datamodel/SegmentForm.unit.spec.js
  frontend/test/metabase/scenarios/admin/datamodel/metrics.cy.spec.js
  frontend/test/metabase/scenarios/admin/datamodel/segments.cy.spec.js
Owners: none

the basic outline of the descriptor generators is in
  frontend/src/metabase/lib/query.js
  src/metabase/api/query_description.clj
Owners: @tlrobinson, @camsaul

backend support for updating nav
  frontend/src/metabase/lib/query.js
  src/metabase/api/metric.clj
  src/metabase/api/query_description.clj
Owners: @tlrobinson, @camsaul

adding segment support
  src/metabase/api/metric.clj
  src/metabase/api/query_description.clj
  src/metabase/api/segment.clj
Owners: @camsaul

working on tests, appeasing the linters
  src/metabase/api/metric.clj
  src/metabase/api/query_description.clj
  test/metabase/api/query_description_test.clj
Owners: @camsaul
