Repository metabase/metabase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @camsaul, @sbelak, @kdoh, @tlrobinson, @paulrosenzweig, @mazameli

.github/CODEOWNERS:

*.clj @camsaul
/src/metabase/automagic_dashboards/ @sbelak
/test/metabase/automagic_dashboards/ @sbelak
/src/metabase/transform/ @sbelak
/test/metabase/transform/ @sbelak
/src/metabase/sync/ @camsaul @sbelak
/test/metabase/sync/ @camsaul @sbelak
*.css @kdoh
/frontend/src @tlrobinson
/frontend/src/metabase/components/ @kdoh
/frontend/src/metabase/admin/datamodel/ @tlrobinson @paulrosenzweig
/frontend/src/metabase/entities/ @tlrobinson @paulrosenzweig
/frontend/src/metabase/lib/entities/ @tlrobinson @paulrosenzweig
/docs/ @mazameli

Displaying data
  docs/users-guide/09-multi-series-charting.md
Owners: @mazameli

Combine two saved questions
  docs/users-guide/09-multi-series-charting.md
Owners: @mazameli

Simple or Custom
  docs/users-guide/09-multi-series-charting.md
Owners: @mazameli

Combo chart
  docs/users-guide/05-visualizing-results.md
Owners: @mazameli

Combo edit
  docs/users-guide/05-visualizing-results.md
Owners: @mazameli

remove line + bar
  docs/users-guide/05-visualizing-results.md
Owners: @mazameli

Bubble size
  docs/users-guide/05-visualizing-results.md
Owners: @mazameli

Update docs/users-guide/05-visualizing-results.md
  docs/users-guide/05-visualizing-results.md
Owners: @mazameli

Update docs/administration-guide/databases/snowflake.md
  docs/administration-guide/databases/snowflake.md
Owners: @mazameli

Update docs/administration-guide/databases/snowflake.md
  docs/administration-guide/databases/snowflake.md
Owners: @mazameli

Update docs/administration-guide/databases/snowflake.md
  docs/administration-guide/databases/snowflake.md
Owners: @mazameli

notebook editor screenshot
  docs/users-guide/09-multi-series-charting.md
  docs/users-guide/images/multi-series-charts/notebook_editor_multi-series.png
Owners: @mazameli

remove sql snippet organization
  docs/enterprise-guide/sql-snippet-organization.md
Owners: @mazameli

edit snippet warning
  docs/users-guide/sql-snippets.md
Owners: @mazameli

unsupported options
  docs/administration-guide/databases/mongodb.md
Owners: @mazameli

command line SSL
  docs/administration-guide/databases/mongodb.md
Owners: @mazameli

toc
  docs/administration-guide/databases/mongodb.md
Owners: @mazameli

SQL authors
  docs/users-guide/sql-snippets.md
Owners: @mazameli

Update docs/users-guide/sql-snippets.md
  docs/users-guide/sql-snippets.md
Owners: @mazameli

Remove Table.rows entirely
  resources/migrations/000_migrations.yaml
  src/metabase/api/table.clj
  src/metabase/sync/analyze.clj
  src/metabase/sync/analyze/table_row_count.clj
  test/metabase/sync/analyze/table_row_count_test.clj
Owners: @camsaul, @sbelak

Lots of test updates/modernization
  resources/migrations/000_migrations.yaml
  test/metabase/api/database_test.clj
  test/metabase/api/field_test.clj
  test/metabase/api/permissions_test.clj
  test/metabase/api/table_test.clj
  test/metabase/models/field_values_test.clj
  test/metabase/sync_database/analyze_test.clj
  test/metabase/sync_database_test.clj
Owners: @camsaul

Test fixes :wrench:
  test/expectations.clj
  test/metabase/api/permissions_test.clj
Owners: @camsaul

fixing selecting columns from admin settings
  frontend/test/metabase-smoketest/admin_setup.cy.spec.js
Owners: none

Fixes night mode filters and a couple of other minor things
  frontend/src/metabase/css/dashboard.css
  frontend/src/metabase/dashboard/components/DashboardHeader.jsx
  frontend/src/metabase/parameters/components/ParameterWidget.css
  frontend/src/metabase/public/components/widgets/EmbedSelect.jsx
  frontend/src/metabase/setup/components/LanguageStep.jsx
Owners: @tlrobinson

Sync: don't override user-set values
  src/metabase/sync/sync_metadata/fields.clj
  src/metabase/sync/sync_metadata/fields/sync_metadata.clj
Owners: @camsaul, @sbelak

Add migration to remove `Table.fields_hash`
  resources/migrations/000_migrations.yaml
  src/metabase/sync/sync_metadata/fields.clj
Owners: @camsaul, @sbelak

Add & update tests
  test/metabase/api/database_test.clj
  test/metabase/api/field_test.clj
  test/metabase/api/table_test.clj
  test/metabase/sync/sync_metadata/fields/sync_instances_test.clj
  test/metabase/sync/sync_metadata/fields/sync_metadata_test.clj
  test/metabase/sync/sync_metadata/fields_test.clj
  test/metabase/sync/sync_metadata/sync_database_type_test.clj
  test/metabase/sync_database/sync_dynamic_test.clj
  test/metabase/sync_database_test.clj
  test/metabase/test/util.clj
Owners: @camsaul, @sbelak

Restore question public link file types
  frontend/src/metabase/lib/urls.js
  frontend/src/metabase/query_builder/components/QueryDownloadWidget.jsx
  frontend/src/metabase/query_builder/containers/QuestionEmbedWidget.jsx
Owners: @tlrobinson

Make linter happy [ci drivers]
  test/metabase/sync/sync_metadata/fields/sync_metadata_test.clj
  test/metabase/sync/sync_metadata/fields_test.clj
Owners: @camsaul, @sbelak

Show question/dashboard description on public/embeds
  frontend/src/metabase/public/components/EmbedFrame.jsx
Owners: @tlrobinson

Fix missing footer, when there's a token
  frontend/src/metabase/public/components/EmbedFrame.jsx
Owners: @tlrobinson

Include dashboard name in browser title on public links
  frontend/src/metabase/public/containers/PublicDashboard.jsx
  frontend/src/metabase/public/containers/PublicQuestion.jsx
  frontend/src/metabase/routes-public.jsx
Owners: @tlrobinson

Typo
  src/metabase/sync/sync_metadata/fields.clj
Owners: @camsaul, @sbelak

Better position
  frontend/src/metabase/components/TitleAndDescription.jsx
Owners: @kdoh

Flow simplified
  frontend/src/metabase/public/components/EmbedFrame.jsx
Owners: @tlrobinson

snippet gifs
  docs/users-guide/images/sql-snippets/highlight_and_save_as_snippet.gif
  docs/users-guide/images/sql-snippets/snippet_sidebar_and_insertion.gif
Owners: @mazameli

sql example
  docs/users-guide/sql-snippets.md
Owners: @mazameli

update code
  docs/users-guide/images/sql-snippets/highlight_and_save_as_snippet.gif
  docs/users-guide/images/sql-snippets/snippet_sidebar_and_insertion.gif
Owners: @mazameli

sql syntax
  docs/users-guide/sql-snippets.md
Owners: @mazameli

syntax update
  docs/users-guide/sql-snippets.md
Owners: @mazameli
