Repository metabase/metabase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @camsaul, @sbelak, @kdoh, @tlrobinson, @paulrosenzweig, @mazameli

.github/CODEOWNERS:

*.clj @camsaul
/src/metabase/automagic_dashboards/ @sbelak
/test/metabase/automagic_dashboards/ @sbelak
/src/metabase/transform/ @sbelak
/test/metabase/transform/ @sbelak
/src/metabase/sync/ @camsaul @sbelak
/test/metabase/sync/ @camsaul @sbelak
*.css @kdoh
/frontend/src @tlrobinson
/frontend/src/metabase/components/ @kdoh
/frontend/src/metabase/admin/datamodel/ @tlrobinson @paulrosenzweig
/frontend/src/metabase/entities/ @tlrobinson @paulrosenzweig
/frontend/src/metabase/lib/entities/ @tlrobinson @paulrosenzweig
/docs/ @mazameli

improvements to question > view
  frontend/test/metabase/scenarios/question/view.cy.spec.js
Owners: none

prettier
  frontend/test/metabase/scenarios/question/view.cy.spec.js
Owners: none

Remove deprecated viewport meta tag `minimal-ui`
  resources/frontend_client/index_template.html
Owners: none

Unambigious default [ci drivers]
  src/metabase/driver/common.clj
Owners: @camsaul

two joineds
  frontend/test/metabase/scenarios/home/activity-page.cy.spec.js
Owners: none

Change approach to sniffing SELECT * [ci all]
  src/metabase/driver/sql_jdbc/sync.clj
Owners: @camsaul

Remove unneeded imports [ci all]
  src/metabase/driver/sql_jdbc/sync.clj
Owners: @camsaul

Reorder fns [ci all]
  src/metabase/driver/sql_jdbc/sync.clj
Owners: @camsaul

Change approach to sniffing SELECT * [ci all]
  src/metabase/driver/sql_jdbc/sync.clj
Owners: @camsaul

As a fallback get database type from `data_type`. [ci all]
  src/metabase/driver/sql_jdbc/sync.clj
Owners: @camsaul

Make linter happy [ci all]
  src/metabase/driver/sql_jdbc/sync.clj
Owners: @camsaul

do not attempt to create cards from nulls
  frontend/src/metabase/dashboard/dashboard.js
Owners: @tlrobinson

As a fallback get database type from `data_type`. [ci all]
  src/metabase/driver/sql_jdbc/sync.clj
Owners: @camsaul

Port/homepage app (#12875)
  frontend/test/metabase/home/HomepageApp.e2e.spec.js
  frontend/test/metabase/scenarios/home/activity-page.cy.spec.js
Owners: none

Refactor fallback [ci drivers]
  src/metabase/driver/common.clj
Owners: @camsaul

Add test for 1 and 0 values [ci drives]
  src/metabase/driver/common.clj
  test/metabase/driver/common_test.clj
Owners: @camsaul

Don't get too cute with java HashMap [ci drivers]
  src/metabase/driver/common.clj
  src/metabase/query_processor/middleware/annotate.clj
Owners: @camsaul

Add tests [ci drivers]
  modules/drivers/sqlite/test/metabase/driver/sqlite_test.clj
  src/metabase/driver/sql_jdbc/sync.clj
Owners: @camsaul

Add support for TIMESTAMP columns in SQLite
  modules/drivers/sqlite/src/metabase/driver/sqlite.clj
  modules/drivers/sqlite/test/metabase/driver/sqlite_test.clj
Owners: @camsaul

Closes #12717
  docs/administration-guide/databases/mongodb.md
  docs/administration-guide/images/bigquery_add_database.png
Owners: @mazameli

Add support for TIMESTAMP columns in SQLite (#12886)
  modules/drivers/sqlite/src/metabase/driver/sqlite.clj
  modules/drivers/sqlite/test/metabase/driver/sqlite_test.clj
Owners: @camsaul

file deleted (#12867)
  frontend/test/metabase/query_builder/components/NativeQueryEditor.e2e.spec.js
Owners: none

E2e to cy/delete empty drills (#12868)
  frontend/test/metabase/modes/components/drill/QuickFilterDrill.e2e.spec.js
  frontend/test/metabase/modes/components/drill/SortAction.e2e.spec.js
  frontend/test/metabase/modes/components/drill/SummarizeColumnByTimeDrill.e2e.spec.js
  frontend/test/metabase/modes/components/drill/SummarizeColumnDrill.e2e.spec.js
  frontend/test/metabase/modes/components/drill/TimeseriesPivotDrill.e2e.spec.js
Owners: none

Smoketests/skips and type issues (#12890)
  frontend/test/metabase-smoketest/admin.cy.spec.js
  frontend/test/metabase-smoketest/admin_setup.cy.spec.js
  frontend/test/metabase-smoketest/user.cy.spec.js
  frontend/test/metabase/home/HomepageApp.cy.spec.js
Owners: none

MySQL supported version was wrong in docs
  docs/administration-guide/01-managing-databases.md
Owners: @mazameli

MySQL supported version was wrong in docs (#12909)
  docs/administration-guide/01-managing-databases.md
Owners: @mazameli

Add repro for #12899
  frontend/test/metabase/scenarios/question/new.cy.spec.js
Owners: none

fix for updated local frontend
  frontend/test/metabase/scenarios/question/view.cy.spec.js
Owners: none

admin_setup improvment
  frontend/test/metabase-smoketest/admin_setup.cy.spec.js
Owners: none

sub in withSampleDataset
  frontend/test/metabase/scenarios/question/view.cy.spec.js
Owners: none

Fixed some flaky Cypress files (#12895)
  frontend/test/metabase-smoketest/admin_setup.cy.spec.js
  frontend/test/metabase/scenarios/question/view.cy.spec.js
Owners: none

Add skip so test passes until issue is fixed
  frontend/test/metabase/scenarios/question/custom_column.cy.spec.js
Owners: none

skip so test passes until issue is resolved
  frontend/test/metabase/scenarios/alert/email_alert.cy.spec.js
Owners: none

skip so test passes until issue resolves
  frontend/test/metabase/scenarios/question/trendline.cy.spec.js
Owners: none

Change Order to Products
  frontend/test/metabase/scenarios/question/view.cy.spec.js
Owners: none

Add all options, and a couple of minor CSS fixes to avoid scrollbars
  frontend/src/metabase/lib/expressions/config.js
  frontend/src/metabase/lib/expressions/helper_text_strings.js
  frontend/src/metabase/query_builder/components/ExpressionPopover.jsx
  frontend/src/metabase/query_builder/components/expressions/ExpressionEditorTextfield.jsx
Owners: @tlrobinson

Text box should work
  frontend/test/metabase/scenarios/dashboard/text-box.cy.spec.js
Owners: none

prettier
  frontend/test/metabase/scenarios/dashboard/text-box.cy.spec.js
Owners: none

Fix z-index for all auth wrappers (#12894)
  frontend/src/metabase/auth/containers/ForgotPasswordApp.jsx
  frontend/src/metabase/auth/containers/PasswordResetApp.jsx
  frontend/test/metabase/scenarios/auth/signin.cy.spec.js
Owners: @tlrobinson

prettier and more with products
  frontend/test/metabase/scenarios/question/view.cy.spec.js
Owners: none
