Repository metabase/metabase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @metabase/embedding, @metabase/core-frontend-admin-webapp, @metabase/data, @filiphric, @metabase/devexp, @metabase/backend-developers, @metabase/drivers, @metabase/core-backend-admin-webapp, @metabase/core-workflows, @metabase/core-backend-querying, @metabase/core-backend-dashviz

cljfmt-* {-c}, and jar-download working
  .gitignore
  bb.edn
  dev/src/dev/private_things_test.clj
  mage/mage/cli.clj
  mage/mage/format.clj
  mage/mage/jar_download.clj
  mage/mage/util.clj
Owners: none

Revert
  frontend/src/metabase/public/containers/PublicOrEmbeddedDashboard/PublicOrEmbeddedDashboard.tsx
Owners: none

allow configuration of mantine tooltip bg color (#54524)
  frontend/src/metabase/ui/components/overlays/Tooltip/Tooltip.config.tsx
  frontend/src/metabase/ui/components/overlays/Tooltip/Tooltip.module.css
  frontend/src/metabase/ui/components/overlays/Tooltip/Tooltip.stories.tsx
Owners: @metabase/core-frontend-admin-webapp

Adjust the color of the tooltip
  frontend/src/metabase/timelines/collections/components/TimelineEmptyState/TimelineEmptyState.tsx
Owners: none

Translation context
  frontend/src/metabase/timelines/common/components/ModalHeader/ModalHeader.tsx
Owners: none

fix function call
  src/metabase/query_processor/pivot/postprocess.clj
Owners: @metabase/core-backend-querying

Allow impersonated users to hit cache again
  .clj-kondo/config.edn
  .clj-kondo/config/modules/config.edn
  .clj-kondo/macros/metabase_enterprise/impersonation/util_test.clj
  .cljfmt.edn
  enterprise/backend/src/metabase_enterprise/advanced_permissions/api/routes.clj
  enterprise/backend/src/metabase_enterprise/impersonation/api.clj
  enterprise/backend/src/metabase_enterprise/impersonation/core.clj
  enterprise/backend/src/metabase_enterprise/impersonation/driver.clj
  enterprise/backend/src/metabase_enterprise/impersonation/middleware.clj
  enterprise/backend/src/metabase_enterprise/impersonation/model.clj
  enterprise/backend/src/metabase_enterprise/impersonation/util.clj
  enterprise/backend/src/metabase_enterprise/sandbox/models/params/field_values.clj
  enterprise/backend/test/metabase_enterprise/advanced_permissions/common_test.clj
  enterprise/backend/test/metabase_enterprise/advanced_permissions/models/field_values_test.clj
  enterprise/backend/test/metabase_enterprise/impersonation/api_test.clj
  enterprise/backend/test/metabase_enterprise/impersonation/cache_test.clj
  enterprise/backend/test/metabase_enterprise/impersonation/driver_test.clj
  enterprise/backend/test/metabase_enterprise/impersonation/util_test.clj
  enterprise/backend/test/metabase_enterprise/serialization/v2/models_test.clj
  src/metabase/driver/sql_jdbc/execute.clj
  src/metabase/models/field_values.clj
  src/metabase/models/resolution.clj
  src/metabase/permissions/api.clj
  src/metabase/permissions/models/data_permissions/graph.clj
  src/metabase/permissions/util.clj
  src/metabase/query_processor/middleware/cache.clj
  src/metabase/query_processor/middleware/enterprise.clj
  src/metabase/query_processor/preprocess.clj
  src/metabase/query_processor/util.clj
Owners: @metabase/devexp, @metabase/core-backend-admin-webapp, @metabase/core-workflows, @metabase/drivers, @metabase/core-backend-querying

🤖 backported "[Impersonation] Adds e2e test for enforcement of impersonation on cached questions" (#54522)
  e2e/test/scenarios/permissions/impersonated.cy.spec.js
Owners: @filiphric

Respect "decimals" setting when formatting compact numbers
  frontend/src/metabase/lib/formatting/numbers.tsx
  frontend/test/metabase/lib/formatting.unit.spec.js
Owners: none

last bit of cleanup
  mage/mage/cli.clj
  mage/mage/format.clj
  mage/mage/kondo.clj
  mage/mage/start_db.clj
  mage/mage/util.clj
Owners: none

Fix CI
  frontend/src/metabase-types/api/mocks/settings.ts
  frontend/src/metabase-types/api/settings.ts
Owners: none

Don't set updated_at if it's the only think
  src/metabase/models/interface.clj
  test/metabase/channel/models/channel_test.clj
Owners: @metabase/devexp, @metabase/core-workflows

Fix
  frontend/src/metabase/public/containers/PublicOrEmbeddedDashboard/PublicOrEmbeddedDashboard.tsx
Owners: none

docs
  bb.edn
  mage/mage/start_db.clj
Owners: none

Table editing view mode (#54218)
  e2e/test/scenarios/data-editing/data-editing.cy.spec.js
  enterprise/frontend/src/metabase-enterprise/data_editing/index.ts
  enterprise/frontend/src/metabase-enterprise/data_editing/tables/TableDataContainer.tsx
  enterprise/frontend/src/metabase-enterprise/data_editing/tables/TableDataView.tsx
  enterprise/frontend/src/metabase-enterprise/data_editing/tables/TableDataViewBackButton.tsx
  enterprise/frontend/src/metabase-enterprise/data_editing/tables/TableDataViewHeader.tsx
  enterprise/frontend/src/metabase-enterprise/data_editing/tables/index.ts
  enterprise/frontend/src/metabase-enterprise/plugins.js
  frontend/src/metabase-types/api/settings.ts
  frontend/src/metabase-types/api/table.ts
  frontend/src/metabase/api/table.ts
  frontend/src/metabase/browse/containers/TableBrowser/TableBrowser.jsx
  frontend/src/metabase/browse/tables/TableBrowser/TableBrowser.jsx
  frontend/src/metabase/plugins/index.ts
  frontend/src/metabase/routes.jsx
Owners: @filiphric

add examples exit-codes test: ./bin/mage -test-examples
  bb.edn
  test/mage/examples_test.clj
Owners: none

Fix
  frontend/src/metabase/public/containers/PublicOrEmbeddedDashboard/PublicOrEmbeddedDashboard.tsx
Owners: none

Fix
  frontend/src/metabase/querying/filters/components/DatePicker/DateOperatorPicker/DateOperatorPicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/DatePicker.stories.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/DatePicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/DateShortcutPicker/DateShortcutPicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/SimpleDatePicker/SimpleDatePicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/FilterPicker/DateFilterPicker/DateFilterPicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/TimeseriesChrome/TimeseriesFilterPicker/TimeseriesFilterPicker.unit.spec.tsx
Owners: none

WIP Check not using generous? true
  src/metabase/lib/breakout.cljc
Owners: @metabase/core-backend-querying

wip
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
Owners: @filiphric

Add support for filtering Mongo UUIDs with string patterns (#54390)
  modules/drivers/mongo/src/metabase/driver/mongo/query_processor.clj
  modules/drivers/mongo/test/metabase/driver/mongo/query_processor_test.clj
Owners: @metabase/drivers

Add support for filtering Mongo UUIDs with string patterns (#54390)
  modules/drivers/mongo/src/metabase/driver/mongo/query_processor.clj
  modules/drivers/mongo/test/metabase/driver/mongo/query_processor_test.clj
Owners: @metabase/drivers

E2E test
  e2e/test/scenarios/filters-reproductions/dashboard-filters-reproductions.cy.spec.js
Owners: @filiphric

e2e adjustments, PR feedback
  e2e/test-component/scenarios/embedding-sdk/tooltip-reproductions.cy.spec.tsx
  frontend/src/metabase/components/ViewFooterButton/ViewFooterButton.tsx
  frontend/src/metabase/query_builder/components/QueryDownloadWidget/QueryDownloadWidget.tsx
Owners: @filiphric

Fix throwing when sandbox/gtap both enforceable
  enterprise/backend/src/metabase_enterprise/impersonation/driver.clj
  enterprise/backend/test/metabase_enterprise/impersonation/driver_test.clj
Owners: none

fix: Cast LocalDateTime to date in oracle
  modules/drivers/oracle/src/metabase/driver/oracle.clj
  modules/drivers/oracle/test/metabase/driver/oracle_test.clj
Owners: @metabase/drivers

add entity ids to all databases/tables/fields at the model level
  src/metabase/models/database.clj
  src/metabase/models/field.clj
  src/metabase/models/table.clj
  test/metabase/api/dashboard_test.clj
  test/metabase/api/dataset_test.clj
  test/metabase/api/table_test.clj
Owners: @metabase/devexp

more cleanup
  frontend/src/metabase/lib/data_grid.js
  src/metabase/pivot/core.cljc
  src/metabase/query_processor/pivot/postprocess.clj
Owners: @metabase/core-backend-querying

Fixes
  frontend/src/metabase/querying/filters/components/DatePicker/DateOperatorPicker/utils.unit.spec.ts
Owners: none

Fixing failing tests due to updated_at not forcing an update
  src/metabase/pulse/models/pulse.clj
  src/metabase/segments/models/segment.clj
  test/metabase/models/dashboard_test.clj
Owners: @metabase/core-workflows, @metabase/core-backend-querying, @metabase/devexp

Placate the linter
  enterprise/backend/src/metabase_enterprise/metabot_v3/envelope.clj
  enterprise/backend/src/metabase_enterprise/metabot_v3/tools/filters.clj
Owners: none

empty test ns
  test/metabase/pivot/core_test.cljc
Owners: none

Placate clj-kondo
  enterprise/backend/src/metabase_enterprise/metabot_v3/envelope.clj
  enterprise/backend/src/metabase_enterprise/metabot_v3/tools/filters.clj
Owners: none

add deprecation warns to old shell scripts + docs
  bin/cljfmt-updated.sh
  bin/cljfmt_staged.sh
  bin/kondo-updated.sh
  bin/kondo.sh
  bin/mage
  mage/mage/autotab.clj
  mage/resource.txt
Owners: none

Fixes
  src/metabase/lib/schema/expression/temporal.cljc
Owners: @metabase/core-backend-querying

minor refactor
  src/metabase/models/database.clj
  src/metabase/models/field.clj
  src/metabase/models/serialization.clj
  src/metabase/models/table.clj
Owners: @metabase/devexp

Add support for filtering Mongo UUIDs with string patterns (#54390) (#54528)
  modules/drivers/mongo/src/metabase/driver/mongo/query_processor.clj
  modules/drivers/mongo/test/metabase/driver/mongo/query_processor_test.clj
Owners: @metabase/drivers

fix invisible close icons on some legacy modals
  frontend/src/metabase/components/Modal/Modal.tsx
  frontend/src/metabase/components/ModalContent/ModalContent.styled.ts
Owners: none

🤖 backported "[Cards in Dashboards] Save dashboard question directly to tab" (#54514)
  e2e/test/scenarios/dashboard/dashboard-questions.cy.spec.js
  e2e/test/scenarios/question/saved.cy.spec.js
  frontend/src/metabase-types/api/card.ts
  frontend/src/metabase/api/dashboard.ts
  frontend/src/metabase/collections/containers/FormCollectionAndDashboardPicker/FormCollectionAndDashboardPicker.tsx
  frontend/src/metabase/components/SaveQuestionForm/SaveQuestionForm.tsx
  frontend/src/metabase/components/SaveQuestionForm/context.tsx
  frontend/src/metabase/components/SaveQuestionForm/types.ts
  frontend/src/metabase/components/SaveQuestionForm/util.ts
  frontend/src/metabase/containers/SaveQuestionModal/SaveQuestionModal.tsx
  frontend/src/metabase/containers/SaveQuestionModal/SaveQuestionModal.unit.spec.tsx
  frontend/src/metabase/dashboard/components/FormDashboardTabSelect/FormDashboardTabSelect.tsx
  frontend/src/metabase/dashboard/components/FormDashboardTabSelect/FormDashboardTabSelect.unit.spec.tsx
  frontend/src/metabase/dashboard/components/FormDashboardTabSelect/index.tsx
  frontend/src/metabase/entities/questions.js
  frontend/src/metabase/query_builder/actions/core/core.ts
  frontend/src/metabase/query_builder/components/QueryModals/QueryModals.tsx
  frontend/src/metabase/query_builder/containers/use-create-question.ts
  frontend/src/metabase/questions/components/CopyQuestionForm.tsx
  frontend/src/metabase/questions/components/CopyQuestionForm.unit.spec.tsx
Owners: @filiphric

Remove `:generous?` option
  src/metabase/lib/breakout.cljc
Owners: @metabase/core-backend-querying

.github/CODEOWNERS:

# Before changing this file, make sure you have read how we use it:
# https://www.notion.so/metabase/Pull-Request-Code-Review-Guide-374f05df889748b69d67af753f9bc9b8?pvs=4#36550c04ceab40b5a8b8bee6264b090c

enterprise/frontend/src/embedding-sdk @metabase/embedding
frontend/src/metabase/embedding-sdk @metabase/embedding
frontend/src/metabase/ui @metabase/core-frontend-admin-webapp
snowplow/* @metabase/data
e2e @filiphric

.github @metabase/devexp
.clj-kondo @metabase/devexp
deps.edn @metabase/backend-developers

#
# Backend modules <=> teams that own them
#

modules/drivers @metabase/drivers

enterprise/backend/src/metabase_enterprise/advanced_config @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/advanced_config @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/advanced_permissions @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/advanced_permissions @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/airgap @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/airgap @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/api @metabase/devexp
enterprise/backend/test/metabase_enterprise/api @metabase/devexp

enterprise/backend/src/metabase_enterprise/audit_app @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/audit_app @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/auth_provider @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/auth_provider @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/billing @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/billing @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/cache @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/cache @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/content_verification @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/content_verification @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/core @metabase/devexp
enterprise/backend/test/metabase_enterprise/core @metabase/devexp

enterprise/backend/src/metabase_enterprise/dashboard_subscription_filters @metabase/core-workflows
enterprise/backend/test/metabase_enterprise/dashboard_subscription_filters @metabase/core-workflows

enterprise/backend/src/metabase_enterprise/enhancements @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/enhancements @metabase/core-backend-admin-webapp

# enterprise/backend/src/metabase_enterprise/llm
# enterprise/backend/test/metabase_enterprise/llm

enterprise/backend/src/metabase_enterprise/query_reference_validation @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/query_reference_validation @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/sandbox @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/sandbox @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/scim @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/scim @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/search @metabase/core-workflows
enterprise/backend/test/metabase_enterprise/search @metabase/core-workflows

enterprise/backend/src/metabase_enterprise/serialization @metabase/core-workflows
enterprise/backend/test/metabase_enterprise/serialization @metabase/core-workflows

enterprise/backend/src/metabase_enterprise/snippet_collections @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/snippet_collections @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/sso @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/sso @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/stale @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/stale @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/stats @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/stats @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/task @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/task @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/upload_management @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/upload_management @metabase/core-backend-admin-webapp

src/metabase/actions @metabase/core-backend-admin-webapp
test/metabase/actions @metabase/core-backend-admin-webapp

src/metabase/activity_feed @metabase/core-backend-admin-webapp
test/metabase/activity_feed @metabase/core-backend-admin-webapp

src/metabase/analytics @metabase/core-backend-admin-webapp
test/metabase/analytics @metabase/core-backend-admin-webapp

src/metabase/analyze @metabase/drivers
test/metabase/analyze @metabase/drivers

src/metabase/api @metabase/devexp
test/metabase/api @metabase/devexp

src/metabase/audit @metabase/core-backend-admin-webapp
test/metabase/audit @metabase/core-backend-admin-webapp

src/metabase/auth_provider @metabase/core-backend-admin-webapp
test/metabase/auth_provider @metabase/core-backend-admin-webapp

src/metabase/bookmarks @metabase/core-backend-admin-webapp
test/metabase/bookmarks @metabase/core-backend-admin-webapp

src/metabase/cmd @metabase/devexp
test/metabase/cmd @metabase/devexp

src/metabase/channel @metabase/core-workflows
test/metabase/channel @metabase/core-workflows

src/metabase/cloud_migration @metabase/core-workflows
test/metabase/cloud_migration @metabase/core-workflows

src/metabase/cmd @metabase/devexp
test/metabase/cmd @metabase/devexp

src/metabase/config @metabase/devexp
test/metabase/config @metabase/devexp

src/metabase/core @metabase/devexp
test/metabase/core @metabase/devexp

src/metabase/db @metabase/core-backend-admin-webapp
test/metabase/db @metabase/core-backend-admin-webapp

src/metabase/driver @metabase/drivers
test/metabase/driver @metabase/drivers

src/metabase/eid_translation @metabase/core-backend-admin-webapp
test/metabase/eid_translation @metabase/core-backend-admin-webapp

src/metabase/embed @metabase/embedding
test/metabase/embed @metabase/embedding

src/metabase/events @metabase/devexp
test/metabase/events @metabase/devexp

src/metabase/formatter @metabase/core-backend-querying
test/metabase/formatter @metabase/core-backend-querying

src/metabase/indexed_entities @metabase/core-backend-querying
test/metabase/indexed_entities @metabase/core-backend-querying

src/metabase/integrations @metabase/core-workflows
test/metabase/integrations @metabase/core-workflows

src/metabase/legacy_mbql @metabase/core-backend-querying
test/metabase/legacy_mbql @metabase/core-backend-querying

src/metabase/lib @metabase/core-backend-querying
test/metabase/lib @metabase/core-backend-querying

src/metabase/logger @metabase/devexp
test/metabase/logger @metabase/devexp

src/metabase/login_history @metabase/core-backend-admin-webapp
test/metabase/login_history @metabase/core-backend-admin-webapp

src/metabase/model_persistence @metabase/core-backend-querying
test/metabase/model_persistence @metabase/core-backend-querying

src/metabase/models @metabase/devexp
test/metabase/models @metabase/devexp

src/metabase/moderation @metabase/core-backend-admin-webapp
test/metabase/moderation @metabase/core-backend-admin-webapp

src/metabase/notification @metabase/core-workflows
test/metabase/notification @metabase/core-workflows

src/metabase/permissions @metabase/core-backend-admin-webapp
test/metabase/permissions @metabase/core-backend-admin-webapp

src/metabase/plugins @metabase/devexp
test/metabase/plugins @metabase/devexp

src/metabase/premium_features @metabase/core-backend-admin-webapp
test/metabase/premium_features @metabase/core-backend-admin-webapp

src/metabase/public_settings @metabase/core-backend-admin-webapp
test/metabase/public_settings @metabase/core-backend-admin-webapp

src/metabase/public_sharing @metabase/core-backend-admin-webapp
test/metabase/public_sharing @metabase/core-backend-admin-webapp

src/metabase/pulse @metabase/core-workflows
test/metabase/pulse @metabase/core-workflows

src/metabase/query_analysis @metabase/core-backend-querying
test/metabase/query_analysis @metabase/core-backend-querying

src/metabase/query_processor @metabase/core-backend-querying
test/metabase/query_processor @metabase/core-backend-querying

src/metabase/request @metabase/devexp
test/metabase/request @metabase/devexp

src/metabase/revisions @metabase/core-backend-admin-webapp
test/metabase/revisions @metabase/core-backend-admin-webapp

src/metabase/sample_data @metabase/core-backend-admin-webapp
test/metabase/sample_data @metabase/core-backend-admin-webapp

src/metabase/search @metabase/core-workflows
test/metabase/search @metabase/core-workflows

src/metabase/segments @metabase/core-backend-querying
test/metabase/segments @metabase/core-backend-querying

src/metabase/server @metabase/devexp
test/metabase/server @metabase/devexp

src/metabase/session @metabase/core-backend-admin-webapp
test/metabase/session @metabase/core-backend-admin-webapp

src/metabase/setup @metabase/core-backend-admin-webapp
test/metabase/setup @metabase/core-backend-admin-webapp

src/metabase/sso @metabase/core-backend-admin-webapp
test/metabase/sso @metabase/core-backend-admin-webapp

src/metabase/sync @metabase/drivers
test/metabase/sync @metabase/drivers

src/metabase/task @metabase/devexp
test/metabase/task @metabase/devexp

src/metabase/tiles @metabase/core-backend-dashviz
test/metabase/tiles @metabase/core-backend-dashviz

src/metabase/timeline @metabase/core-backend-dashviz
test/metabase/timeline @metabase/core-backend-dashviz

src/metabase/types @metabase/core-backend-querying
test/metabase/types @metabase/core-backend-querying

src/metabase/upload @metabase/core-backend-admin-webapp
test/metabase/upload @metabase/core-backend-admin-webapp

src/metabase/user_key_value @metabase/core-backend-admin-webapp
test/metabase/user_key_value @metabase/core-backend-admin-webapp

src/metabase/util @metabase/devexp
test/metabase/util @metabase/devexp

src/metabase/xrays @metabase/core-backend-querying
test/metabase/xrays @metabase/core-backend-querying
