Repository metabase/metabase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @metabase/embedding, @metabase/core-frontend-admin-webapp, @metabase/data, @filiphric, @metabase/devexp, @metabase/backend-developers, @metabase/drivers, @metabase/core-backend-admin-webapp, @metabase/core-workflows, @metabase/core-backend-querying, @metabase/core-backend-dashviz

.github/CODEOWNERS:

# Before changing this file, make sure you have read how we use it:
# https://www.notion.so/metabase/Pull-Request-Code-Review-Guide-374f05df889748b69d67af753f9bc9b8?pvs=4#36550c04ceab40b5a8b8bee6264b090c

enterprise/frontend/src/embedding-sdk @metabase/embedding
frontend/src/metabase/embedding-sdk @metabase/embedding
frontend/src/metabase/ui @metabase/core-frontend-admin-webapp
snowplow/* @metabase/data
e2e @filiphric

.github @metabase/devexp
.clj-kondo @metabase/devexp
deps.edn @metabase/backend-developers

#
# Backend modules <=> teams that own them
#

modules/drivers @metabase/drivers

enterprise/backend/src/metabase_enterprise/advanced_config @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/advanced_config @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/advanced_permissions @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/advanced_permissions @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/airgap @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/airgap @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/api @metabase/devexp
enterprise/backend/test/metabase_enterprise/api @metabase/devexp

enterprise/backend/src/metabase_enterprise/audit_app @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/audit_app @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/auth_provider @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/auth_provider @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/billing @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/billing @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/cache @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/cache @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/content_verification @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/content_verification @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/core @metabase/devexp
enterprise/backend/test/metabase_enterprise/core @metabase/devexp

enterprise/backend/src/metabase_enterprise/dashboard_subscription_filters @metabase/core-workflows
enterprise/backend/test/metabase_enterprise/dashboard_subscription_filters @metabase/core-workflows

enterprise/backend/src/metabase_enterprise/enhancements @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/enhancements @metabase/core-backend-admin-webapp

# enterprise/backend/src/metabase_enterprise/llm
# enterprise/backend/test/metabase_enterprise/llm

enterprise/backend/src/metabase_enterprise/query_reference_validation @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/query_reference_validation @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/sandbox @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/sandbox @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/scim @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/scim @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/search @metabase/core-workflows
enterprise/backend/test/metabase_enterprise/search @metabase/core-workflows

enterprise/backend/src/metabase_enterprise/serialization @metabase/core-workflows
enterprise/backend/test/metabase_enterprise/serialization @metabase/core-workflows

enterprise/backend/src/metabase_enterprise/snippet_collections @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/snippet_collections @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/sso @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/sso @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/stale @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/stale @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/stats @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/stats @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/task @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/task @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/upload_management @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/upload_management @metabase/core-backend-admin-webapp

src/metabase/actions @metabase/core-backend-admin-webapp
test/metabase/actions @metabase/core-backend-admin-webapp

src/metabase/activity_feed @metabase/core-backend-admin-webapp
test/metabase/activity_feed @metabase/core-backend-admin-webapp

src/metabase/analytics @metabase/core-backend-admin-webapp
test/metabase/analytics @metabase/core-backend-admin-webapp

src/metabase/analyze @metabase/drivers
test/metabase/analyze @metabase/drivers

src/metabase/api @metabase/devexp
test/metabase/api @metabase/devexp

src/metabase/audit @metabase/core-backend-admin-webapp
test/metabase/audit @metabase/core-backend-admin-webapp

src/metabase/auth_provider @metabase/core-backend-admin-webapp
test/metabase/auth_provider @metabase/core-backend-admin-webapp

src/metabase/bookmarks @metabase/core-backend-admin-webapp
test/metabase/bookmarks @metabase/core-backend-admin-webapp

src/metabase/cmd @metabase/devexp
test/metabase/cmd @metabase/devexp

src/metabase/channel @metabase/core-workflows
test/metabase/channel @metabase/core-workflows

src/metabase/cloud_migration @metabase/core-workflows
test/metabase/cloud_migration @metabase/core-workflows

src/metabase/cmd @metabase/devexp
test/metabase/cmd @metabase/devexp

src/metabase/config @metabase/devexp
test/metabase/config @metabase/devexp

src/metabase/core @metabase/devexp
test/metabase/core @metabase/devexp

src/metabase/db @metabase/core-backend-admin-webapp
test/metabase/db @metabase/core-backend-admin-webapp

src/metabase/driver @metabase/drivers
test/metabase/driver @metabase/drivers

src/metabase/eid_translation @metabase/core-backend-admin-webapp
test/metabase/eid_translation @metabase/core-backend-admin-webapp

src/metabase/embed @metabase/embedding
test/metabase/embed @metabase/embedding

src/metabase/events @metabase/devexp
test/metabase/events @metabase/devexp

src/metabase/formatter @metabase/core-backend-querying
test/metabase/formatter @metabase/core-backend-querying

src/metabase/indexed_entities @metabase/core-backend-querying
test/metabase/indexed_entities @metabase/core-backend-querying

src/metabase/integrations @metabase/core-workflows
test/metabase/integrations @metabase/core-workflows

src/metabase/legacy_mbql @metabase/core-backend-querying
test/metabase/legacy_mbql @metabase/core-backend-querying

src/metabase/lib @metabase/core-backend-querying
test/metabase/lib @metabase/core-backend-querying

src/metabase/logger @metabase/devexp
test/metabase/logger @metabase/devexp

src/metabase/login_history @metabase/core-backend-admin-webapp
test/metabase/login_history @metabase/core-backend-admin-webapp

src/metabase/model_persistence @metabase/core-backend-querying
test/metabase/model_persistence @metabase/core-backend-querying

src/metabase/models @metabase/devexp
test/metabase/models @metabase/devexp

src/metabase/moderation @metabase/core-backend-admin-webapp
test/metabase/moderation @metabase/core-backend-admin-webapp

src/metabase/notification @metabase/core-workflows
test/metabase/notification @metabase/core-workflows

src/metabase/permissions @metabase/core-backend-admin-webapp
test/metabase/permissions @metabase/core-backend-admin-webapp

src/metabase/plugins @metabase/devexp
test/metabase/plugins @metabase/devexp

src/metabase/premium_features @metabase/core-backend-admin-webapp
test/metabase/premium_features @metabase/core-backend-admin-webapp

src/metabase/public_settings @metabase/core-backend-admin-webapp
test/metabase/public_settings @metabase/core-backend-admin-webapp

src/metabase/public_sharing @metabase/core-backend-admin-webapp
test/metabase/public_sharing @metabase/core-backend-admin-webapp

src/metabase/pulse @metabase/core-workflows
test/metabase/pulse @metabase/core-workflows

src/metabase/query_analysis @metabase/core-backend-querying
test/metabase/query_analysis @metabase/core-backend-querying

src/metabase/query_processor @metabase/core-backend-querying
test/metabase/query_processor @metabase/core-backend-querying

src/metabase/request @metabase/devexp
test/metabase/request @metabase/devexp

src/metabase/revisions @metabase/core-backend-admin-webapp
test/metabase/revisions @metabase/core-backend-admin-webapp

src/metabase/sample_data @metabase/core-backend-admin-webapp
test/metabase/sample_data @metabase/core-backend-admin-webapp

src/metabase/search @metabase/core-workflows
test/metabase/search @metabase/core-workflows

src/metabase/segments @metabase/core-backend-querying
test/metabase/segments @metabase/core-backend-querying

src/metabase/server @metabase/devexp
test/metabase/server @metabase/devexp

src/metabase/session @metabase/core-backend-admin-webapp
test/metabase/session @metabase/core-backend-admin-webapp

src/metabase/setup @metabase/core-backend-admin-webapp
test/metabase/setup @metabase/core-backend-admin-webapp

src/metabase/sso @metabase/core-backend-admin-webapp
test/metabase/sso @metabase/core-backend-admin-webapp

src/metabase/sync @metabase/drivers
test/metabase/sync @metabase/drivers

src/metabase/task @metabase/devexp
test/metabase/task @metabase/devexp

src/metabase/tiles @metabase/core-backend-dashviz
test/metabase/tiles @metabase/core-backend-dashviz

src/metabase/timeline @metabase/core-backend-dashviz
test/metabase/timeline @metabase/core-backend-dashviz

src/metabase/types @metabase/core-backend-querying
test/metabase/types @metabase/core-backend-querying

src/metabase/upload @metabase/core-backend-admin-webapp
test/metabase/upload @metabase/core-backend-admin-webapp

src/metabase/user_key_value @metabase/core-backend-admin-webapp
test/metabase/user_key_value @metabase/core-backend-admin-webapp

src/metabase/util @metabase/devexp
test/metabase/util @metabase/devexp

src/metabase/xrays @metabase/core-backend-querying
test/metabase/xrays @metabase/core-backend-querying

Fix filter value test
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

Remove filter value test, we'll do this one in a follow-up PR
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

Fix some tests
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

Fix typo
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

Fix type issues
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

Add prop addToDashboard to createCard
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
Owners: @filiphric

Fix tests
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
Owners: @filiphric

wip
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

Check that adhoc question errors correctly
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
Owners: @filiphric

wip: improving test performance
  e2e/support/helpers/e2e-ad-hoc-question-helpers.js
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

Fix tests of custom columns, which test that they fail closed
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

Test sandboxing of filter values
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

fixup
  e2e/test/scenarios/dashboard/dashboard-reproductions.cy.spec.js
Owners: @filiphric

Adding unit test for visualizer deep linking
  test/metabase/channel/render/card_test.clj
Owners: @metabase/core-workflows

fix ci
  deps.edn
Owners: @metabase/backend-developers

Use a less weird looking filter id
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

Fix pivot csv export with multiple pivot cols and no row totals
  src/metabase/query_processor/pivot/postprocess.clj
  test/metabase/api/downloads_exports_test.clj
Owners: @metabase/core-backend-querying, @metabase/devexp

only add entity_ids when you have an explicitly nil entity_id
  src/metabase/models/serialization.clj
Owners: @metabase/devexp

Add a native editor placeholder text
  frontend/src/metabase/query_builder/components/NativeQueryEditor/CodeMirrorEditor/CodeMirrorEditor.tsx
Owners: none

Keep the "data reference" panel open by default
  frontend/src/metabase/query_builder/defaults.ts
  frontend/src/metabase/query_builder/reducers.js
Owners: none

Add empty state for snippet sidebar
  frontend/src/metabase/query_builder/components/template_tags/SnippetSidebar/SnippetSidebar.jsx
  frontend/src/metabase/query_builder/components/template_tags/SnippetSidebar/SnippetSidebarEmptyState.tsx
  resources/frontend_client/app/assets/img/empty-states/snippet.svg
Owners: none

🤖 backported "Convert ChartSettingsTableFormatting components to TS" (#54388)
  frontend/src/metabase-types/api/card.ts
  frontend/src/metabase/lib/colors/groups.ts
  frontend/src/metabase/visualizations/components/settings/ChartSettingsTableFormatting/ChartSettingsTableFormatting.tsx
  frontend/src/metabase/visualizations/components/settings/ChartSettingsTableFormatting/ChartSettingsTableFormatting.unit.spec.tsx
  frontend/src/metabase/visualizations/components/settings/ChartSettingsTableFormatting/RuleBackground.tsx
  frontend/src/metabase/visualizations/components/settings/ChartSettingsTableFormatting/RuleDescription.tsx
  frontend/src/metabase/visualizations/components/settings/ChartSettingsTableFormatting/RuleEditor.tsx
  frontend/src/metabase/visualizations/components/settings/ChartSettingsTableFormatting/RuleListing.tsx
  frontend/src/metabase/visualizations/components/settings/ChartSettingsTableFormatting/RulePreview.tsx
  frontend/src/metabase/visualizations/components/settings/ChartSettingsTableFormatting/SortableRuleList.tsx
  frontend/src/metabase/visualizations/components/settings/ChartSettingsTableFormatting/constants.ts
  frontend/src/metabase/visualizations/components/settings/ChartSettingsTableFormatting/get-operators-for-columns.ts
  frontend/src/metabase/visualizations/components/settings/ChartSettingsTableFormatting/index.ts
  frontend/src/metabase/visualizations/components/settings/ChartSettingsTableFormatting/util.ts
  frontend/src/metabase/visualizations/visualizations/PivotTable/settings.ts
Owners: none

Empty state for query results panel
  e2e/test/scenarios/models/reproductions.cy.spec.js
  e2e/test/scenarios/models/reproductions.cy.spec.ts
  e2e/test/scenarios/native-filters/native-filters-reproductions.cy.spec.js
  e2e/test/scenarios/native/native-reproductions.cy.spec.js
  e2e/test/scenarios/native/native-reproductions.cy.spec.ts
  e2e/test/scenarios/native/native.cy.spec.js
  e2e/test/scenarios/question-reproductions/reproductions-2.cy.spec.js
  frontend/src/metabase/query_builder/components/QueryVisualization.jsx
  resources/frontend_client/app/assets/img/empty-states/code.svg
Owners: @filiphric

Attempt one solution
  frontend/src/metabase/admin/settings/components/EmbeddingSettings/EmbeddingSdkLegaleseModal/EmbeddingSdkLegaleseModal.tsx
Owners: none

Don't run native queries with incomplete field filters
  src/metabase/lib/native.cljc
Owners: @metabase/core-backend-querying

eid-translation module
  .clj-kondo/config.edn
  .clj-kondo/config/modules/config.edn
  src/metabase/analytics/stats.clj
  src/metabase/api/embed/common.clj
  src/metabase/eid_translation/core.clj
  test/metabase/api/embed/common_test.clj
Owners: @metabase/devexp, @metabase/core-backend-admin-webapp

Add helpful comment
  test/metabase/lib/native_test.cljc
Owners: @metabase/core-backend-querying

Fix unit tests for SettingsEditor toggle
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/common.embedding.unit.spec.tsx
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/enterprise.embedding.unit.spec.tsx
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/premium.embedding.unit.spec.tsx
Owners: none

fix: nested field refs from join-alias with spaces (#54231) (#54535)
  modules/drivers/oracle/test/metabase/driver/oracle_test.clj
  src/metabase/lib/convert.cljc
  src/metabase/lib/database/methods.cljc
  src/metabase/lib/extraction.cljc
  src/metabase/lib/join.cljc
  src/metabase/lib/js.cljs
  src/metabase/lib/metadata/calculation.cljc
  src/metabase/lib/metadata/jvm.clj
  src/metabase/lib/remove_replace.cljc
  src/metabase/lib/schema/metadata.cljc
  src/metabase/lib/util.cljc
  src/metabase/query_processor/middleware/add_dimension_projections.clj
  src/metabase/query_processor/middleware/escape_join_aliases.clj
  src/metabase/query_processor/middleware/metrics.clj
  src/metabase/query_processor/pivot.clj
  src/metabase/query_processor/util/add_alias_info.clj
  src/metabase/query_processor/util/transformations/nest_breakouts.clj
  test/metabase/lib/util_test.cljc
  test/metabase/query_processor/middleware/escape_join_aliases_test.clj
  test/metabase/query_processor/util/transformations/nest_breakouts_test.clj
  test/metabase/query_processor_test/nested_queries_test.clj
Owners: @metabase/drivers, @metabase/core-backend-querying

revert re-enabling a couple tests since they fail on mysql
  test/metabase/api/downloads_exports_test.clj
Owners: @metabase/devexp

respond to review comments
  enterprise/backend/test/metabase_enterprise/advanced_config/file/databases_test.clj
  src/metabase/sync/sync_metadata/crufty.clj
Owners: @metabase/core-backend-admin-webapp, @metabase/drivers

reorder dev deps
  deps.edn
Owners: @metabase/backend-developers

SDK legalese text overflow (#54541)
  frontend/src/metabase/admin/settings/components/EmbeddingSettings/EmbeddingSdkLegaleseModal/EmbeddingSdkLegaleseModal.tsx
Owners: none

SDK legalese text overflow (#54541)
  frontend/src/metabase/admin/settings/components/EmbeddingSettings/EmbeddingSdkLegaleseModal/EmbeddingSdkLegaleseModal.tsx
Owners: none

SDK legalese text overflow (#54541)
  frontend/src/metabase/admin/settings/components/EmbeddingSettings/EmbeddingSdkLegaleseModal/EmbeddingSdkLegaleseModal.tsx
Owners: none

Allow zoom on joined binned column (#54226) (#54537)
  src/metabase/lib/breakout.cljc
  test/metabase/lib/drill_thru/zoom_in_bins_test.cljc
Owners: @metabase/core-backend-querying

fix: update saml20 for full SAML SLO support
  deps.edn
  enterprise/backend/src/metabase_enterprise/sso/api/sso.clj
  enterprise/backend/src/metabase_enterprise/sso/integrations/saml.clj
  enterprise/backend/src/metabase_enterprise/sso/integrations/sso_settings.clj
  enterprise/backend/test/metabase_enterprise/sso/api/sso_test.clj
  enterprise/backend/test/metabase_enterprise/sso/integrations/saml_test.clj
  test_resources/saml-slo-test-response.xml
  test_resources/sso/idp.cert
  test_resources/sso/idp.private.key
Owners: @metabase/backend-developers, @metabase/core-backend-admin-webapp

Fix tests of custom columns, which test that they fail closed
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

Fix typo
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

Check that adhoc question errors correctly
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
Owners: @filiphric
