Repository metabase/metabase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @camsaul, @sbelak, @kdoh, @tlrobinson, @paulrosenzweig, @mazameli

https redirect
  docs/administration-guide/08-configuration-settings.md
Owners: @mazameli

removed language settings from configuration settings
  docs/administration-guide/08-configuration-settings.md
Owners: @mazameli

global, field, question formatting settings
  docs/administration-guide/08-configuration-settings.md
  docs/administration-guide/19-formatting-settings.md
  docs/administration-guide/localization.md
  docs/administration-guide/start.md
Owners: @mazameli

localization draft
  src/metabase/public_settings.clj
Owners: @camsaul

typo
  docs/administration-guide/databases/bigquery.md
Owners: @mazameli

hide tables gif
  docs/administration-guide/03-metadata-editing.md
  docs/administration-guide/images/hide-unhide-tables.gif
Owners: @mazameli

updated screenshots and column reordering gif
  docs/administration-guide/03-metadata-editing.md
  docs/administration-guide/images/column-reorder.gif
  docs/administration-guide/images/filter-options.png
  docs/administration-guide/images/hide-unhide-tables.gif
  docs/administration-guide/images/remapping/custom-mapping.png
  docs/administration-guide/images/remapping/fk-mapping.png
  docs/administration-guide/images/remapping/form.png
Owners: @mazameli

fix hide tables gif
  docs/administration-guide/images/hide-unhide-tables.gif
Owners: @mazameli

typo
  docs/administration-guide/03-metadata-editing.md
Owners: @mazameli

Docs 36 labels multiseries (#12772)
  docs/users-guide/05-visualizing-results.md
  docs/users-guide/09-multi-series-charting.md
  docs/users-guide/images/MultiSeriesFinished.png
  docs/users-guide/images/MultiSeriesModal1.png
  docs/users-guide/images/MultiSeriesModal2.png
  docs/users-guide/images/MultiSeriesQueryBuilder.png
  docs/users-guide/images/MultiSeriesTrigger.png
  docs/users-guide/images/multi-series-charts/add_bar_chart.png
  docs/users-guide/images/multi-series-charts/add_series.png
  docs/users-guide/images/multi-series-charts/add_values.gif
  docs/users-guide/images/multi-series-charts/edit_modal.png
  docs/users-guide/images/multi-series-charts/edit_modal_multi-series.png
  docs/users-guide/images/multi-series-charts/multi-series_query_builder.png
  docs/users-guide/images/multi-series-charts/notebook_editor_multi-series.png
  docs/users-guide/images/multi-series-charts/numbers_to_bar_chart.png
Owners: @mazameli

Maz suggestion [ci skip]
  README.md
  docs/enterprise-guide/data-sandboxes.md
  docs/operations-guide/running-the-metabase-jar-file.md
Owners: @mazameli

replaced HompageApp.e2e with activity-page.cy
  frontend/test/metabase/home/HomepageApp.e2e.spec.js
  frontend/test/metabase/scenarios/home/activity-page.cy.spec.js
Owners: none

Turkish [ci skip]
  docs/faq/general/what-languages-can-be-used-with-metabase.md
Owners: @mazameli

learn about your data
  docs/administration-guide/03-metadata-editing.md
  docs/administration-guide/images/learn-about-your-data-sql-editor.png
Owners: @mazameli

prettier
  frontend/test/metabase/scenarios/home/activity-page.cy.spec.js
Owners: none

metadata editing
  docs/administration-guide/03-metadata-editing.md
Owners: @mazameli

mark flake as pending (#12858)
  frontend/test/metabase/scenarios/visualizations/chart_drill.cy.spec.js
Owners: none

use base_type if there's no special_type for custom formatting (#12855)
  frontend/src/metabase/visualizations/lib/settings/column.js
Owners: @tlrobinson

Fix broken datetime fingerprinters (#12856)
  src/metabase/sync/analyze/fingerprint/fingerprinters.clj
  test/metabase/sync/analyze/fingerprint/fingerprinters_test.clj
Owners: @camsaul, @sbelak

Remove duplicate impl of equiv() -- fix build failures
  src/metabase/util/i18n.clj
Owners: @camsaul

Minor doc tweaks [ci skip]
  docs/developers-guide-osx.md
Owners: @mazameli

Remove duplicate impl of equiv() -- fix build failures (#12881)
  src/metabase/util/i18n.clj
Owners: @camsaul

Fix flow
  frontend/src/metabase-lib/lib/Question.js
  frontend/src/metabase-lib/lib/metadata/Database.js
  frontend/src/metabase-lib/lib/metadata/Field.js
  frontend/src/metabase-lib/lib/metadata/Table.js
  frontend/src/metabase-lib/lib/queries/StructuredQuery.js
  frontend/src/metabase/admin/datamodel/containers/FieldApp.jsx
  frontend/src/metabase/meta/Card.js
  frontend/src/metabase/meta/Parameter.js
  frontend/src/metabase/modes/components/TimeseriesFilterWidget.jsx
  frontend/src/metabase/modes/components/modes/TimeseriesMode.jsx
  frontend/src/metabase/query_builder/components/AggregationPopover.jsx
  frontend/src/metabase/query_builder/components/FieldList.jsx
  frontend/src/metabase/query_builder/components/QueryVisualization.jsx
  frontend/src/metabase/query_builder/components/filters/FilterWidgetList.jsx
  frontend/src/metabase/visualizations/visualizations/ObjectDetail.jsx
  frontend/test/metabase/containers/SaveQuestionModal.unit.spec.js
  frontend/test/metabase/meta/Card.unit.spec.js
  frontend/test/metabase/modes/TimeseriesFilterWidget.unit.spec.js
Owners: @tlrobinson, @paulrosenzweig

Fix bad error message; better trs/tru validation
  src/metabase/public_settings.clj
  src/metabase/util/i18n.clj
  test/metabase/util/i18n_test.clj
Owners: @camsaul

SQL placeholder should not be translated (#12866)
  frontend/src/metabase/entities/snippets.js
Owners: @tlrobinson, @paulrosenzweig

Better tests & error checking
  src/metabase/util/i18n.clj
  test/metabase/util/i18n_test.clj
Owners: @camsaul

Additional test & better error message for setting query-caching-max-kb
  src/metabase/public_settings.clj
  test/metabase/public_settings_test.clj
Owners: @camsaul

Infer native query col types even if first 100 values are nil (#12843)
  src/metabase/driver/common.clj
  src/metabase/query_processor/middleware/annotate.clj
  test/metabase/driver/common_test.clj
  test/metabase/query_processor/middleware/annotate_test.clj
Owners: @camsaul

Fix bad error message; better trs/tru validation (#12885)
  src/metabase/public_settings.clj
  src/metabase/util/i18n.clj
  test/metabase/public_settings_test.clj
  test/metabase/util/i18n_test.clj
Owners: @camsaul

fix FE unit test flake in generate password
  frontend/test/metabase/lib/utils.unit.spec.js
Owners: none

Fix insights not working on cached results
  src/metabase/query_processor/middleware/cache.clj
  src/metabase/sync/analyze/fingerprint/insights.clj
  test/metabase/query_processor/middleware/cache_test.clj
Owners: @camsaul, @sbelak

Make test more robust
  test/metabase/query_processor/middleware/cache_test.clj
Owners: @camsaul

Metabase lib cleanup 2 (#12853)
  frontend/src/metabase-lib/lib/metadata/Metadata.js
  frontend/src/metabase-lib/lib/queries/StructuredQuery.js
  frontend/src/metabase-lib/lib/queries/structured/Aggregation.js
  frontend/src/metabase-lib/lib/queries/structured/Filter.js
  frontend/src/metabase-lib/lib/queries/structured/OrderBy.js
  frontend/src/metabase/admin/datamodel/components/MetricForm.jsx
  frontend/src/metabase/admin/datamodel/components/revisions/QueryDiff.jsx
  frontend/src/metabase/lib/query.js
  frontend/src/metabase/lib/query/aggregation.js
  frontend/src/metabase/meta/Parameter.js
  frontend/src/metabase/query_builder/components/AggregationName.jsx
  frontend/src/metabase/query_builder/components/AggregationPopover.jsx
  frontend/src/metabase/query_builder/components/AggregationWidget.jsx
  frontend/src/metabase/query_builder/components/BreakoutName.jsx
  frontend/src/metabase/query_builder/components/BreakoutWidget.jsx
  frontend/src/metabase/query_builder/components/FieldList.jsx
  frontend/src/metabase/query_builder/components/FieldName.jsx
  frontend/src/metabase/query_builder/components/FieldWidget.jsx
  frontend/src/metabase/query_builder/components/Filter.jsx
  frontend/src/metabase/query_builder/components/QueryDefinition.jsx
  frontend/src/metabase/query_builder/components/QueryDefinitionTooltip.jsx
  frontend/src/metabase/query_builder/components/SortWidget.jsx
  frontend/src/metabase/query_builder/components/dataref/MetricPane.jsx
  frontend/src/metabase/query_builder/components/dataref/QueryDefinition.jsx
  frontend/src/metabase/query_builder/components/dataref/SegmentPane.jsx
  frontend/src/metabase/query_builder/components/notebook/steps/SortStep.jsx
  frontend/src/metabase/query_builder/components/view/sidebars/SummarizeSidebar.jsx
  frontend/src/metabase/reference/components/Formula.jsx
  frontend/test/metabase-lib/lib/queries/StructuredQuery.unit.spec.js
  frontend/test/metabase/query_builder/components/FieldName.unit.spec.js
Owners: @tlrobinson, @paulrosenzweig

added comment
  frontend/test/metabase-smoketest/admin_setup.cy.spec.js
Owners: none

Fix type inference [ci drivers]
  modules/drivers/druid/src/metabase/driver/druid/execute.clj
  src/metabase/driver/common.clj
  src/metabase/query_processor/middleware/annotate.clj
Owners: @camsaul

Update test [ci drivers]
  src/metabase/query_processor/middleware/annotate.clj
  test/metabase/query_processor/middleware/annotate_test.clj
Owners: @camsaul

Don't loose metadata [ci drivers]
  src/metabase/query_processor/middleware/annotate.clj
Owners: @camsaul

Add Cypress auth test to for small screen sizes
  frontend/test/metabase/scenarios/auth/signin.cy.spec.js
Owners: none

Fix z-index for all auth wrappers
  frontend/src/metabase/auth/containers/ForgotPasswordApp.jsx
  frontend/src/metabase/auth/containers/PasswordResetApp.jsx
Owners: @tlrobinson

Druid: use placeholder types so we can reuse more code [ci drivers]
  modules/drivers/druid/src/metabase/driver/druid/execute.clj
  src/metabase/query_processor/middleware/annotate.clj
Owners: @camsaul

.github/CODEOWNERS:

*.clj @camsaul
/src/metabase/automagic_dashboards/ @sbelak
/test/metabase/automagic_dashboards/ @sbelak
/src/metabase/transform/ @sbelak
/test/metabase/transform/ @sbelak
/src/metabase/sync/ @camsaul @sbelak
/test/metabase/sync/ @camsaul @sbelak
*.css @kdoh
/frontend/src @tlrobinson
/frontend/src/metabase/components/ @kdoh
/frontend/src/metabase/admin/datamodel/ @tlrobinson @paulrosenzweig
/frontend/src/metabase/entities/ @tlrobinson @paulrosenzweig
/frontend/src/metabase/lib/entities/ @tlrobinson @paulrosenzweig
/docs/ @mazameli
