Repository metabase/metabase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @camsaul, @sbelak, @kdoh, @tlrobinson, @paulrosenzweig, @mazameli

Fix AggregationName handling of deprecated 'rows' aggregation
  frontend/src/metabase/query_builder/actions.js
  frontend/src/metabase/query_builder/components/AggregationName.jsx
Owners: @tlrobinson

improved import syntax
  frontend/test/metabase/scenarios/question/custom_column.cy.spec.js
Owners: none

chore: add simple doc for connecting to Snowflake (#12755)
  docs/administration-guide/01-managing-databases.md
  docs/administration-guide/databases/snowflake.md
Owners: @mazameli

add ability to clear out table filter
  frontend/src/metabase/admin/datamodel/containers/MetricListApp.jsx
  frontend/src/metabase/admin/datamodel/containers/SegmentListApp.jsx
  frontend/src/metabase/admin/datamodel/hoc/FilteredToUrlTable.jsx
  frontend/src/metabase/css/core/text.css
Owners: @tlrobinson, @paulrosenzweig

Use mt/with-log-level in test
  test/metabase/automagic_dashboards/core_test.clj
Owners: @sbelak

Fix URL in H2 database warning (#12830)
  src/metabase/db.clj
Owners: @camsaul

Fix isStandard
  frontend/src/metabase/lib/query/aggregation.js
  frontend/src/metabase/query_builder/components/AggregationPopover.jsx
Owners: @tlrobinson

Move generateQueryDescription to metabase/lib/query/description.js
  frontend/src/metabase/admin/datamodel/components/database/MetricItem.jsx
  frontend/src/metabase/admin/datamodel/components/database/SegmentItem.jsx
  frontend/src/metabase/containers/SaveQuestionModal.jsx
  frontend/src/metabase/lib/query.js
  frontend/src/metabase/lib/query/description.js
  frontend/test/metabase/lib/query.unit.spec.js
  frontend/test/metabase/lib/query/description.unit.spec.js
Owners: @tlrobinson, @paulrosenzweig

Handle comparing ChronoLocalDateTime and Instants
  src/metabase/sync/analyze/fingerprint/fingerprinters.clj
  test/metabase/sync/analyze/fingerprint/fingerprinters_test.clj
Owners: @camsaul, @sbelak

Modernize AddSeriesModal so we can remove a bunch more of metabase/lib/query.js
  frontend/src/metabase/dashboard/components/AddSeriesModal.jsx
  frontend/src/metabase/lib/query.js
Owners: @tlrobinson

Docs: Restart clarification, when changing SAML settings [ci skip] (#12828)
  docs/enterprise-guide/authenticating-with-saml.md
Owners: @mazameli

cypress repro for #12349
  frontend/test/__support__/cypress.js
  frontend/test/metabase-smoketest/admin_setup.cy.spec.js
  frontend/test/metabase/scenarios/README.md
  frontend/test/metabase/scenarios/alert/email_alert.cy.spec.js
Owners: none

bold text for filter
  frontend/src/metabase/admin/datamodel/hoc/FilteredToUrlTable.jsx
Owners: @tlrobinson, @paulrosenzweig

Create Docs-Metabase on Windows - Configuring for MySQL, Migration from H2
  Docs-Metabase on Windows - Configuring for MySQL, Migration from H2
Owners: none

Quote rows column, otherwise MySQL migration fails
  resources/migrations/000_migrations.yaml
Owners: none

Infer native query col types even if first 100 values are nil
  src/metabase/driver/common.clj
  src/metabase/query_processor/middleware/annotate.clj
  test/metabase/query_processor/middleware/annotate_test.clj
Owners: @camsaul

Update tests
  src/metabase/query_processor/middleware/annotate.clj
  test/metabase/driver/common_test.clj
Owners: @camsaul

xrays: don't barf on names with % in them (#12815)
  src/metabase/automagic_dashboards/core.clj
  test/metabase/automagic_dashboards/core_test.clj
Owners: @sbelak

making ->temporal recursive
  src/metabase/sync/analyze/fingerprint/fingerprinters.clj
Owners: @camsaul, @sbelak

Quote rows column, otherwise MySQL migration fails
  resources/migrations/000_migrations.yaml
Owners: none

Frontend Metabase lib cleanup #1 (#12812)
  frontend/src/metabase-lib/lib/queries/structured/Aggregation.js
  frontend/src/metabase/admin/datamodel/components/database/MetricItem.jsx
  frontend/src/metabase/admin/datamodel/components/database/SegmentItem.jsx
  frontend/src/metabase/containers/SaveQuestionModal.jsx
  frontend/src/metabase/dashboard/components/AddSeriesModal.jsx
  frontend/src/metabase/lib/query.js
  frontend/src/metabase/lib/query/aggregation.js
  frontend/src/metabase/lib/query/breakout.js
  frontend/src/metabase/lib/query/description.js
  frontend/src/metabase/lib/query/query.js
  frontend/src/metabase/lib/query_aggregation.js
  frontend/src/metabase/meta/types/Query.js
  frontend/src/metabase/query_builder/actions.js
  frontend/src/metabase/query_builder/components/AggregationName.jsx
  frontend/src/metabase/query_builder/components/AggregationPopover.jsx
  frontend/src/metabase/query_builder/components/FieldName.jsx
  frontend/src/metabase/query_builder/components/FieldWidget.jsx
  frontend/src/metabase/query_builder/components/filters/pickers/DatePicker.jsx
  frontend/src/metabase/reference/selectors.js
  frontend/test/metabase/lib/query.unit.spec.js
  frontend/test/metabase/lib/query/description.unit.spec.js
Owners: @tlrobinson, @paulrosenzweig

Test fix :wrench: [ci mysql] [ci mariadb] [ci postgres]
  test/metabase/api/table_test.clj
Owners: @camsaul

object-defaults should always remove created_at/updated_at [ci mysql] [ci mariadb] [ci postgres]
  test/metabase/test.clj
Owners: @camsaul

Get the timezone in an precedence order
  src/metabase/query_processor/timezone.clj
  src/metabase/sync/analyze/fingerprint/fingerprinters.clj
  test/metabase/sync/analyze/fingerprint/fingerprinters_test.clj
Owners: @camsaul, @sbelak

use UTC for timezones
  test/metabase/sync/analyze/fingerprint/fingerprinters_test.clj
Owners: @camsaul, @sbelak

Handle comparing ChronoLocalDateTime and Instants (#12834)
  src/metabase/query_processor/timezone.clj
  src/metabase/sync/analyze/fingerprint/fingerprinters.clj
  test/metabase/sync/analyze/fingerprint/fingerprinters_test.clj
Owners: @camsaul, @sbelak

Allow setting Snippet collection_id from API
  src/metabase/api/native_query_snippet.clj
  src/metabase/models/card.clj
  src/metabase/models/collection.clj
  src/metabase/models/dashboard.clj
  src/metabase/models/native_query_snippet.clj
  src/metabase/models/pulse.clj
  test/metabase/api/native_query_snippet_test.clj
  test/metabase/models/collection_test.clj
  test/metabase/test/util.clj
Owners: @camsaul

Quote rows column, otherwise MySQL migration fails (#12844)
  resources/migrations/000_migrations.yaml
  test/metabase/api/table_test.clj
  test/metabase/test.clj
Owners: @camsaul

add back empty list text
  frontend/src/metabase/admin/datamodel/containers/MetricListApp.jsx
  frontend/src/metabase/admin/datamodel/containers/SegmentListApp.jsx
Owners: @tlrobinson, @paulrosenzweig

Add Vertica limitation back [ci sqlite]
  docs/users-guide/expressions.md
  modules/drivers/vertica/src/metabase/driver/vertica.clj
Owners: @mazameli, @camsaul

time of operation replaces type of operation
  docs/operations-guide/scaling-metabase.md
Owners: @mazameli

update db compatibility
  docs/operations-guide/scaling-metabase.md
Owners: @mazameli

clarify external application database
  docs/operations-guide/scaling-metabase.md
Owners: @mazameli

cypress tests so filter works for nodata user
  frontend/test/metabase/scenarios/question/view.cy.spec.js
Owners: none

prettier
  frontend/test/metabase/scenarios/question/view.cy.spec.js
Owners: none

Allow setting Snippet collection_id from API (#12848)
  src/metabase/api/native_query_snippet.clj
  src/metabase/models/card.clj
  src/metabase/models/collection.clj
  src/metabase/models/dashboard.clj
  src/metabase/models/native_query_snippet.clj
  src/metabase/models/pulse.clj
  test/metabase/api/native_query_snippet_test.clj
  test/metabase/models/collection_test.clj
  test/metabase/test/util.clj
Owners: @camsaul

Smoketests/improve merge (#12810)
  frontend/test/metabase-smoketest/admin.cy.spec.js
  frontend/test/metabase-smoketest/admin_setup.cy.spec.js
Owners: none

combined sections
  docs/operations-guide/scaling-metabase.md
Owners: @mazameli

Remove StructuredQuery's dependency on deprecated metabase/lib/query.js
  frontend/src/metabase-lib/lib/queries/StructuredQuery.js
  frontend/src/metabase-lib/lib/queries/structured/Aggregation.js
  frontend/src/metabase-lib/lib/queries/structured/OrderBy.js
  frontend/src/metabase/lib/query.js
  frontend/src/metabase/lib/query/aggregation.js
  frontend/test/metabase-lib/lib/queries/StructuredQuery.unit.spec.js
Owners: @tlrobinson

Refactor QueryDefinition{,Tooltip} to use metabase-lib
  frontend/src/metabase-lib/lib/metadata/Metadata.js
  frontend/src/metabase/lib/query.js
  frontend/src/metabase/query_builder/components/AggregationName.jsx
  frontend/src/metabase/query_builder/components/AggregationPopover.jsx
  frontend/src/metabase/query_builder/components/QueryDefinition.jsx
  frontend/src/metabase/query_builder/components/QueryDefinitionTooltip.jsx
  frontend/src/metabase/query_builder/components/SortWidget.jsx
  frontend/src/metabase/query_builder/components/dataref/MetricPane.jsx
  frontend/src/metabase/query_builder/components/dataref/QueryDefinition.jsx
  frontend/src/metabase/query_builder/components/dataref/SegmentPane.jsx
  frontend/src/metabase/reference/components/Formula.jsx
Owners: @tlrobinson

.github/CODEOWNERS:

*.clj @camsaul
/src/metabase/automagic_dashboards/ @sbelak
/test/metabase/automagic_dashboards/ @sbelak
/src/metabase/transform/ @sbelak
/test/metabase/transform/ @sbelak
/src/metabase/sync/ @camsaul @sbelak
/test/metabase/sync/ @camsaul @sbelak
*.css @kdoh
/frontend/src @tlrobinson
/frontend/src/metabase/components/ @kdoh
/frontend/src/metabase/admin/datamodel/ @tlrobinson @paulrosenzweig
/frontend/src/metabase/entities/ @tlrobinson @paulrosenzweig
/frontend/src/metabase/lib/entities/ @tlrobinson @paulrosenzweig
/docs/ @mazameli
