Repository metabase/metabase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @camsaul, @sbelak, @kdoh, @tlrobinson, @paulrosenzweig, @mazameli

.github/CODEOWNERS:

*.clj @camsaul
/src/metabase/automagic_dashboards/ @sbelak
/test/metabase/automagic_dashboards/ @sbelak
/src/metabase/transform/ @sbelak
/test/metabase/transform/ @sbelak
/src/metabase/sync/ @camsaul @sbelak
/test/metabase/sync/ @camsaul @sbelak
*.css @kdoh
/frontend/src @tlrobinson
/frontend/src/metabase/components/ @kdoh
/frontend/src/metabase/admin/datamodel/ @tlrobinson @paulrosenzweig
/frontend/src/metabase/entities/ @tlrobinson @paulrosenzweig
/frontend/src/metabase/lib/entities/ @tlrobinson @paulrosenzweig
/docs/ @mazameli

Add test [ci drivers]
  test/metabase/driver/sql_jdbc/sync_test.clj
Owners: @camsaul

Test refactoring [ci drivers]
  src/metabase/db/metadata_queries.clj
  test/metabase/api/table_test.clj
  test/metabase/db/metadata_queries_test.clj
  test/metabase/query_processor_test.clj
  test/metabase/query_processor_test/aggregation_test.clj
  test/metabase/query_processor_test/breakout_test.clj
  test/metabase/query_processor_test/constraints_test.clj
  test/metabase/query_processor_test/field_visibility_test.clj
  test/metabase/query_processor_test/fields_test.clj
  test/metabase/query_processor_test/remapping_test.clj
  test/metabase/test/data.clj
Owners: @camsaul

Docs for data model, localization, https redirect (#12876)
  docs/administration-guide/03-metadata-editing.md
  docs/administration-guide/08-configuration-settings.md
  docs/administration-guide/19-formatting-settings.md
  docs/administration-guide/databases/bigquery.md
  docs/administration-guide/images/column-reorder.gif
  docs/administration-guide/images/filter-options.png
  docs/administration-guide/images/hide-unhide-tables.gif
  docs/administration-guide/images/learn-about-your-data-sql-editor.png
  docs/administration-guide/images/remapping/custom-mapping.png
  docs/administration-guide/images/remapping/fk-mapping.png
  docs/administration-guide/images/remapping/form.png
  docs/administration-guide/localization.md
  docs/administration-guide/start.md
  src/metabase/public_settings.clj
Owners: @mazameli, @camsaul

Lint fix
  test/metabase/query_processor_test.clj
Owners: @camsaul

outline for issue
  frontend/test/metabase/scenarios/setup/x-rays.cy.spec.js
Owners: none

sql-snippet ee article
  docs/enterprise-guide/images/sql-snippets/create-new-folder-modal.png
  docs/enterprise-guide/images/sql-snippets/snippet-folder.png
  docs/enterprise-guide/sql-snippets.md
Owners: @mazameli

searching for snippets
  docs/enterprise-guide/sql-snippets.md
Owners: @mazameli

skip test until issue is solved
  frontend/test/metabase/scenarios/admin/datamodel/field.cy.spec.js
Owners: none

note on aliases
  docs/users-guide/sql-snippets.md
Owners: @mazameli

liquid raw wrap on sample snippet code
  docs/users-guide/sql-snippets.md
Owners: @mazameli

skip test until issue is solved (#12929)
  frontend/test/metabase/scenarios/admin/datamodel/field.cy.spec.js
Owners: none

x-ray load test
  frontend/test/metabase/scenarios/setup/x-rays.cy.spec.js
Owners: none

move file location
  frontend/test/metabase/scenarios/dashboard/x-rays.cy.spec.js
Owners: none

link to enterprise snippet folders docs
  docs/users-guide/sql-snippets.md
Owners: @mazameli

Test refactoring [ci drivers] (#12927)
  src/metabase/db/metadata_queries.clj
  test/metabase/api/table_test.clj
  test/metabase/db/metadata_queries_test.clj
  test/metabase/query_processor_test.clj
  test/metabase/query_processor_test/aggregation_test.clj
  test/metabase/query_processor_test/breakout_test.clj
  test/metabase/query_processor_test/constraints_test.clj
  test/metabase/query_processor_test/field_visibility_test.clj
  test/metabase/query_processor_test/fields_test.clj
  test/metabase/query_processor_test/remapping_test.clj
  test/metabase/test/data.clj
Owners: @camsaul

More tests
  test/metabase/driver/sql_jdbc/sync_test.clj
Owners: @camsaul

Fix :user-login activity not being recorded during setup (#12933)
  src/metabase/api/setup.clj
  src/metabase/models/database.clj
  test/metabase/api/setup_test.clj
  test/metabase/query_processor_test.clj
Owners: @camsaul

sql snippet folder permissions
  docs/enterprise-guide/sql-snippets.md
  docs/users-guide/sql-snippets.md
Owners: @mazameli

note on names
  docs/enterprise-guide/sql-snippets.md
  docs/users-guide/sql-snippets.md
Owners: @mazameli

list formatting
  docs/users-guide/sql-snippets.md
Owners: @mazameli

Test fixes :wrench:
  modules/drivers/bigquery/test/metabase/test/data/bigquery.clj
  modules/drivers/presto/src/metabase/driver/presto.clj
  src/metabase/api/setup.clj
  src/metabase/events.clj
  src/metabase/events/activity_feed.clj
  src/metabase/events/dependencies.clj
  src/metabase/events/driver_notifications.clj
  src/metabase/events/last_login.clj
  src/metabase/events/metabot_lifecycle.clj
  src/metabase/events/notifications.clj
  src/metabase/events/revision.clj
  src/metabase/events/sync_database.clj
  src/metabase/events/view_log.clj
  test/metabase/api/setup_test.clj
  test/metabase/events_test.clj
  test/metabase/test/initialize.clj
  test/metabase/test/initialize/events.clj
Owners: @camsaul

Fix Database sync not happening at setup (#12826)
  src/metabase/api/common.clj
  src/metabase/api/setup.clj
  src/metabase/events.clj
  src/metabase/events/activity_feed.clj
  src/metabase/events/dependencies.clj
  src/metabase/events/driver_notifications.clj
  src/metabase/events/last_login.clj
  src/metabase/events/metabot_lifecycle.clj
  src/metabase/events/notifications.clj
  src/metabase/events/revision.clj
  src/metabase/events/sync_database.clj
  src/metabase/events/view_log.clj
  src/metabase/task.clj
  src/metabase/task/send_anonymous_stats.clj
  src/metabase/task/sync_databases.clj
  src/metabase/util/cron.clj
  test/metabase/api/setup_test.clj
  test/metabase/models/database_test.clj
  test/metabase/sync_database/analyze_test.clj
  test/metabase/task/sync_databases_test.clj
  test/metabase/test/util.clj
Owners: @camsaul

Test cleanup. Wow!
  backend/mbql/test/metabase/mbql/normalize_test.clj
  src/metabase/events/view_log.clj
  test/expectations.clj
  test/metabase/events/view_log_test.clj
  test/metabase/models/database_test.clj
  test/metabase/models/humanization_test.clj
  test/metabase/models/permissions_test.clj
  test/metabase/sync_database/analyze_test.clj
  test/metabase/task/sync_databases_test.clj
Owners: @camsaul

More test cleanup
  backend/mbql/test/metabase/mbql/normalize_test.clj
  test/expectations.clj
  test/metabase/sync_database/analyze_test.clj
Owners: @camsaul

Test/lint fix :wrench:
  src/metabase/events.clj
  test/metabase/sync_database/analyze_test.clj
Owners: @camsaul

test fix :wrench:
  test/metabase/api/setup_test.clj
Owners: @camsaul

Test fix
  src/metabase/models/table.clj
  test/metabase/api/setup_test.clj
Owners: @camsaul

As a fallback get database type from select * (#11358)
  frontend/src/metabase/dashboard/dashboard.js
  modules/drivers/sqlite/test/metabase/driver/sqlite_test.clj
  src/metabase/driver/sql_jdbc/sync.clj
  test/metabase/driver/sql_jdbc/sync_test.clj
Owners: @tlrobinson, @camsaul

permissions note
  docs/enterprise-guide/sql-snippets.md
Owners: @mazameli

Rework MBQL normalize tests
  backend/mbql/test/metabase/mbql/normalize_test.clj
Owners: @camsaul

Rework MBQL normalize tests (#12940)
  backend/mbql/test/metabase/mbql/normalize_test.clj
Owners: @camsaul

Rework more tests
  modules/drivers/bigquery/test/metabase/test/data/bigquery.clj
  modules/drivers/presto/src/metabase/driver/presto.clj
  test/metabase/models/humanization_test.clj
  test/metabase/models/permissions_test.clj
Owners: @camsaul

Rework more tests (#12941)
  modules/drivers/bigquery/test/metabase/test/data/bigquery.clj
  modules/drivers/presto/src/metabase/driver/presto.clj
  test/metabase/models/humanization_test.clj
  test/metabase/models/permissions_test.clj
Owners: @camsaul

Fix Database sync not happening at setup (#12826)
  src/metabase/api/common.clj
  src/metabase/api/setup.clj
  src/metabase/events.clj
  src/metabase/events/activity_feed.clj
  src/metabase/events/dependencies.clj
  src/metabase/events/driver_notifications.clj
  src/metabase/events/last_login.clj
  src/metabase/events/metabot_lifecycle.clj
  src/metabase/events/notifications.clj
  src/metabase/events/revision.clj
  src/metabase/events/sync_database.clj
  src/metabase/events/view_log.clj
  src/metabase/task.clj
  src/metabase/task/send_anonymous_stats.clj
  src/metabase/task/sync_databases.clj
  src/metabase/util/cron.clj
  test/metabase/api/setup_test.clj
  test/metabase/models/database_test.clj
  test/metabase/sync_database/analyze_test.clj
  test/metabase/task/sync_databases_test.clj
  test/metabase/test/util.clj
Owners: @camsaul

Fix :user-login activity not being recorded during setup (#12933)
  src/metabase/api/setup.clj
  src/metabase/models/database.clj
  test/metabase/api/setup_test.clj
  test/metabase/query_processor_test.clj
Owners: @camsaul

Test fixes :wrench:
  src/metabase/api/setup.clj
  src/metabase/events.clj
  src/metabase/events/activity_feed.clj
  src/metabase/events/dependencies.clj
  src/metabase/events/driver_notifications.clj
  src/metabase/events/last_login.clj
  src/metabase/events/metabot_lifecycle.clj
  src/metabase/events/notifications.clj
  src/metabase/events/revision.clj
  src/metabase/events/sync_database.clj
  src/metabase/events/view_log.clj
  test/metabase/api/setup_test.clj
  test/metabase/events_test.clj
  test/metabase/test/initialize.clj
  test/metabase/test/initialize/events.clj
Owners: @camsaul

Test cleanup. Wow!
  src/metabase/events/view_log.clj
  test/expectations.clj
  test/metabase/events/view_log_test.clj
  test/metabase/models/database_test.clj
  test/metabase/sync_database/analyze_test.clj
  test/metabase/task/sync_databases_test.clj
Owners: @camsaul

More test cleanup
  test/expectations.clj
  test/metabase/sync_database/analyze_test.clj
Owners: @camsaul

test fix :wrench:
  test/metabase/api/setup_test.clj
Owners: @camsaul

Test/lint fix :wrench:
  src/metabase/events.clj
  test/metabase/sync_database/analyze_test.clj
Owners: @camsaul
