Repository metabase/metabase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @camsaul, @sbelak, @kdoh, @tlrobinson, @paulrosenzweig, @mazameli

.github/CODEOWNERS:

*.clj @camsaul
/src/metabase/automagic_dashboards/ @sbelak
/test/metabase/automagic_dashboards/ @sbelak
/src/metabase/transform/ @sbelak
/test/metabase/transform/ @sbelak
/src/metabase/sync/ @camsaul @sbelak
/test/metabase/sync/ @camsaul @sbelak
*.css @kdoh
/frontend/src @tlrobinson
/frontend/src/metabase/components/ @kdoh
/frontend/src/metabase/admin/datamodel/ @tlrobinson @paulrosenzweig
/frontend/src/metabase/entities/ @tlrobinson @paulrosenzweig
/frontend/src/metabase/lib/entities/ @tlrobinson @paulrosenzweig
/docs/ @mazameli

Test fix
  src/metabase/models/table.clj
  test/metabase/api/setup_test.clj
Owners: @camsaul

rename of permission levels and explanation
  docs/enterprise-guide/sql-snippets.md
Owners: @mazameli

enterprise add snippet
  docs/enterprise-guide/images/sql-snippets/enterprise-add-snippet.png
  docs/enterprise-guide/sql-snippets.md
Owners: @mazameli

edits and format
  docs/enterprise-guide/sql-snippets.md
Owners: @mazameli

Repro for #12899 (#12911)
  frontend/test/metabase/scenarios/question/new.cy.spec.js
Owners: none

Merge EE migrations -> CE; convert FKs to ON DELETE CASCADE
  resources/migrations/000_migrations.yaml
  src/metabase/models/alert.clj
  src/metabase/models/card.clj
  src/metabase/models/collection.clj
  src/metabase/models/dashboard.clj
  src/metabase/models/dashboard_card.clj
  src/metabase/models/dashboard_card_series.clj
  src/metabase/models/database.clj
  src/metabase/models/field.clj
  src/metabase/models/humanization.clj
  src/metabase/models/metric.clj
  src/metabase/models/permissions.clj
  src/metabase/models/permissions_group.clj
  src/metabase/models/permissions_revision.clj
  src/metabase/models/pulse.clj
  src/metabase/models/pulse_channel.clj
  src/metabase/models/table.clj
  src/metabase/models/user.clj
  test/metabase/models/collection_test.clj
Owners: @camsaul

I left stray log/spys behind
  src/metabase/api/segment.clj
Owners: @camsaul

Merge EE migrations -> CE; convert FKs to ON DELETE CASCADE (#12946)
  resources/migrations/000_migrations.yaml
  src/metabase/models/alert.clj
  src/metabase/models/card.clj
  src/metabase/models/collection.clj
  src/metabase/models/dashboard.clj
  src/metabase/models/dashboard_card.clj
  src/metabase/models/dashboard_card_series.clj
  src/metabase/models/database.clj
  src/metabase/models/field.clj
  src/metabase/models/humanization.clj
  src/metabase/models/metric.clj
  src/metabase/models/permissions.clj
  src/metabase/models/permissions_group.clj
  src/metabase/models/permissions_revision.clj
  src/metabase/models/pulse.clj
  src/metabase/models/pulse_channel.clj
  src/metabase/models/table.clj
  src/metabase/models/user.clj
  test/metabase/models/collection_test.clj
Owners: @camsaul

Remove unneeded wait
  test/metabase/api/setup_test.clj
Owners: @camsaul

Add repro for #12651
  frontend/test/metabase/scenarios/question/new.cy.spec.js
Owners: none

Refactor test
  frontend/test/metabase/scenarios/question/new.cy.spec.js
Owners: none

Skip the test
  frontend/test/metabase/scenarios/question/new.cy.spec.js
Owners: none

fixes boolean check on including custom expression aggregation
  frontend/src/metabase/lib/expressions/process.js
  frontend/src/metabase/query_builder/components/AggregationPopover.jsx
  frontend/test/metabase/scenarios/question/new.cy.spec.js
Owners: @tlrobinson
