Repository metabase/metabase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @camsaul, @sbelak, @kdoh, @tlrobinson, @paulrosenzweig, @mazameli

added note and skip
  frontend/test/metabase/scenarios/alert/email_alert.cy.spec.js
Owners: none

Create fresh transducer every time [ci drivers]
  src/metabase/driver/common.clj
  src/metabase/query_processor/middleware/annotate.clj
Owners: @camsaul

Add test [ci drivers]
  test/metabase/driver/common_test.clj
Owners: @camsaul

settings for whole instance
  docs/administration-guide/08-configuration-settings.md
Owners: @mazameli

contraction
  docs/administration-guide/08-configuration-settings.md
Owners: @mazameli

language selection
  docs/administration-guide/localization.md
Owners: @mazameli

gerunding
  docs/administration-guide/start.md
Owners: @mazameli

full stop
  docs/administration-guide/19-formatting-settings.md
Owners: @mazameli

test for Issue #12766
  frontend/test/metabase/scenarios/dashboard/text-box.cy.spec.js
Owners: none

Search: don't show inaccessible metrics & segments
  src/metabase/api/search.clj
  test/metabase/api/search_test.clj
Owners: @camsaul

Fix insights not working on cached results (#12889)
  src/metabase/query_processor/middleware/cache.clj
  src/metabase/sync/analyze/fingerprint/insights.clj
  test/metabase/query_processor/middleware/cache_test.clj
Owners: @camsaul, @sbelak

filter out virtual cards, allow undefined series
  frontend/src/metabase/dashboard/dashboard.js
Owners: @tlrobinson

Don't truncate actual results [ci drivers]
  src/metabase/query_processor/middleware/annotate.clj
Owners: @camsaul

Fix Slack integration
  src/metabase/api/pulse.clj
  src/metabase/api/slack.clj
  src/metabase/integrations/slack.clj
  test/metabase/api/pulse_test.clj
  test/metabase/integrations/slack_test.clj
  test/metabase/pulse_test.clj
  test/metabase/test/util.clj
  test_resources/slack_post_chat_message_response.json
  test_resources/slack_upload_file_response.json
Owners: @camsaul

Search: don't show inaccessible metrics & segments (#12916)
  src/metabase/api/search.clj
  test/metabase/api/search_test.clj
Owners: @camsaul

Add e2e test for native queries [ci drivers]
  test/metabase/query_processor_test/native_test.clj
Owners: @camsaul

Add non-driver test [ci drivers]
  src/metabase/driver/sql_jdbc/sync.clj
  test/metabase/driver/sql_jdbc/sync_test.clj
Owners: @camsaul

Fix type inference (#12891)
  modules/drivers/druid/src/metabase/driver/druid/execute.clj
  src/metabase/driver/common.clj
  src/metabase/query_processor/middleware/annotate.clj
  test/metabase/driver/common_test.clj
  test/metabase/query_processor/middleware/annotate_test.clj
  test/metabase/query_processor_test/native_test.clj
Owners: @camsaul

unskip test that should already be fixed
  frontend/test/metabase/scenarios/dashboard/text-box.cy.spec.js
Owners: none

Repro/filter without permissions (#12852)
  frontend/test/metabase/scenarios/question/view.cy.spec.js
Owners: none

Repro/Email alert toggle (#12835)
  frontend/test/__support__/cypress.js
  frontend/test/metabase-smoketest/admin_setup.cy.spec.js
  frontend/test/metabase/scenarios/README.md
  frontend/test/metabase/scenarios/alert/email_alert.cy.spec.js
Owners: none

metabase.pulse-test cleanup :wrench: :shower:
  src/metabase/integrations/slack.clj
  test/metabase/pulse_test.clj
Owners: @camsaul

Fixes :wrench:
  test/metabase/pulse_test.clj
  test/metabase/task/send_pulses_test.clj
Owners: @camsaul

Lint fix :shirt:
  src/metabase/integrations/slack.clj
Owners: @camsaul

Fix Slack integration & make it more robust (#12921)
  src/metabase/api/pulse.clj
  src/metabase/api/slack.clj
  src/metabase/integrations/slack.clj
  test/metabase/api/pulse_test.clj
  test/metabase/integrations/slack_test.clj
  test/metabase/pulse_test.clj
  test/metabase/task/send_pulses_test.clj
  test/metabase/test/util.clj
  test_resources/slack_post_chat_message_response.json
  test_resources/slack_upload_file_response.json
Owners: @camsaul

Limit test to jdbc [ci drivers]
  test/metabase/driver/sql_jdbc/sync_test.clj
Owners: @camsaul

Factor out the probe query
  src/metabase/driver/sql_jdbc/sync.clj
  test/metabase/driver/sql_jdbc/sync_test.clj
Owners: @camsaul

Add doc string [ci drivers]
  src/metabase/driver/sql_jdbc/sync.clj
Owners: @camsaul

Destructure table sooner [ci drivers]
  src/metabase/driver/sql_jdbc/sync.clj
Owners: @camsaul

Make linter happy [ci drivers]
  src/metabase/driver/sql_jdbc/sync.clj
  test/metabase/driver/sql_jdbc/sync_test.clj
Owners: @camsaul

Make ordering more robust [ci drivers]
  test/metabase/driver/sql_jdbc/sync_test.clj
Owners: @camsaul

Skip the test
  frontend/test/metabase/scenarios/question/new.cy.spec.js
Owners: none

replaced wait(1000)s
  frontend/test/metabase/scenarios/question/trendline.cy.spec.js
Owners: none

Update text-box.cy.spec.js
  frontend/test/metabase/scenarios/dashboard/text-box.cy.spec.js
Owners: none

Repro/Column confusion (#12833)
  frontend/test/metabase/scenarios/question/custom_column.cy.spec.js
Owners: none

Don't run the test on dbs with non-default describe-tables [ci drivers]
  test/metabase/driver/sql_jdbc/sync_test.clj
Owners: @camsaul

Feature/trendline w many outputs (#12811)
  frontend/test/metabase/scenarios/question/trendline.cy.spec.js
Owners: none

Fix startup issue in Turkish
  src/metabase/util/date_2/common.clj
  src/metabase/util/date_2/parse/builder.clj
  test/metabase/test.clj
  test/metabase/test/util.clj
  test/metabase/util/date_2_test.clj
  test/metabase/util/honeysql_extensions_test.clj
Owners: @camsaul

Fix startup issue in Turkish (#12906)
  src/metabase/util/date_2/common.clj
  src/metabase/util/date_2/parse/builder.clj
  test/metabase/test.clj
  test/metabase/test/util.clj
  test/metabase/util/date_2_test.clj
  test/metabase/util/honeysql_extensions_test.clj
Owners: @camsaul

add additional tests for all types together
  test/metabase/sync/analyze/fingerprint/fingerprinters_test.clj
Owners: @camsaul, @sbelak

.github/CODEOWNERS:

*.clj @camsaul
/src/metabase/automagic_dashboards/ @sbelak
/test/metabase/automagic_dashboards/ @sbelak
/src/metabase/transform/ @sbelak
/test/metabase/transform/ @sbelak
/src/metabase/sync/ @camsaul @sbelak
/test/metabase/sync/ @camsaul @sbelak
*.css @kdoh
/frontend/src @tlrobinson
/frontend/src/metabase/components/ @kdoh
/frontend/src/metabase/admin/datamodel/ @tlrobinson @paulrosenzweig
/frontend/src/metabase/entities/ @tlrobinson @paulrosenzweig
/frontend/src/metabase/lib/entities/ @tlrobinson @paulrosenzweig
/docs/ @mazameli
