Repository metabase/metabase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @camsaul, @sbelak, @kdoh, @tlrobinson, @paulrosenzweig, @mazameli

.github/CODEOWNERS:

*.clj @camsaul
/src/metabase/automagic_dashboards/ @sbelak
/test/metabase/automagic_dashboards/ @sbelak
/src/metabase/transform/ @sbelak
/test/metabase/transform/ @sbelak
/src/metabase/sync/ @camsaul @sbelak
/test/metabase/sync/ @camsaul @sbelak
*.css @kdoh
/frontend/src @tlrobinson
/frontend/src/metabase/components/ @kdoh
/frontend/src/metabase/admin/datamodel/ @tlrobinson @paulrosenzweig
/frontend/src/metabase/entities/ @tlrobinson @paulrosenzweig
/frontend/src/metabase/lib/entities/ @tlrobinson @paulrosenzweig
/docs/ @mazameli

Replace *Name components with displayName and various other legacy cleanup
  frontend/src/metabase-lib/lib/queries/StructuredQuery.js
  frontend/src/metabase/admin/datamodel/components/revisions/QueryDiff.jsx
  frontend/src/metabase/admin/datamodel/containers/MetricForm.jsx
  frontend/src/metabase/lib/query.js
  frontend/src/metabase/meta/Parameter.js
  frontend/src/metabase/query_builder/components/AggregationName.jsx
  frontend/src/metabase/query_builder/components/AggregationPopover.jsx
  frontend/src/metabase/query_builder/components/AggregationWidget.jsx
  frontend/src/metabase/query_builder/components/BreakoutName.jsx
  frontend/src/metabase/query_builder/components/BreakoutWidget.jsx
  frontend/src/metabase/query_builder/components/FieldList.jsx
  frontend/src/metabase/query_builder/components/FieldName.jsx
  frontend/src/metabase/query_builder/components/FieldWidget.jsx
  frontend/src/metabase/query_builder/components/Filter.jsx
  frontend/src/metabase/query_builder/components/QueryDefinition.jsx
  frontend/src/metabase/query_builder/components/SortWidget.jsx
  frontend/src/metabase/query_builder/components/notebook/steps/SortStep.jsx
  frontend/src/metabase/query_builder/components/view/sidebars/SummarizeSidebar.jsx
  frontend/src/metabase/reference/components/Formula.jsx
  frontend/test/metabase/admin/datamodel/MetricForm.unit.spec.js
  frontend/test/metabase/query_builder/components/FieldName.unit.spec.js
  frontend/test/metabase/scenarios/admin/datamodel/table.cy.spec.js
Owners: @tlrobinson, @paulrosenzweig

Fix flow
  frontend/src/metabase-lib/lib/queries/StructuredQuery.js
  frontend/src/metabase-lib/lib/queries/structured/Filter.js
Owners: @tlrobinson

use base_type if there's no special_type for custom formatting
  frontend/src/metabase/visualizations/lib/settings/column.js
Owners: @tlrobinson

added support link
  docs/operations-guide/scaling-metabase.md
Owners: @mazameli

diagram single instance
  docs/operations-guide/images/metabase-setup-diagram.png
  docs/operations-guide/scaling-metabase.md
Owners: @mazameli

Fix broken datetime fingerprinters
  src/metabase/sync/analyze/fingerprint/fingerprinters.clj
  test/metabase/sync/analyze/fingerprint/fingerprinters_test.clj
Owners: @camsaul, @sbelak

v0.36.0-rc1
  bin/version
Owners: none

fix timezone issue on tests
  test/metabase/sync/analyze/fingerprint/fingerprinters_test.clj
Owners: @camsaul, @sbelak

mark flake as pending
  frontend/test/metabase/scenarios/visualizations/chart_drill.cy.spec.js
Owners: none

Remove loadTableAndForeignKeys
  frontend/src/metabase/lib/table.js
  frontend/src/metabase/query_builder/components/dataref/TablePane.jsx
  frontend/src/metabase/query_builder/containers/QueryBuilder.jsx
Owners: @tlrobinson

Add aggregationOperator/filterOperator to Table/Field and remove metabase/lib/table.js completely
  frontend/src/metabase-lib/README.md
  frontend/src/metabase-lib/lib/metadata/Database.js
  frontend/src/metabase-lib/lib/metadata/Field.js
  frontend/src/metabase-lib/lib/metadata/Table.js
  frontend/src/metabase-lib/lib/queries/StructuredQuery.js
  frontend/src/metabase-lib/lib/queries/structured/Aggregation.js
  frontend/src/metabase-lib/lib/utils.js
  frontend/src/metabase/entities/tables.js
  frontend/src/metabase/lib/query/field_ref.js
  frontend/src/metabase/lib/table.js
  frontend/src/metabase/selectors/metadata.js
  frontend/test/metabase/lib/expressions/compile.unit.spec.js
Owners: @tlrobinson, @paulrosenzweig

added skips to admin_setup
  frontend/test/metabase-smoketest/admin.cy.spec.js
  frontend/test/metabase-smoketest/admin_setup.cy.spec.js
  frontend/test/metabase-smoketest/user.cy.spec.js
  frontend/test/metabase/home/HomepageApp.cy.spec.js
Owners: none

toggle values on individual series
  docs/users-guide/09-multi-series-charting.md
Owners: @mazameli

togglers not sliders
  docs/users-guide/09-multi-series-charting.md
Owners: @mazameli

caveat on adding questions
  docs/users-guide/09-multi-series-charting.md
Owners: @mazameli

New Metabase build script
  .gitignore
  release/README.md
  release/deps.edn
  release/release-template.md
  release/release.clj
  release/release/build.clj
  release/release/check_prereqs.clj
  release/release/common.clj
  release/release/common/github.clj
  release/release/draft_release.clj
  release/release/publish.clj
  release/release/set_build_options.clj
  release/release/validate.clj
  resources/locales.clj
Owners: @camsaul

Remove unused artifact util fns [ci skip]
  release/release/common.clj
Owners: @camsaul

Test fix [ci mysql]
  test/metabase/api/collection_test.clj
Owners: @camsaul

Test fix [ci mysql] (#12861)
  test/metabase/api/collection_test.clj
Owners: @camsaul

Use metadata database/table/field/etc functions instead of property access
  frontend/src/metabase-lib/lib/Dimension.js
  frontend/src/metabase-lib/lib/metadata/Field.js
  frontend/src/metabase-lib/lib/queries/NativeQuery.js
  frontend/src/metabase/admin/datamodel/containers/FieldApp.jsx
  frontend/src/metabase/dashboard/selectors.js
  frontend/src/metabase/lib/permissions.js
  frontend/src/metabase/lib/query/field_ref.js
  frontend/src/metabase/meta/Card.js
  frontend/src/metabase/meta/Parameter.js
  frontend/src/metabase/modes/lib/drilldown.js
  frontend/src/metabase/query_builder/components/dataref/FieldPane.jsx
  frontend/src/metabase/query_builder/components/dataref/MetricPane.jsx
  frontend/src/metabase/query_builder/components/dataref/SegmentPane.jsx
  frontend/src/metabase/query_builder/components/template_tags/TagEditorParam.jsx
  frontend/src/metabase/reference/utils.js
  frontend/test/metabase-lib/lib/Dimension.unit.spec.js
  frontend/test/metabase/selectors/metadata.unit.spec.js
Owners: @tlrobinson, @paulrosenzweig

SQL placeholder should not be translated
  frontend/src/metabase/entities/snippets.js
Owners: @tlrobinson, @paulrosenzweig

added .visit()s and to fix .type() issue
  frontend/test/metabase-smoketest/admin.cy.spec.js
  frontend/test/metabase-smoketest/admin_setup.cy.spec.js
Owners: none

Update docs/users-guide/expressions.md
  docs/users-guide/expressions.md
Owners: @mazameli

file deleted
  frontend/test/metabase/query_builder/components/NativeQueryEditor.e2e.spec.js
Owners: none

`:expression` functions
  docs/users-guide/expressions.md
Owners: @mazameli

deleted SortAction.e2e.spec.js
  frontend/test/metabase/modes/components/drill/SortAction.e2e.spec.js
Owners: none

deleted QuickFilterDrill.e2e.spec.js
  frontend/test/metabase/modes/components/drill/QuickFilterDrill.e2e.spec.js
Owners: none

deleted SummarizeColumnByTimeDrill.e2e.spec.js
  frontend/test/metabase/modes/components/drill/SummarizeColumnByTimeDrill.e2e.spec.js
Owners: none

deleted TimeseriesPivotDrill.e2e.spec.js
  frontend/test/metabase/modes/components/drill/TimeseriesPivotDrill.e2e.spec.js
Owners: none

deleted SummarizeColumnDrill.e2e.spec.js
  frontend/test/metabase/modes/components/drill/SummarizeColumnDrill.e2e.spec.js
Owners: none

SQL snippets documentation (#12795)
  docs/users-guide/images/SQL-filter-widget.png
  docs/users-guide/images/SQLInterface.png
  docs/users-guide/images/sql-snippets/highlight_and_save_as_snippet.gif
  docs/users-guide/images/sql-snippets/snippet_sidebar_and_insertion.gif
  docs/users-guide/sql-snippets.md
  docs/users-guide/start.md
  docs/users-guide/writing-sql.md
Owners: @mazameli

Adjust expressions and driver supported features (#12675)
  docs/users-guide/custom-questions.md
  docs/users-guide/expressions.md
  modules/drivers/sqlite/src/metabase/driver/sqlite.clj
  modules/drivers/sqlserver/src/metabase/driver/sqlserver.clj
Owners: @mazameli, @camsaul

localization draft
  docs/administration-guide/localization.md
  src/metabase/public_settings.clj
Owners: @mazameli, @camsaul

rephrase to fix formatting error
  src/metabase/public_settings.clj
Owners: @camsaul

Remove equiv method implementations (fixes #12862)
  src/metabase/util/i18n.clj
Owners: @camsaul

v0.36.0-rc2
  bin/version
Owners: none

rephrase to avoid formatting issue
  src/metabase/public_settings.clj
Owners: @camsaul

rebase
  src/metabase/public_settings.clj
Owners: @camsaul

types list
  docs/administration-guide/03-metadata-editing.md
Owners: @mazameli

column reorder
  docs/administration-guide/03-metadata-editing.md
Owners: @mazameli
