Repository metabase/metabase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @metabase/embedding, @metabase/core-frontend-admin-webapp, @metabase/data, @filiphric, @metabase/devexp, @metabase/backend-developers, @metabase/drivers, @metabase/core-backend-admin-webapp, @metabase/core-workflows, @metabase/core-backend-querying, @metabase/core-backend-dashviz

.github/CODEOWNERS:

# Before changing this file, make sure you have read how we use it:
# https://www.notion.so/metabase/Pull-Request-Code-Review-Guide-374f05df889748b69d67af753f9bc9b8?pvs=4#36550c04ceab40b5a8b8bee6264b090c

enterprise/frontend/src/embedding-sdk @metabase/embedding
frontend/src/metabase/embedding-sdk @metabase/embedding
frontend/src/metabase/ui @metabase/core-frontend-admin-webapp
snowplow/* @metabase/data
e2e @filiphric

.github @metabase/devexp
.clj-kondo @metabase/devexp
deps.edn @metabase/backend-developers

#
# Backend modules <=> teams that own them
#

modules/drivers @metabase/drivers

enterprise/backend/src/metabase_enterprise/advanced_config @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/advanced_config @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/advanced_permissions @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/advanced_permissions @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/airgap @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/airgap @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/api @metabase/devexp
enterprise/backend/test/metabase_enterprise/api @metabase/devexp

enterprise/backend/src/metabase_enterprise/audit_app @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/audit_app @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/auth_provider @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/auth_provider @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/billing @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/billing @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/cache @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/cache @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/content_verification @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/content_verification @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/core @metabase/devexp
enterprise/backend/test/metabase_enterprise/core @metabase/devexp

enterprise/backend/src/metabase_enterprise/dashboard_subscription_filters @metabase/core-workflows
enterprise/backend/test/metabase_enterprise/dashboard_subscription_filters @metabase/core-workflows

enterprise/backend/src/metabase_enterprise/enhancements @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/enhancements @metabase/core-backend-admin-webapp

# enterprise/backend/src/metabase_enterprise/llm
# enterprise/backend/test/metabase_enterprise/llm

enterprise/backend/src/metabase_enterprise/query_reference_validation @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/query_reference_validation @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/sandbox @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/sandbox @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/scim @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/scim @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/search @metabase/core-workflows
enterprise/backend/test/metabase_enterprise/search @metabase/core-workflows

enterprise/backend/src/metabase_enterprise/serialization @metabase/core-workflows
enterprise/backend/test/metabase_enterprise/serialization @metabase/core-workflows

enterprise/backend/src/metabase_enterprise/snippet_collections @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/snippet_collections @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/sso @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/sso @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/stale @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/stale @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/stats @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/stats @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/task @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/task @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/upload_management @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/upload_management @metabase/core-backend-admin-webapp

src/metabase/actions @metabase/core-backend-admin-webapp
test/metabase/actions @metabase/core-backend-admin-webapp

src/metabase/activity_feed @metabase/core-backend-admin-webapp
test/metabase/activity_feed @metabase/core-backend-admin-webapp

src/metabase/analytics @metabase/core-backend-admin-webapp
test/metabase/analytics @metabase/core-backend-admin-webapp

src/metabase/analyze @metabase/drivers
test/metabase/analyze @metabase/drivers

src/metabase/api @metabase/devexp
test/metabase/api @metabase/devexp

src/metabase/audit @metabase/core-backend-admin-webapp
test/metabase/audit @metabase/core-backend-admin-webapp

src/metabase/auth_provider @metabase/core-backend-admin-webapp
test/metabase/auth_provider @metabase/core-backend-admin-webapp

src/metabase/bookmarks @metabase/core-backend-admin-webapp
test/metabase/bookmarks @metabase/core-backend-admin-webapp

src/metabase/cmd @metabase/devexp
test/metabase/cmd @metabase/devexp

src/metabase/channel @metabase/core-workflows
test/metabase/channel @metabase/core-workflows

src/metabase/cloud_migration @metabase/core-workflows
test/metabase/cloud_migration @metabase/core-workflows

src/metabase/cmd @metabase/devexp
test/metabase/cmd @metabase/devexp

src/metabase/config @metabase/devexp
test/metabase/config @metabase/devexp

src/metabase/core @metabase/devexp
test/metabase/core @metabase/devexp

src/metabase/db @metabase/core-backend-admin-webapp
test/metabase/db @metabase/core-backend-admin-webapp

src/metabase/driver @metabase/drivers
test/metabase/driver @metabase/drivers

src/metabase/eid_translation @metabase/core-backend-admin-webapp
test/metabase/eid_translation @metabase/core-backend-admin-webapp

src/metabase/embed @metabase/embedding
test/metabase/embed @metabase/embedding

src/metabase/events @metabase/devexp
test/metabase/events @metabase/devexp

src/metabase/formatter @metabase/core-backend-querying
test/metabase/formatter @metabase/core-backend-querying

src/metabase/indexed_entities @metabase/core-backend-querying
test/metabase/indexed_entities @metabase/core-backend-querying

src/metabase/integrations @metabase/core-workflows
test/metabase/integrations @metabase/core-workflows

src/metabase/legacy_mbql @metabase/core-backend-querying
test/metabase/legacy_mbql @metabase/core-backend-querying

src/metabase/lib @metabase/core-backend-querying
test/metabase/lib @metabase/core-backend-querying

src/metabase/logger @metabase/devexp
test/metabase/logger @metabase/devexp

src/metabase/login_history @metabase/core-backend-admin-webapp
test/metabase/login_history @metabase/core-backend-admin-webapp

src/metabase/model_persistence @metabase/core-backend-querying
test/metabase/model_persistence @metabase/core-backend-querying

src/metabase/models @metabase/devexp
test/metabase/models @metabase/devexp

src/metabase/moderation @metabase/core-backend-admin-webapp
test/metabase/moderation @metabase/core-backend-admin-webapp

src/metabase/notification @metabase/core-workflows
test/metabase/notification @metabase/core-workflows

src/metabase/permissions @metabase/core-backend-admin-webapp
test/metabase/permissions @metabase/core-backend-admin-webapp

src/metabase/plugins @metabase/devexp
test/metabase/plugins @metabase/devexp

src/metabase/premium_features @metabase/core-backend-admin-webapp
test/metabase/premium_features @metabase/core-backend-admin-webapp

src/metabase/public_settings @metabase/core-backend-admin-webapp
test/metabase/public_settings @metabase/core-backend-admin-webapp

src/metabase/public_sharing @metabase/core-backend-admin-webapp
test/metabase/public_sharing @metabase/core-backend-admin-webapp

src/metabase/pulse @metabase/core-workflows
test/metabase/pulse @metabase/core-workflows

src/metabase/query_analysis @metabase/core-backend-querying
test/metabase/query_analysis @metabase/core-backend-querying

src/metabase/query_processor @metabase/core-backend-querying
test/metabase/query_processor @metabase/core-backend-querying

src/metabase/request @metabase/devexp
test/metabase/request @metabase/devexp

src/metabase/revisions @metabase/core-backend-admin-webapp
test/metabase/revisions @metabase/core-backend-admin-webapp

src/metabase/sample_data @metabase/core-backend-admin-webapp
test/metabase/sample_data @metabase/core-backend-admin-webapp

src/metabase/search @metabase/core-workflows
test/metabase/search @metabase/core-workflows

src/metabase/segments @metabase/core-backend-querying
test/metabase/segments @metabase/core-backend-querying

src/metabase/server @metabase/devexp
test/metabase/server @metabase/devexp

src/metabase/session @metabase/core-backend-admin-webapp
test/metabase/session @metabase/core-backend-admin-webapp

src/metabase/setup @metabase/core-backend-admin-webapp
test/metabase/setup @metabase/core-backend-admin-webapp

src/metabase/sso @metabase/core-backend-admin-webapp
test/metabase/sso @metabase/core-backend-admin-webapp

src/metabase/sync @metabase/drivers
test/metabase/sync @metabase/drivers

src/metabase/task @metabase/devexp
test/metabase/task @metabase/devexp

src/metabase/tiles @metabase/core-backend-dashviz
test/metabase/tiles @metabase/core-backend-dashviz

src/metabase/timeline @metabase/core-backend-dashviz
test/metabase/timeline @metabase/core-backend-dashviz

src/metabase/types @metabase/core-backend-querying
test/metabase/types @metabase/core-backend-querying

src/metabase/upload @metabase/core-backend-admin-webapp
test/metabase/upload @metabase/core-backend-admin-webapp

src/metabase/user_key_value @metabase/core-backend-admin-webapp
test/metabase/user_key_value @metabase/core-backend-admin-webapp

src/metabase/util @metabase/devexp
test/metabase/util @metabase/devexp

src/metabase/xrays @metabase/core-backend-querying
test/metabase/xrays @metabase/core-backend-querying

Bump io.netty/netty-buffer from 4.1.118.Final to 4.1.119.Final
  modules/drivers/bigquery-cloud-sdk/deps.edn
Owners: @metabase/drivers

Bump io.netty/netty-common from 4.1.118.Final to 4.1.119.Final
  modules/drivers/bigquery-cloud-sdk/deps.edn
Owners: @metabase/drivers

Bump net.snowflake/snowflake-jdbc from 3.22.0 to 3.23.0
  modules/drivers/snowflake/deps.edn
Owners: @metabase/drivers

Update running-metabase-on-docker.md
  docs/installation-and-operation/running-metabase-on-docker.md
Owners: none

Refactor model caching widget to tsx and switch to css modules
  frontend/src/metabase/admin/performance/components/ModelPersistenceConfiguration.tsx
  frontend/src/metabase/admin/settings/components/widgets/ModelCachingScheduleWidget/CronExpressionInput.module.css
  frontend/src/metabase/admin/settings/components/widgets/ModelCachingScheduleWidget/CronExpressionInput.styled.tsx
  frontend/src/metabase/admin/settings/components/widgets/ModelCachingScheduleWidget/CronExpressionInput.tsx
  frontend/src/metabase/admin/settings/components/widgets/ModelCachingScheduleWidget/CustomScheduleExplainer.tsx
  frontend/src/metabase/admin/settings/components/widgets/ModelCachingScheduleWidget/ModelCachingScheduleWidget.jsx
  frontend/src/metabase/admin/settings/components/widgets/ModelCachingScheduleWidget/ModelCachingScheduleWidget.module.css
  frontend/src/metabase/admin/settings/components/widgets/ModelCachingScheduleWidget/ModelCachingScheduleWidget.styled.tsx
  frontend/src/metabase/admin/settings/components/widgets/ModelCachingScheduleWidget/ModelCachingScheduleWidget.tsx
Owners: none

Update cron example to valid one
  frontend/src/metabase/admin/settings/components/widgets/ModelCachingScheduleWidget/CronExpressionInput.tsx
Owners: none

kondo and clj-format
  .clj-kondo/config.edn
  .clj-kondo/config/modules/config.edn
  dev/src/dev/render_png.clj
  src/metabase/channel/render/preview.clj
  src/metabase/driver.clj
  src/metabase/notification/core.clj
  src/metabase/notification/payload/core.clj
  test/metabase/notification/models_test.clj
Owners: @metabase/devexp, @metabase/core-workflows

A more idiomatic fix
  frontend/src/metabase/public/components/EmbedModal/SelectEmbedTypePane/PublicEmbedCard.tsx
Owners: none

test fixes
  src/metabase/notification/core.clj
  src/metabase/notification/init.clj
  src/metabase/notification/payload/core.clj
  src/metabase/notification/send.clj
  src/metabase/notification/task/send.clj
  src/metabase/pulse/api/pulse.clj
  test/metabase/notification/payload/impl/card_test.clj
  test/metabase/notification/send_test.clj
  test/metabase/notification/test_util.clj
Owners: @metabase/core-workflows

Bump metabase/saml20-clj from 2.2.7.173 to 3.0.0.175 (#54564)
  deps.edn
Owners: @metabase/backend-developers

Bump org.apache.sshd/sshd-core from 2.14.0 to 2.15.0 (#54565)
  deps.edn
Owners: @metabase/backend-developers

Bump cider/cider-nrepl from 0.52.0 to 0.52.1 (#54562)
  deps.edn
Owners: @metabase/backend-developers

Bump io.github.tonsky/clj-reload from 0.8.0 to 0.9.0 (#54563)
  deps.edn
Owners: @metabase/backend-developers

fix some spacing
  deps.edn
  src/metabase/notification/task/send.clj
Owners: @metabase/backend-developers, @metabase/core-workflows

Bump ch.qos.logback/logback-classic from 1.5.16 to 1.5.17 (#54561)
  deps.edn
Owners: @metabase/backend-developers

Bump org.slf4j/slf4j-api from 2.0.16 to 2.0.17 (#54566)
  deps.edn
Owners: @metabase/backend-developers

Add prometheus info metric
  src/metabase/analytics/prometheus.clj
  src/metabase/core/core.clj
Owners: @metabase/core-backend-admin-webapp, @metabase/devexp

Auto formatting adapts to currency style if needed (#54349)
  frontend/src/metabase/visualizations/lib/settings/graph.js
  frontend/src/metabase/visualizations/lib/settings/graph.unit.spec.js
  frontend/src/metabase/visualizations/lib/settings/visualization.js
Owners: none

Auto formatting adapts to currency style if needed (#54349)
  frontend/src/metabase/visualizations/lib/settings/graph.js
  frontend/src/metabase/visualizations/lib/settings/graph.unit.spec.js
  frontend/src/metabase/visualizations/lib/settings/visualization.js
Owners: none

fix: prevent icon overflow on resize (#54189)
  e2e/test/scenarios/question-reproductions/reproductions-3.cy.spec.js
  frontend/src/metabase/querying/notebook/components/JoinStep/JoinComplete/JoinComplete.tsx
  frontend/src/metabase/querying/notebook/components/NotebookStep/NotebookStep.tsx
Owners: @filiphric

fix test
  e2e/test/scenarios/dashboard/dashboard-reproductions.cy.spec.js
Owners: @filiphric

fixup
  e2e/test/scenarios/dashboard/dashboard-reproductions.cy.spec.js
Owners: @filiphric

fix: close date filter on esc
  e2e/test/scenarios/dashboard/dashboard-reproductions.cy.spec.js
  frontend/src/metabase/parameters/components/ParameterValueWidget.tsx
Owners: @filiphric

Run cypress tests against sample apps
  .gitignore
  e2e/runner/constants/exit-code.js
  e2e/runner/cypress-runner-backend.js
  e2e/runner/cypress-runner-run-tests.js
  e2e/runner/cypress-runner-utils.js
  e2e/runner/run_cypress_ci.js
  e2e/runner/run_cypress_local.ts
  e2e/runner/sample-apps-shared/constants/sample-app-setup-configs.js
  e2e/runner/sample-apps-shared/helpers/fetch-app.ts
  e2e/runner/sample-apps-shared/helpers/prepare-app.ts
  e2e/runner/sample-apps-shared/helpers/start-containers.ts
  e2e/runner/sample-apps-shared/types.ts
  e2e/runner/start-sample-app-containers/start-sample-app-containers.ts
Owners: @filiphric

Fix parameter
  e2e/runner/cypress-runner-run-tests.js
Owners: @filiphric

Update Sample App env variables
  docs/embedding/sdk/quickstart-with-sample-app.md
  e2e/runner/sample-apps-shared/constants/sample-app-setup-configs.js
Owners: @filiphric

Update commands
  e2e/runner/sample-apps-shared/constants/sample-app-setup-configs.js
Owners: @filiphric

Update branch name
  e2e/runner/sample-apps-shared/constants/sample-app-setup-configs.js
Owners: @filiphric

Revert docs
  docs/embedding/sdk/quickstart-with-sample-app.md
Owners: none

Simplify config
  e2e/runner/cypress-runner-run-tests.js
Owners: @filiphric

A more efficient way to init notification triggers
  src/metabase/task/notification.clj
  test/metabase/task/notification_test.clj
Owners: @metabase/devexp

use mantine v6
  frontend/src/metabase/querying/notebook/components/NotebookStep/NotebookStep.tsx
Owners: none

Remove the ACE editor (#54558)
  frontend/src/metabase/css/vendor.css
  frontend/src/types/ace-builds.d.ts
  frontend/test/__support__/mocks.js
  jest.config.js
  package.json
  rspack.config.js
  webpack.config.js
  yarn.lock
Owners: none

better initialization of the visualizer modal
  frontend/src/metabase-types/store/visualizer.ts
  frontend/src/metabase/components/EditBar/EditBar.styled.tsx
  frontend/src/metabase/dashboard/components/DashCard/DashCardActionsPanel/DashCardActionsPanel.tsx
  frontend/src/metabase/dashboard/components/DashCard/DashCardActionsPanel/VisualizerButton/VisualizerButton.tsx
  frontend/src/metabase/dashboard/components/DashCard/DashCardVisualization.tsx
  frontend/src/metabase/dashboard/components/QuestionPicker/QuestionList.tsx
  frontend/src/metabase/dashboard/components/QuestionPicker/convert-question-to-initial-state.ts
  frontend/src/metabase/dashboard/selectors.ts
  frontend/src/metabase/visualizer/utils/column.ts
  frontend/src/metabase/visualizer/utils/merge-data.ts
  frontend/src/metabase/visualizer/utils/misc.ts
  frontend/src/metabase/visualizer/visualizer.slice.ts
Owners: none

reinitializee columns when switching to another viz
  frontend/src/metabase/visualizer/visualizer.slice.ts
Owners: none

Fix CI
  enterprise/frontend/src/metabase-enterprise/sharing/components/MutableParametersSection.tsx
  frontend/src/metabase/notifications/AddEditSidebar/AddEditEmailSidebar.tsx
  frontend/src/metabase/notifications/AddEditSidebar/AddEditSidebar.jsx
  frontend/src/metabase/notifications/AddEditSidebar/AddEditSlackSidebar.tsx
  frontend/src/metabase/notifications/AddEditSidebar/constants.ts
  frontend/src/metabase/notifications/DashboardSubscriptionsSidebar/tests/setup.tsx
  frontend/src/metabase/plugins/index.ts
Owners: none

Hide parameters section if none are connected. Update typings
  e2e/test/scenarios/sharing/subscriptions.cy.spec.js
  enterprise/frontend/src/metabase-enterprise/sharing/components/MutableParametersSection.tsx
  frontend/src/metabase/notifications/AddEditSidebar/AddEditEmailSidebar.tsx
  frontend/src/metabase/notifications/AddEditSidebar/AddEditSidebar.jsx
  frontend/src/metabase/notifications/AddEditSidebar/AddEditSlackSidebar.tsx
  frontend/src/metabase/plugins/index.ts
Owners: @filiphric

WRK-81: Refactor AddEditEmailSidebar to TypeScript.
  frontend/src/metabase-types/api/subscription.ts
  frontend/src/metabase/notifications/AddEditSidebar/AddEditEmailSidebar.tsx
  frontend/src/metabase/notifications/AddEditSidebar/constants.js
  frontend/src/metabase/notifications/AddEditSidebar/constants.ts
Owners: none

WRK-81: Hide unwired filters from subscriptions panel
  enterprise/frontend/src/metabase-enterprise/sharing/components/MutableParametersSection.tsx
  frontend/src/metabase/notifications/AddEditSidebar/AddEditEmailSidebar.jsx
  frontend/src/metabase/notifications/AddEditSidebar/AddEditSidebar.jsx
  frontend/src/metabase/notifications/AddEditSidebar/AddEditSlackSidebar.jsx
  frontend/src/metabase/plugins/index.ts
Owners: none

WRK-81: Refactor AddEditSlackSidebar to TypeScript
  frontend/src/metabase-types/api/subscription.ts
  frontend/src/metabase/notifications/AddEditSidebar/AddEditSlackSidebar.tsx
Owners: none
