Repository metabase/metabase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @metabase/embedding, @metabase/core-frontend-admin-webapp, @metabase/data, @filiphric, @metabase/devexp, @metabase/backend-developers, @metabase/drivers, @metabase/core-backend-admin-webapp, @metabase/core-workflows, @metabase/core-backend-querying, @metabase/core-backend-dashviz

.github/CODEOWNERS:

# Before changing this file, make sure you have read how we use it:
# https://www.notion.so/metabase/Pull-Request-Code-Review-Guide-374f05df889748b69d67af753f9bc9b8?pvs=4#36550c04ceab40b5a8b8bee6264b090c

enterprise/frontend/src/embedding-sdk @metabase/embedding
frontend/src/metabase/embedding-sdk @metabase/embedding
frontend/src/metabase/ui @metabase/core-frontend-admin-webapp
snowplow/* @metabase/data
e2e @filiphric

.github @metabase/devexp
.clj-kondo @metabase/devexp
deps.edn @metabase/backend-developers

#
# Backend modules <=> teams that own them
#

modules/drivers @metabase/drivers

enterprise/backend/src/metabase_enterprise/advanced_config @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/advanced_config @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/advanced_permissions @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/advanced_permissions @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/airgap @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/airgap @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/api @metabase/devexp
enterprise/backend/test/metabase_enterprise/api @metabase/devexp

enterprise/backend/src/metabase_enterprise/audit_app @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/audit_app @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/auth_provider @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/auth_provider @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/billing @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/billing @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/cache @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/cache @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/content_verification @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/content_verification @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/core @metabase/devexp
enterprise/backend/test/metabase_enterprise/core @metabase/devexp

enterprise/backend/src/metabase_enterprise/dashboard_subscription_filters @metabase/core-workflows
enterprise/backend/test/metabase_enterprise/dashboard_subscription_filters @metabase/core-workflows

enterprise/backend/src/metabase_enterprise/enhancements @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/enhancements @metabase/core-backend-admin-webapp

# enterprise/backend/src/metabase_enterprise/llm
# enterprise/backend/test/metabase_enterprise/llm

enterprise/backend/src/metabase_enterprise/query_reference_validation @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/query_reference_validation @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/sandbox @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/sandbox @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/scim @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/scim @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/search @metabase/core-workflows
enterprise/backend/test/metabase_enterprise/search @metabase/core-workflows

enterprise/backend/src/metabase_enterprise/serialization @metabase/core-workflows
enterprise/backend/test/metabase_enterprise/serialization @metabase/core-workflows

enterprise/backend/src/metabase_enterprise/snippet_collections @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/snippet_collections @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/sso @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/sso @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/stale @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/stale @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/stats @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/stats @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/task @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/task @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/upload_management @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/upload_management @metabase/core-backend-admin-webapp

src/metabase/actions @metabase/core-backend-admin-webapp
test/metabase/actions @metabase/core-backend-admin-webapp

src/metabase/activity_feed @metabase/core-backend-admin-webapp
test/metabase/activity_feed @metabase/core-backend-admin-webapp

src/metabase/analytics @metabase/core-backend-admin-webapp
test/metabase/analytics @metabase/core-backend-admin-webapp

src/metabase/analyze @metabase/drivers
test/metabase/analyze @metabase/drivers

src/metabase/api @metabase/devexp
test/metabase/api @metabase/devexp

src/metabase/audit @metabase/core-backend-admin-webapp
test/metabase/audit @metabase/core-backend-admin-webapp

src/metabase/auth_provider @metabase/core-backend-admin-webapp
test/metabase/auth_provider @metabase/core-backend-admin-webapp

src/metabase/bookmarks @metabase/core-backend-admin-webapp
test/metabase/bookmarks @metabase/core-backend-admin-webapp

src/metabase/cmd @metabase/devexp
test/metabase/cmd @metabase/devexp

src/metabase/channel @metabase/core-workflows
test/metabase/channel @metabase/core-workflows

src/metabase/cloud_migration @metabase/core-workflows
test/metabase/cloud_migration @metabase/core-workflows

src/metabase/cmd @metabase/devexp
test/metabase/cmd @metabase/devexp

src/metabase/config @metabase/devexp
test/metabase/config @metabase/devexp

src/metabase/core @metabase/devexp
test/metabase/core @metabase/devexp

src/metabase/db @metabase/core-backend-admin-webapp
test/metabase/db @metabase/core-backend-admin-webapp

src/metabase/driver @metabase/drivers
test/metabase/driver @metabase/drivers

src/metabase/eid_translation @metabase/core-backend-admin-webapp
test/metabase/eid_translation @metabase/core-backend-admin-webapp

src/metabase/embed @metabase/embedding
test/metabase/embed @metabase/embedding

src/metabase/events @metabase/devexp
test/metabase/events @metabase/devexp

src/metabase/formatter @metabase/core-backend-querying
test/metabase/formatter @metabase/core-backend-querying

src/metabase/indexed_entities @metabase/core-backend-querying
test/metabase/indexed_entities @metabase/core-backend-querying

src/metabase/integrations @metabase/core-workflows
test/metabase/integrations @metabase/core-workflows

src/metabase/legacy_mbql @metabase/core-backend-querying
test/metabase/legacy_mbql @metabase/core-backend-querying

src/metabase/lib @metabase/core-backend-querying
test/metabase/lib @metabase/core-backend-querying

src/metabase/logger @metabase/devexp
test/metabase/logger @metabase/devexp

src/metabase/login_history @metabase/core-backend-admin-webapp
test/metabase/login_history @metabase/core-backend-admin-webapp

src/metabase/model_persistence @metabase/core-backend-querying
test/metabase/model_persistence @metabase/core-backend-querying

src/metabase/models @metabase/devexp
test/metabase/models @metabase/devexp

src/metabase/moderation @metabase/core-backend-admin-webapp
test/metabase/moderation @metabase/core-backend-admin-webapp

src/metabase/notification @metabase/core-workflows
test/metabase/notification @metabase/core-workflows

src/metabase/permissions @metabase/core-backend-admin-webapp
test/metabase/permissions @metabase/core-backend-admin-webapp

src/metabase/plugins @metabase/devexp
test/metabase/plugins @metabase/devexp

src/metabase/premium_features @metabase/core-backend-admin-webapp
test/metabase/premium_features @metabase/core-backend-admin-webapp

src/metabase/public_settings @metabase/core-backend-admin-webapp
test/metabase/public_settings @metabase/core-backend-admin-webapp

src/metabase/public_sharing @metabase/core-backend-admin-webapp
test/metabase/public_sharing @metabase/core-backend-admin-webapp

src/metabase/pulse @metabase/core-workflows
test/metabase/pulse @metabase/core-workflows

src/metabase/query_analysis @metabase/core-backend-querying
test/metabase/query_analysis @metabase/core-backend-querying

src/metabase/query_processor @metabase/core-backend-querying
test/metabase/query_processor @metabase/core-backend-querying

src/metabase/request @metabase/devexp
test/metabase/request @metabase/devexp

src/metabase/revisions @metabase/core-backend-admin-webapp
test/metabase/revisions @metabase/core-backend-admin-webapp

src/metabase/sample_data @metabase/core-backend-admin-webapp
test/metabase/sample_data @metabase/core-backend-admin-webapp

src/metabase/search @metabase/core-workflows
test/metabase/search @metabase/core-workflows

src/metabase/segments @metabase/core-backend-querying
test/metabase/segments @metabase/core-backend-querying

src/metabase/server @metabase/devexp
test/metabase/server @metabase/devexp

src/metabase/session @metabase/core-backend-admin-webapp
test/metabase/session @metabase/core-backend-admin-webapp

src/metabase/setup @metabase/core-backend-admin-webapp
test/metabase/setup @metabase/core-backend-admin-webapp

src/metabase/sso @metabase/core-backend-admin-webapp
test/metabase/sso @metabase/core-backend-admin-webapp

src/metabase/sync @metabase/drivers
test/metabase/sync @metabase/drivers

src/metabase/task @metabase/devexp
test/metabase/task @metabase/devexp

src/metabase/tiles @metabase/core-backend-dashviz
test/metabase/tiles @metabase/core-backend-dashviz

src/metabase/timeline @metabase/core-backend-dashviz
test/metabase/timeline @metabase/core-backend-dashviz

src/metabase/types @metabase/core-backend-querying
test/metabase/types @metabase/core-backend-querying

src/metabase/upload @metabase/core-backend-admin-webapp
test/metabase/upload @metabase/core-backend-admin-webapp

src/metabase/user_key_value @metabase/core-backend-admin-webapp
test/metabase/user_key_value @metabase/core-backend-admin-webapp

src/metabase/util @metabase/devexp
test/metabase/util @metabase/devexp

src/metabase/xrays @metabase/core-backend-querying
test/metabase/xrays @metabase/core-backend-querying

Fixing failing tests due to updated_at not forcing an update
  src/metabase/pulse/models/pulse.clj
  src/metabase/segments/models/segment.clj
  test/metabase/models/dashboard_test.clj
Owners: @metabase/core-workflows, @metabase/core-backend-querying, @metabase/devexp

Fixed failing test
  package.json
Owners: none

Reverted unneeded fix
  package.json
Owners: none

Field -> DatasetColumn
  frontend/src/metabase-types/store/visualizer.ts
  frontend/src/metabase/dashboard/components/DashCard/DashCardVisualization.tsx
  frontend/src/metabase/dashboard/components/QuestionPicker/QuestionList.tsx
  frontend/src/metabase/dashboard/components/QuestionPicker/convert-question-to-initial-state.ts
  frontend/src/metabase/visualizer/utils/column.ts
  frontend/src/metabase/visualizer/utils/merge-data.ts
  frontend/src/metabase/visualizer/utils/misc.ts
  frontend/src/metabase/visualizer/utils/update-settings-for-display.ts
  frontend/src/metabase/visualizer/visualizer.slice.ts
Owners: none

fixup
  frontend/src/metabase/dashboard/components/DashCard/DashCardActionsPanel/DashCardActionsPanel.tsx
  frontend/src/metabase/dashboard/components/DashCard/DashCardActionsPanel/VisualizerButton/VisualizerButton.tsx
Owners: none

fix(sdk): move import of mantine css to index file of sdk
  enterprise/frontend/src/embedding-sdk/index.ts
  frontend/src/metabase/ui/components/theme/ThemeProvider/ThemeProvider.tsx
Owners: @metabase/embedding, @metabase/core-frontend-admin-webapp

add test
  modules/drivers/oracle/resources/metabase-plugin.yaml
  test/metabase/driver_test.clj
Owners: @metabase/drivers

Fixed failures due to nil before-update returns
  src/metabase/models/field.clj
  src/metabase/models/legacy_metric.clj
  src/metabase/models/native_query_snippet.clj
  src/metabase/models/parameter_card.clj
Owners: @metabase/devexp

redshift change
  modules/drivers/redshift/resources/metabase-plugin.yaml
Owners: @metabase/drivers

Add tests
  src/metabase/lib/schema/expression/temporal.cljc
  test/metabase/lib/schema/expression/temporal_test.cljc
Owners: @metabase/core-backend-querying

Add tests
  test/metabase/lib/schema/expression/temporal_test.cljc
Owners: @metabase/core-backend-querying

Add tests
  test/metabase/lib/schema/expression/temporal_test.cljc
Owners: @metabase/core-backend-querying

Make `:time-interval` work with `0` instead of `:current` in the UI (#54525)
  frontend/src/metabase-lib/types.ts
  frontend/src/metabase/querying/filters/components/DatePicker/DateOperatorPicker/DateOperatorPicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/DateOperatorPicker/utils.ts
  frontend/src/metabase/querying/filters/components/DatePicker/DateOperatorPicker/utils.unit.spec.ts
  frontend/src/metabase/querying/filters/components/DatePicker/DatePicker.stories.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/DatePicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/DateShortcutPicker/DateShortcutPicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/DateShortcutPicker/constants.ts
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/CurrentDatePicker/CurrentDatePicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/CurrentDatePicker/utils.ts
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/DateIntervalPicker/DateIntervalPicker.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/DateIntervalPicker/DateIntervalPicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/DateIntervalPicker/SimpleDateIntervalPicker/SimpleDateIntervalPicker.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/DateIntervalPicker/SimpleDateIntervalPicker/SimpleDateIntervalPicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/DateIntervalPicker/utils.ts
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/DateOffsetIntervalPicker/DateOffsetIntervalPicker.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/DateOffsetIntervalPicker/DateOffsetIntervalPicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/DateOffsetIntervalPicker/utils.ts
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/IncludeCurrentSwitch/IncludeCurrentSwitch.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/RelativeDatePicker.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/RelativeDatePicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/types.ts
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/utils.ts
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/utils.unit.spec.ts
  frontend/src/metabase/querying/filters/components/DatePicker/SimpleDatePicker/SimpleDatePicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/FilterModal/DateFilterEditor/DateFilterEditor.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/FilterPicker/DateFilterPicker/DateFilterPicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/RelativeDateShortcutPicker/RelativeDateShortcutPicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/RelativeDateShortcutPicker/utils.ts
  frontend/src/metabase/querying/filters/components/TimeseriesChrome/TimeseriesFilterPicker/TimeseriesFilterPicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/types.ts
  frontend/src/metabase/querying/filters/utils/dates.unit.spec.ts
  frontend/src/metabase/querying/parameters/utils/parsing.ts
  frontend/src/metabase/querying/parameters/utils/parsing.unit.spec.ts
  src/metabase/lib/fe_util.cljc
  src/metabase/lib/filter.cljc
  src/metabase/lib/js.cljs
  test/metabase/lib/fe_util_test.cljc
  test/metabase/lib/filter_test.cljc
Owners: @metabase/core-backend-querying

Rename param
  frontend/src/metabase/public/containers/PublicOrEmbeddedDashboard/PublicOrEmbeddedDashboard.tsx
Owners: none

Update test/metabase/api/database_test.clj
  test/metabase/api/database_test.clj
Owners: @metabase/devexp

Fix description
  frontend/src/metabase-lib/v1/expressions/helper-text-strings.ts
  frontend/src/metabase-lib/v1/expressions/helper-text-strings.unit.spec.ts
Owners: none

guard enforced-sandboxes-for-user against nil user-ids
  enterprise/backend/src/metabase_enterprise/sandbox/api/util.clj
  test/metabase/api/embed_test.clj
Owners: @metabase/core-backend-admin-webapp, @metabase/devexp

Fix description
  frontend/src/metabase-lib/v1/expressions/helper-text-strings.unit.spec.ts
Owners: none

add comment
  test/metabase/api/embed_test.clj
Owners: @metabase/devexp

Fix invisible close icons on some legacy modals (#54056)
  frontend/src/metabase/components/Modal/Modal.tsx
  frontend/src/metabase/components/ModalContent/ModalContent.styled.ts
Owners: none

Make :time-interval work with 0 instead of :current in the UI
  frontend/src/metabase-lib/types.ts
  frontend/src/metabase/querying/filters/components/DatePicker/DateOperatorPicker/DateOperatorPicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/DateOperatorPicker/utils.ts
  frontend/src/metabase/querying/filters/components/DatePicker/DateOperatorPicker/utils.unit.spec.ts
  frontend/src/metabase/querying/filters/components/DatePicker/DatePicker.stories.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/DatePicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/DateShortcutPicker/DateShortcutPicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/DateShortcutPicker/constants.ts
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/CurrentDatePicker/CurrentDatePicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/CurrentDatePicker/utils.ts
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/DateIntervalPicker/DateIntervalPicker.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/DateIntervalPicker/DateIntervalPicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/DateIntervalPicker/SimpleDateIntervalPicker/SimpleDateIntervalPicker.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/DateIntervalPicker/SimpleDateIntervalPicker/SimpleDateIntervalPicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/DateIntervalPicker/utils.ts
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/DateOffsetIntervalPicker/DateOffsetIntervalPicker.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/DateOffsetIntervalPicker/DateOffsetIntervalPicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/DateOffsetIntervalPicker/utils.ts
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/IncludeCurrentSwitch/IncludeCurrentSwitch.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/RelativeDatePicker.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/RelativeDatePicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/types.ts
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/utils.ts
  frontend/src/metabase/querying/filters/components/DatePicker/RelativeDatePicker/utils.unit.spec.ts
  frontend/src/metabase/querying/filters/components/DatePicker/SimpleDatePicker/SimpleDatePicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/FilterModal/DateFilterEditor/DateFilterEditor.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/FilterPicker/DateFilterPicker/DateFilterPicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/RelativeDateShortcutPicker/RelativeDateShortcutPicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/components/RelativeDateShortcutPicker/utils.ts
  frontend/src/metabase/querying/filters/components/TimeseriesChrome/TimeseriesFilterPicker/TimeseriesFilterPicker.unit.spec.tsx
  frontend/src/metabase/querying/filters/types.ts
  frontend/src/metabase/querying/filters/utils/dates.unit.spec.ts
  frontend/src/metabase/querying/parameters/utils/dates.ts
  frontend/src/metabase/querying/parameters/utils/dates.unit.spec.ts
  src/metabase/lib/fe_util.cljc
  src/metabase/lib/filter.cljc
  src/metabase/lib/js.cljs
  test/metabase/lib/fe_util_test.cljc
  test/metabase/lib/filter_test.cljc
Owners: @metabase/core-backend-querying

fix: Cast LocalDateTime to date in oracle (#54529)
  modules/drivers/oracle/src/metabase/driver/oracle.clj
  modules/drivers/oracle/test/metabase/driver/oracle_test.clj
Owners: @metabase/drivers

fix: Cast LocalDateTime to date in oracle (#54529)
  modules/drivers/oracle/src/metabase/driver/oracle.clj
  modules/drivers/oracle/test/metabase/driver/oracle_test.clj
Owners: @metabase/drivers

Fix bug
  frontend/src/metabase/dashboard/reducers-typed.ts
Owners: none

Remove extra queries on public & embedded dashboard load (#52993)
  e2e/test/scenarios/filters-reproductions/dashboard-filters-reproductions.cy.spec.js
  frontend/src/metabase/public/containers/PublicOrEmbeddedDashboard/PublicOrEmbeddedDashboard.tsx
Owners: @filiphric

remove tests
  test/metabase/driver_test.clj
Owners: none

Remove extra queries on public & embedded dashboard load (#52993)
  e2e/test/scenarios/filters-reproductions/dashboard-filters-reproductions.cy.spec.js
  frontend/src/metabase/public/containers/PublicOrEmbeddedDashboard/PublicOrEmbeddedDashboard.tsx
Owners: @filiphric

adjusting padding
  frontend/src/metabase/ui/components/inputs/MultiAutocomplete/MultiAutocomplete.module.css
  frontend/src/metabase/ui/components/inputs/MultiAutocomplete/MultiAutocomplete.tsx
Owners: @metabase/core-frontend-admin-webapp

add ability to style SpecialTagInput, update MultiAutocomplete styles
  frontend/src/metabase/querying/filters/components/FilterValuePicker/SearchValuePicker/SearchValuePicker.tsx
  frontend/src/metabase/ui/components/feedback/Loader/Loader.tsx
  frontend/src/metabase/ui/components/inputs/MultiAutocomplete/MultiAutocomplete.module.css
  frontend/src/metabase/ui/components/inputs/MultiAutocomplete/MultiAutocomplete.tsx
  frontend/src/metabase/ui/components/inputs/SpecialTagsInput/SpecialTagsInput.tsx
Owners: @metabase/core-frontend-admin-webapp

get outta here, stupid
  frontend/src/metabase/ui/components/inputs/SpecialTagsInput/SpecialTagsInput.tsx
Owners: @metabase/core-frontend-admin-webapp

fixing the border, and tests
  e2e/test/scenarios/admin-2/settings.cy.spec.js
  frontend/src/metabase/components/InputWithSelectPrefix/InputWithSelectPrefix.jsx
Owners: @filiphric

updating InputWithSelectPrefix to Mantine components
  frontend/src/metabase/components/InputWithSelectPrefix/InputWithSelectPrefix.jsx
Owners: none

Fix bug
  e2e/test/scenarios/question-reproductions/reproductions.cy.spec.ts
Owners: @filiphric

try fixing tests
  test/metabase/driver_test.clj
Owners: none

Remove extra queries on public & embedded dashboard load (#52993) (#54609)
  e2e/test/scenarios/filters-reproductions/dashboard-filters-reproductions.cy.spec.js
  frontend/src/metabase/public/containers/PublicOrEmbeddedDashboard/PublicOrEmbeddedDashboard.tsx
Owners: @filiphric

remove tests
  test/metabase/driver_test.clj
Owners: none

Fix duplicates introduced by column sync
  frontend/src/metabase/querying/viz-settings/utils/sync-viz-settings.ts
  frontend/src/metabase/querying/viz-settings/utils/sync-viz-settings.unit.spec.tsx
Owners: none

APIs can throw 500s on no updates since that is now valid
  src/metabase/api/field.clj
  src/metabase/api/table.clj
  src/metabase/api/user.clj
Owners: @metabase/devexp

fix: Cast LocalDateTime to date in oracle (#54529) (#54607)
  modules/drivers/oracle/src/metabase/driver/oracle.clj
  modules/drivers/oracle/test/metabase/driver/oracle_test.clj
Owners: @metabase/drivers

Healthcheck endpoint for databases (#54446)
  src/metabase/api/database.clj
  test/metabase/api/database_test.clj
Owners: @metabase/devexp
