Repository metabase/metabase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @camsaul, @kdoh, @tlrobinson, @paulrosenzweig, @mazameli

go back to using groups to compute yExtent
  frontend/src/metabase/visualizations/lib/LineAreaBarRenderer.js
  frontend/src/metabase/visualizations/lib/y_axis_split.js
Owners: @tlrobinson, @kdoh

better comment
  frontend/src/metabase/visualizations/lib/y_axis_split.js
Owners: @tlrobinson, @kdoh

Improved QP debugging [WIP]
  src/metabase/query_processor/debug.clj
Owners: @camsaul

Better QP debugging
  src/metabase/query_processor/debug.clj
Owners: @camsaul

Changing the anchor link back to Line + Bar chart (#10213)
  docs/users-guide/05-visualizing-results.md
Owners: @mazameli

Restore tooltip arrow + centering
  frontend/src/metabase/components/TooltipPopover.jsx
Owners: @kdoh

Lint fixes :shirt:
  src/metabase/query_processor/debug.clj
Owners: @camsaul

Better qp debugging (#10278)
  src/metabase/query_processor/debug.clj
Owners: @camsaul

Consistent filter and summarize buttons
  frontend/src/metabase-lib/lib/queries/StructuredQuery.js
  frontend/src/metabase/components/Button.jsx
  frontend/src/metabase/icon_paths.js
  frontend/src/metabase/query_builder/actions.js
  frontend/src/metabase/query_builder/components/RunButton.jsx
  frontend/src/metabase/query_builder/components/view/NativeQueryButton.jsx
  frontend/src/metabase/query_builder/components/view/QuestionFilters.jsx
  frontend/src/metabase/query_builder/components/view/QuestionSummaries.jsx
  frontend/src/metabase/query_builder/components/view/View.jsx
  frontend/src/metabase/query_builder/components/view/ViewHeader.jsx
  frontend/src/metabase/query_builder/components/view/ViewPill.jsx
  frontend/src/metabase/query_builder/components/view/sidebars/SummarizeSidebar.jsx
  frontend/src/metabase/query_builder/containers/QueryBuilder.jsx
  frontend/src/metabase/query_builder/reducers.js
  frontend/src/metabase/visualizations/lib/utils.js
  frontend/test/metabase/visualizations/lib/utils.unit.spec.js
Owners: @tlrobinson, @kdoh

remove tick interval update that gets overwritten
  frontend/src/metabase/visualizations/lib/apply_axis.js
Owners: @tlrobinson, @kdoh

remove dataInterval alias for xInterval
  frontend/src/metabase/visualizations/lib/apply_axis.js
Owners: @tlrobinson, @kdoh

move summarize sidebar to the right
  frontend/src/metabase/query_builder/components/view/View.jsx
Owners: @tlrobinson, @kdoh

Remove Tom's awesome Summarized button :(
  frontend/src/metabase/query_builder/components/view/ViewHeader.jsx
Owners: @tlrobinson, @kdoh

Make QuestionDescription use topLevelQuery
  frontend/src/metabase/query_builder/components/view/QuestionDescription.jsx
Owners: @tlrobinson, @kdoh

other remaining references to dataInterval over xInterval
  frontend/test/metabase/visualizations/lib/apply_axis.unit.spec.js
Owners: none

add some basic tests
  frontend/src/metabase/visualizations/lib/apply_axis.js
  frontend/test/metabase/visualizations/lib/timeseries.unit.spec.js
Owners: @tlrobinson, @kdoh

add one more test
  frontend/test/metabase/visualizations/lib/timeseries.unit.spec.js
Owners: none

update comment
  frontend/src/metabase/visualizations/lib/apply_axis.js
Owners: @tlrobinson, @kdoh

Fix run button crash
  frontend/src/metabase/query_builder/components/view/ViewHeader.jsx
Owners: @tlrobinson, @kdoh

Popover: defer creating element until needed
  frontend/src/metabase/components/Popover.jsx
Owners: @kdoh

Try filter sidebar again
  frontend/src/metabase/query_builder/actions.js
  frontend/src/metabase/query_builder/components/view/QuestionFilters.jsx
  frontend/src/metabase/query_builder/components/view/QuestionSummaries.jsx
  frontend/src/metabase/query_builder/components/view/View.jsx
  frontend/src/metabase/query_builder/components/view/ViewButton.jsx
  frontend/src/metabase/query_builder/components/view/ViewFilterPopover.jsx
  frontend/src/metabase/query_builder/components/view/ViewHeader.jsx
  frontend/src/metabase/query_builder/components/view/sidebars/FilterSidebar.jsx
  frontend/src/metabase/query_builder/components/view/sidebars/SummarizeSidebar.jsx
  frontend/src/metabase/query_builder/reducers.js
Owners: @tlrobinson, @kdoh

Fix filter sidebar width
  frontend/src/metabase/query_builder/components/filters/FilterPopoverPicker.jsx
  frontend/src/metabase/query_builder/components/filters/pickers/DefaultPicker.jsx
  frontend/src/metabase/query_builder/components/view/ViewFilterPopover.jsx
Owners: @tlrobinson, @kdoh

changes "null" to "nil" for embedded ruby example
  frontend/src/metabase/public/lib/code.js
Owners: @tlrobinson, @kdoh

moves :exp out of the :params
  frontend/src/metabase/public/lib/code.js
Owners: @tlrobinson, @kdoh

lint cleanup
  frontend/src/metabase/public/lib/code.js
Owners: @tlrobinson, @kdoh

Fix file path in generate-sample-dataset
  lein-commands/sample-dataset/metabase/sample_dataset/generate.clj
Owners: @camsaul

Bump ring-gzip-middleware dep version; remove customizations
  project.clj
  src/metabase/handler.clj
  src/metabase/middleware/misc.clj
Owners: @camsaul

Bump ring-gzip-middleware dep version; remove customizations (#10287)
  project.clj
  src/metabase/handler.clj
  src/metabase/middleware/misc.clj
Owners: @camsaul

QP debugging improvements; clean up add-settings & tests [ci drivers]
  src/metabase/query_processor/debug.clj
  src/metabase/query_processor/middleware/add_settings.clj
  test/metabase/query_processor/middleware/add_settings_test.clj
Owners: @camsaul

Test fixes :wrench: [ci drivers]
  test/metabase/query_processor/middleware/add_settings_test.clj
  test/metabase/query_processor_test/failure_test.clj
Owners: @camsaul

Don't auto-run when clicking summarize
  frontend/src/metabase/query_builder/components/view/View.jsx
  frontend/src/metabase/query_builder/components/view/sidebars/SummarizeSidebar.jsx
Owners: @tlrobinson, @kdoh

More improvements to QP debugging tools (#10288)
  src/metabase/query_processor/debug.clj
  src/metabase/query_processor/middleware/add_settings.clj
  test/metabase/query_processor/middleware/add_settings_test.clj
  test/metabase/query_processor_test/failure_test.clj
Owners: @camsaul

Add visualziation 'isLiveResizable' static method and use in Query Builder
  frontend/src/metabase/components/DebouncedFrame.jsx
  frontend/src/metabase/dashboard/components/AddSeriesModal.jsx
  frontend/src/metabase/dashboard/components/DashCard.jsx
  frontend/src/metabase/dashboard/components/DashboardGrid.jsx
  frontend/src/metabase/query_builder/components/view/View.jsx
  frontend/src/metabase/query_builder/components/view/ViewFooter.jsx
  frontend/src/metabase/query_builder/components/view/ViewSidebar.jsx
  frontend/src/metabase/query_builder/containers/QueryBuilder.jsx
  frontend/src/metabase/query_builder/selectors.js
  frontend/src/metabase/visualizations/components/LineAreaBarChart.jsx
  frontend/src/metabase/visualizations/components/Visualization.jsx
  frontend/src/metabase/visualizations/index.js
  frontend/src/metabase/visualizations/lib/settings/column.js
  frontend/src/metabase/visualizations/lib/settings/visualization.js
  frontend/src/metabase/visualizations/visualizations/Table.jsx
Owners: @kdoh, @tlrobinson

Support nested queries with 2+ of the same aggregation; improve metadata [ci drivers]
  modules/drivers/bigquery/src/metabase/driver/bigquery.clj
  modules/drivers/druid/src/metabase/driver/druid/query_processor.clj
  modules/drivers/mongo/src/metabase/driver/mongo/query_processor.clj
  project.clj
  src/metabase/driver/sql/query_processor.clj
  src/metabase/query_processor.clj
  src/metabase/query_processor/middleware/add_source_metadata.clj
  src/metabase/query_processor/middleware/annotate.clj
  src/metabase/query_processor/middleware/pre_alias_aggregations.clj
  src/metabase/query_processor/middleware/results_metadata.clj
  test/expectation_options.clj
  test/metabase/query_processor/middleware/add_source_metadata_test.clj
  test/metabase/query_processor/middleware/annotate_test.clj
  test/metabase/query_processor/middleware/parameters/mbql_test.clj
  test/metabase/query_processor/middleware/pre_alias_aggregations_test.clj
  test/metabase/query_processor_test.clj
  test/metabase/query_processor_test/aggregation_test.clj
  test/metabase/query_processor_test/breakout_test.clj
  test/metabase/query_processor_test/explicit_joins_test.clj
  test/metabase/query_processor_test/expressions_test.clj
  test/metabase/query_processor_test/nested_queries_test.clj
  test/metabase/test/data.clj
  test/metabase/timeseries_query_processor_test.clj
Owners: @camsaul

Disabled SQL preview toggle
  frontend/src/metabase/query_builder/selectors.js
Owners: @tlrobinson, @kdoh

Test fixes [ci drivers]
  modules/drivers/bigquery/test/metabase/driver/bigquery_test.clj
  modules/drivers/oracle/test/metabase/test/data/oracle.clj
  modules/drivers/snowflake/test/metabase/test/data/snowflake.clj
  test/metabase/query_processor/middleware/parameters/mbql_test.clj
  test/metabase/query_processor_test.clj
  test/metabase/query_processor_test/nested_queries_test.clj
  test/metabase/test/data.clj
  test/metabase/test/data/interface.clj
Owners: @camsaul

Test fixes [ci drivers]
  src/metabase/plugins/classloader.clj
  test/metabase/query_processor_test/nested_queries_test.clj
Owners: @camsaul

Test fixes [ci drivers]
  test/metabase/query_processor_test/nested_queries_test.clj
Owners: @camsaul

Cleanup icon names
  frontend/src/metabase-lib/lib/queries/StructuredQuery.js
  frontend/src/metabase/admin/datamodel/containers/FieldApp.jsx
  frontend/src/metabase/admin/permissions/selectors.js
  frontend/src/metabase/alert/alert.js
  frontend/src/metabase/components/CollectionLanding.jsx
  frontend/src/metabase/components/DisclosureTriangle.jsx
  frontend/src/metabase/components/EntityMenu.info.js
  frontend/src/metabase/containers/ErrorPages.jsx
  frontend/src/metabase/dashboard/components/DashboardHeader.jsx
  frontend/src/metabase/dashboard/containers/AutomaticDashboardApp.jsx
  frontend/src/metabase/icon_paths.js
  frontend/src/metabase/internal/components/IconsApp.jsx
  frontend/src/metabase/parameters/components/ParameterValueWidget.jsx
  frontend/src/metabase/query_builder/components/AggregationPopover.jsx
  frontend/src/metabase/query_builder/components/FieldList.jsx
  frontend/src/metabase/query_builder/components/QueryDownloadWidget.jsx
  frontend/src/metabase/query_builder/components/RunButton.jsx
  frontend/src/metabase/query_builder/components/notebook/NotebookStep.jsx
  frontend/src/metabase/query_builder/components/view/QuestionEntityMenu.jsx
  frontend/src/metabase/visualizations/components/ChartClickActions.jsx
  frontend/src/metabase/visualizations/components/ScalarValue.jsx
  frontend/src/metabase/visualizations/components/TableSimple.jsx
  frontend/src/metabase/visualizations/visualizations/SmartScalar.jsx
  frontend/src/metabase/visualizations/visualizations/Text.jsx
  frontend/test/metabase/dashboard/dashboard.e2e.spec.js
  frontend/test/metabase/visualizations/components/ObjectDetail.e2e.spec.js
  frontend/test/metabase/visualizations/components/Visualization.e2e.spec.js
Owners: @tlrobinson, @kdoh, @paulrosenzweig

Implement sort toggle, cleanup sort/limit clauses
  frontend/src/metabase/query_builder/components/notebook/NotebookStep.jsx
  frontend/src/metabase/query_builder/components/notebook/steps/LimitStep.jsx
  frontend/src/metabase/query_builder/components/notebook/steps/SortStep.jsx
Owners: @tlrobinson, @kdoh

.github/CODEOWNERS:

*.clj @camsaul
*.css @kdoh
/frontend/src @tlrobinson @kdoh
/frontend/src/metabase/components/ @kdoh
/frontend/src/metabase/admin/datamodel/ @tlrobinson @paulrosenzweig
/frontend/src/metabase/entities/ @tlrobinson @paulrosenzweig
/frontend/src/metabase/lib/entities/ @tlrobinson @paulrosenzweig
/docs/ @mazameli
