Repository metabase/metabase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @metabase/embedding, @metabase/core-frontend-admin-webapp, @metabase/data, @filiphric, @metabase/devexp, @metabase/backend-developers, @metabase/drivers, @metabase/core-backend-admin-webapp, @metabase/core-workflows, @metabase/core-backend-querying, @metabase/core-backend-dashviz

.github/CODEOWNERS:

# Before changing this file, make sure you have read how we use it:
# https://www.notion.so/metabase/Pull-Request-Code-Review-Guide-374f05df889748b69d67af753f9bc9b8?pvs=4#36550c04ceab40b5a8b8bee6264b090c

enterprise/frontend/src/embedding-sdk @metabase/embedding
frontend/src/metabase/embedding-sdk @metabase/embedding
frontend/src/metabase/ui @metabase/core-frontend-admin-webapp
snowplow/* @metabase/data
e2e @filiphric

.github @metabase/devexp
.clj-kondo @metabase/devexp
deps.edn @metabase/backend-developers

#
# Backend modules <=> teams that own them
#

modules/drivers @metabase/drivers

enterprise/backend/src/metabase_enterprise/advanced_config @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/advanced_config @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/advanced_permissions @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/advanced_permissions @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/airgap @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/airgap @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/api @metabase/devexp
enterprise/backend/test/metabase_enterprise/api @metabase/devexp

enterprise/backend/src/metabase_enterprise/audit_app @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/audit_app @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/auth_provider @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/auth_provider @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/billing @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/billing @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/cache @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/cache @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/content_verification @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/content_verification @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/core @metabase/devexp
enterprise/backend/test/metabase_enterprise/core @metabase/devexp

enterprise/backend/src/metabase_enterprise/dashboard_subscription_filters @metabase/core-workflows
enterprise/backend/test/metabase_enterprise/dashboard_subscription_filters @metabase/core-workflows

enterprise/backend/src/metabase_enterprise/enhancements @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/enhancements @metabase/core-backend-admin-webapp

# enterprise/backend/src/metabase_enterprise/llm
# enterprise/backend/test/metabase_enterprise/llm

enterprise/backend/src/metabase_enterprise/query_reference_validation @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/query_reference_validation @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/sandbox @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/sandbox @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/scim @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/scim @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/search @metabase/core-workflows
enterprise/backend/test/metabase_enterprise/search @metabase/core-workflows

enterprise/backend/src/metabase_enterprise/serialization @metabase/core-workflows
enterprise/backend/test/metabase_enterprise/serialization @metabase/core-workflows

enterprise/backend/src/metabase_enterprise/snippet_collections @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/snippet_collections @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/sso @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/sso @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/stale @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/stale @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/stats @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/stats @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/task @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/task @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/upload_management @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/upload_management @metabase/core-backend-admin-webapp

src/metabase/actions @metabase/core-backend-admin-webapp
test/metabase/actions @metabase/core-backend-admin-webapp

src/metabase/activity_feed @metabase/core-backend-admin-webapp
test/metabase/activity_feed @metabase/core-backend-admin-webapp

src/metabase/analytics @metabase/core-backend-admin-webapp
test/metabase/analytics @metabase/core-backend-admin-webapp

src/metabase/analyze @metabase/drivers
test/metabase/analyze @metabase/drivers

src/metabase/api @metabase/devexp
test/metabase/api @metabase/devexp

src/metabase/audit @metabase/core-backend-admin-webapp
test/metabase/audit @metabase/core-backend-admin-webapp

src/metabase/auth_provider @metabase/core-backend-admin-webapp
test/metabase/auth_provider @metabase/core-backend-admin-webapp

src/metabase/bookmarks @metabase/core-backend-admin-webapp
test/metabase/bookmarks @metabase/core-backend-admin-webapp

src/metabase/cmd @metabase/devexp
test/metabase/cmd @metabase/devexp

src/metabase/channel @metabase/core-workflows
test/metabase/channel @metabase/core-workflows

src/metabase/cloud_migration @metabase/core-workflows
test/metabase/cloud_migration @metabase/core-workflows

src/metabase/cmd @metabase/devexp
test/metabase/cmd @metabase/devexp

src/metabase/config @metabase/devexp
test/metabase/config @metabase/devexp

src/metabase/core @metabase/devexp
test/metabase/core @metabase/devexp

src/metabase/db @metabase/core-backend-admin-webapp
test/metabase/db @metabase/core-backend-admin-webapp

src/metabase/driver @metabase/drivers
test/metabase/driver @metabase/drivers

src/metabase/eid_translation @metabase/core-backend-admin-webapp
test/metabase/eid_translation @metabase/core-backend-admin-webapp

src/metabase/embed @metabase/embedding
test/metabase/embed @metabase/embedding

src/metabase/events @metabase/devexp
test/metabase/events @metabase/devexp

src/metabase/formatter @metabase/core-backend-querying
test/metabase/formatter @metabase/core-backend-querying

src/metabase/indexed_entities @metabase/core-backend-querying
test/metabase/indexed_entities @metabase/core-backend-querying

src/metabase/integrations @metabase/core-workflows
test/metabase/integrations @metabase/core-workflows

src/metabase/legacy_mbql @metabase/core-backend-querying
test/metabase/legacy_mbql @metabase/core-backend-querying

src/metabase/lib @metabase/core-backend-querying
test/metabase/lib @metabase/core-backend-querying

src/metabase/logger @metabase/devexp
test/metabase/logger @metabase/devexp

src/metabase/login_history @metabase/core-backend-admin-webapp
test/metabase/login_history @metabase/core-backend-admin-webapp

src/metabase/model_persistence @metabase/core-backend-querying
test/metabase/model_persistence @metabase/core-backend-querying

src/metabase/models @metabase/devexp
test/metabase/models @metabase/devexp

src/metabase/moderation @metabase/core-backend-admin-webapp
test/metabase/moderation @metabase/core-backend-admin-webapp

src/metabase/notification @metabase/core-workflows
test/metabase/notification @metabase/core-workflows

src/metabase/permissions @metabase/core-backend-admin-webapp
test/metabase/permissions @metabase/core-backend-admin-webapp

src/metabase/plugins @metabase/devexp
test/metabase/plugins @metabase/devexp

src/metabase/premium_features @metabase/core-backend-admin-webapp
test/metabase/premium_features @metabase/core-backend-admin-webapp

src/metabase/public_settings @metabase/core-backend-admin-webapp
test/metabase/public_settings @metabase/core-backend-admin-webapp

src/metabase/public_sharing @metabase/core-backend-admin-webapp
test/metabase/public_sharing @metabase/core-backend-admin-webapp

src/metabase/pulse @metabase/core-workflows
test/metabase/pulse @metabase/core-workflows

src/metabase/query_analysis @metabase/core-backend-querying
test/metabase/query_analysis @metabase/core-backend-querying

src/metabase/query_processor @metabase/core-backend-querying
test/metabase/query_processor @metabase/core-backend-querying

src/metabase/request @metabase/devexp
test/metabase/request @metabase/devexp

src/metabase/revisions @metabase/core-backend-admin-webapp
test/metabase/revisions @metabase/core-backend-admin-webapp

src/metabase/sample_data @metabase/core-backend-admin-webapp
test/metabase/sample_data @metabase/core-backend-admin-webapp

src/metabase/search @metabase/core-workflows
test/metabase/search @metabase/core-workflows

src/metabase/segments @metabase/core-backend-querying
test/metabase/segments @metabase/core-backend-querying

src/metabase/server @metabase/devexp
test/metabase/server @metabase/devexp

src/metabase/session @metabase/core-backend-admin-webapp
test/metabase/session @metabase/core-backend-admin-webapp

src/metabase/setup @metabase/core-backend-admin-webapp
test/metabase/setup @metabase/core-backend-admin-webapp

src/metabase/sso @metabase/core-backend-admin-webapp
test/metabase/sso @metabase/core-backend-admin-webapp

src/metabase/sync @metabase/drivers
test/metabase/sync @metabase/drivers

src/metabase/task @metabase/devexp
test/metabase/task @metabase/devexp

src/metabase/tiles @metabase/core-backend-dashviz
test/metabase/tiles @metabase/core-backend-dashviz

src/metabase/timeline @metabase/core-backend-dashviz
test/metabase/timeline @metabase/core-backend-dashviz

src/metabase/types @metabase/core-backend-querying
test/metabase/types @metabase/core-backend-querying

src/metabase/upload @metabase/core-backend-admin-webapp
test/metabase/upload @metabase/core-backend-admin-webapp

src/metabase/user_key_value @metabase/core-backend-admin-webapp
test/metabase/user_key_value @metabase/core-backend-admin-webapp

src/metabase/util @metabase/devexp
test/metabase/util @metabase/devexp

src/metabase/xrays @metabase/core-backend-querying
test/metabase/xrays @metabase/core-backend-querying

Use CSS colors
  enterprise/frontend/src/metabase-enterprise/metabot/components/MetabotIcon/MetabotIcon.tsx
Owners: none

Filter dashboard questions from other dashboards
  frontend/src/metabase-types/store/visualizer.ts
  frontend/src/metabase/visualizer/components/DataImporter/DataImporter.tsx
  frontend/src/metabase/visualizer/components/DataImporter/SearchResultsList.tsx
  frontend/src/metabase/visualizer/components/Visualizer/Visualizer.tsx
Owners: none

Use CSS colors
  enterprise/frontend/src/metabase-enterprise/metabot/components/MetabotIcon/MetabotIcon.tsx
Owners: none

Use CSS colors
  enterprise/frontend/src/metabase-enterprise/metabot/components/MetabotIcon/MetabotIcon.tsx
Owners: none

Get rid of unused require
  src/metabase/lib/breakout.cljc
Owners: @metabase/core-backend-querying

fix alignment
  frontend/src/metabase/components/ModalContent/ModalContent.styled.ts
Owners: none

Empty states for events (#54157)
  e2e/test/scenarios/organization/timelines-collection.cy.spec.js
  e2e/test/scenarios/organization/timelines-question.cy.spec.js
  e2e/test/scenarios/question-reproductions/reproductions-3.cy.spec.js
  frontend/src/metabase/timelines/collections/components/SearchEmptyState/SearchEmptyState.styled.tsx
  frontend/src/metabase/timelines/collections/components/SearchEmptyState/SearchEmptyState.tsx
  frontend/src/metabase/timelines/collections/components/SearchEmptyState/SearchEmptyState.unit.spec.tsx
  frontend/src/metabase/timelines/collections/components/TimelineDetailsModal/TimelineDetailsModal.tsx
  frontend/src/metabase/timelines/collections/components/TimelineEmptyState/TimelineEmptyState.styled.tsx
  frontend/src/metabase/timelines/collections/components/TimelineEmptyState/TimelineEmptyState.tsx
  frontend/src/metabase/timelines/collections/components/TimelineEmptyState/TimelineEmptyState.unit.spec.tsx
  frontend/src/metabase/timelines/collections/components/TimelineListModal/TimelineListModal.tsx
  frontend/src/metabase/timelines/collections/components/TimelineListModal/TimelineListModal.unit.spec.tsx
  frontend/src/metabase/timelines/common/components/ModalHeader/ModalHeader.styled.tsx
  frontend/src/metabase/timelines/common/components/ModalHeader/ModalHeader.tsx
  frontend/src/metabase/timelines/common/components/ModalHeader/ModalHeader.unit.spec.tsx
  frontend/src/metabase/timelines/questions/components/TimelineEmptyState/TimelineEmptyState.styled.tsx
  frontend/src/metabase/timelines/questions/components/TimelineEmptyState/TimelineEmptyState.tsx
  frontend/src/metabase/timelines/questions/components/TimelineEmptyState/TimelineEmptyState.unit.spec.tsx
  frontend/src/metabase/timelines/questions/components/TimelinePanel/TimelinePanel.tsx
  frontend/src/metabase/timelines/questions/components/TimelinePanel/TimelinePanel.unit.spec.tsx
  resources/frontend_client/app/assets/img/empty-states/event.svg
Owners: @filiphric

kondo yay
  .clj-kondo/config/modules/config.edn
  enterprise/backend/src/metabase_enterprise/impersonation/core.clj
  src/metabase/query_processor/middleware/cache.clj
Owners: @metabase/devexp, @metabase/core-backend-querying

Fix
  src/metabase/lib/schema/expression/temporal.cljc
Owners: @metabase/core-backend-querying

Remove println
  test/metabase/lib/native_test.cljc
Owners: @metabase/core-backend-querying

add ability to style SpecialTagInput, update MultiAutocomplete styles
  frontend/src/metabase/querying/filters/components/FilterValuePicker/SearchValuePicker/SearchValuePicker.tsx
  frontend/src/metabase/ui/components/feedback/Loader/Loader.tsx
  frontend/src/metabase/ui/components/inputs/MultiAutocomplete/MultiAutocomplete.module.css
  frontend/src/metabase/ui/components/inputs/MultiAutocomplete/MultiAutocomplete.tsx
  frontend/src/metabase/ui/components/inputs/SpecialTagsInput/SpecialTagsInput.tsx
Owners: @metabase/core-frontend-admin-webapp

dont require auth credentials
  modules/drivers/athena/resources/metabase-plugin.yaml
  modules/drivers/redshift/resources/metabase-plugin.yaml
Owners: @metabase/drivers

add unit tests
  frontend/src/metabase/components/SaveQuestionForm/context.unit.spec.tsx
Owners: none

Fix
  src/metabase/lib/schema/expression/temporal.cljc
Owners: @metabase/core-backend-querying

Fix namespace
  enterprise/backend/src/metabase_enterprise/metabot_v3/tools/filters.clj
Owners: none

Fix
  src/metabase/lib/schema/expression/temporal.cljc
Owners: @metabase/core-backend-querying

Make :dimension optional on :field-filter
  src/metabase/lib/schema/template_tag.cljc
Owners: @metabase/core-backend-querying

Addressing PR comments
  frontend/src/metabase-types/store/visualizer.ts
  frontend/src/metabase/visualizer/components/DataImporter/DataImporter.tsx
  frontend/src/metabase/visualizer/components/DataImporter/SearchResultsList.tsx
  frontend/src/metabase/visualizer/components/Visualizer/Visualizer.tsx
Owners: none

get outta here, stupid
  frontend/src/metabase/ui/components/inputs/SpecialTagsInput/SpecialTagsInput.tsx
Owners: @metabase/core-frontend-admin-webapp

Various UI Polish (#54501)
  .loki/reference/chrome_laptop_App_Embed_PublicOrEmbeddedDashboardView_filters_Dark_Theme_Date_Filter_Range.png
  .loki/reference/chrome_laptop_App_Embed_PublicOrEmbeddedDashboardView_filters_Dark_Theme_Parameter_List_With_Value.png
  .loki/reference/chrome_laptop_App_Embed_PublicOrEmbeddedDashboardView_filters_Light_Theme_Date_Filter_Range.png
  .loki/reference/chrome_laptop_App_Embed_PublicOrEmbeddedDashboardView_filters_Light_Theme_Parameter_List_With_Value.png
  .loki/reference/chrome_laptop_Components_Parameters_DatePicker_Relative_Next.png
  .loki/reference/chrome_laptop_Components_Parameters_DatePicker_Relative_Next_Dark_Theme.png
  .loki/reference/chrome_laptop_Components_Parameters_DatePicker_Relative_Previous.png
  .loki/reference/chrome_laptop_Components_Parameters_DatePicker_Relative_Previous_Dark_Theme.png
  .loki/reference/chrome_laptop_Components_Parameters_DatePicker_Specific_Between.png
  .loki/reference/chrome_laptop_Components_Parameters_DatePicker_Specific_Between_Dark_Theme.png
  .loki/reference/chrome_laptop_Patterns_Overlays_All_Overlays.png
  .loki/reference/chrome_laptop_Patterns_Overlays_Legacy_Modal_Can_Launch_Mantine_Modal.png
  .loki/reference/chrome_laptop_Patterns_Overlays_Mantine_Modal_Can_Launch_Legacy_Modal.png
  .loki/reference/chrome_laptop_Patterns_Overlays_Mantine_Modal_Can_Launch_Legacy_Select.png
  .loki/reference/chrome_laptop_Patterns_Overlays_Mantine_Modal_Can_Launch_Mantine_Hovercard.png
  .loki/reference/chrome_laptop_Patterns_Overlays_Mantine_Modal_Can_Launch_Mantine_Select.png
  .loki/reference/chrome_laptop_Patterns_Overlays_Mantine_Popover_Can_Launch_Legacy_Modal.png
  .loki/reference/chrome_laptop_Patterns_Overlays_Mantine_Popover_Can_Launch_Legacy_Select.png
  e2e/support/helpers/e2e-visual-tests-helpers.js
  e2e/test-component/scenarios/embedding-sdk/tooltip-reproductions.cy.spec.tsx
  frontend/src/metabase/components/ViewFooterButton/ViewFooterButton.tsx
  frontend/src/metabase/css/reset.module.css
  frontend/src/metabase/dashboard/components/DashCard/DashCardActionsPanel/ChartSettingsButton/ChartSettingsButton.tsx
  frontend/src/metabase/query_builder/components/QueryDownloadWidget/QueryDownloadWidget.tsx
  frontend/src/metabase/ui/Theme.module.css
  frontend/src/metabase/ui/components/inputs/Select/Select.module.css
  frontend/src/metabase/ui/theme.ts
  frontend/src/metabase/visualizations/components/ChartSettings/DashboardChartSettings/DashboardChartSettings.tsx
  frontend/src/metabase/visualizations/echarts/tooltip/index.tsx
Owners: @filiphric, @metabase/core-frontend-admin-webapp

Add 'for React' suffixes to more places
  frontend/src/metabase/admin/settings/components/EmbeddingSettings/EmbeddingSdkLegaleseModal/EmbeddingSdkLegaleseModal.tsx
  frontend/src/metabase/admin/settings/components/EmbeddingSettings/EmbeddingSdkSettings/EmbeddingSdkSettings.tsx
Owners: none

Fix kondo
  modules/drivers/oracle/test/metabase/driver/oracle_test.clj
Owners: @metabase/drivers

Fixed conditional formatting for numerical primary/foreign keys (#54139) (#54391)
  frontend/src/metabase/visualizations/components/settings/ChartSettingsTableFormatting/ChartSettingsTableFormatting.jsx
  frontend/src/metabase/visualizations/components/settings/ChartSettingsTableFormatting/ChartSettingsTableFormatting.unit.spec.js
  frontend/src/metabase/visualizations/components/settings/ChartSettingsTableFormatting/get-operators-for-columns.ts
  frontend/src/metabase/visualizations/components/settings/ChartSettingsTableFormatting/get-operators-for-columns.unit.spec.ts
  frontend/src/metabase/visualizations/components/settings/ChartSettingsTableFormatting/index.ts
  frontend/src/metabase/visualizations/lib/table_format.unit.spec.js
Owners: none

Fixing title href in subscriptions for visualizer cards
  src/metabase/channel/render/card.clj
Owners: @metabase/core-workflows

Add `for React` in two places on the core app (#54234) (#54385)
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/common.embedding.unit.spec.tsx
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/enterprise.embedding.unit.spec.tsx
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/premium.embedding.unit.spec.tsx
  frontend/src/metabase/admin/settings/components/EmbeddingSettings/EmbeddingSdkSettings/EmbeddingSdkSettings.tsx
  frontend/src/metabase/admin/settings/components/EmbeddingSettings/EmbeddingSdkSettings/tests/common.unit.spec.tsx
  frontend/src/metabase/admin/settings/components/EmbeddingSettings/EmbeddingSdkSettings/tests/premium.unit.spec.tsx
  frontend/src/metabase/admin/settings/components/widgets/EmbeddingOption/EmbeddingSdkOptionCard/EmbeddingSdkOptionCard.tsx
  frontend/src/metabase/admin/settings/components/widgets/EmbeddingOption/EmbeddingSdkOptionCard/tests/common.unit.spec.tsx
  frontend/src/metabase/public/components/EmbedModal/SelectEmbedTypePane/SelectEmbedTypePane.tsx
  frontend/src/metabase/public/components/EmbedModal/SelectEmbedTypePane/SharingPaneButton/SharingPaneButton.tsx
Owners: none

Add `for React` in two places on the core app (#54234) (#54384)
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/common.embedding.unit.spec.tsx
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/enterprise.embedding.unit.spec.tsx
  frontend/src/metabase/admin/settings/app/components/SettingsEditor/tests/embedding/premium.embedding.unit.spec.tsx
  frontend/src/metabase/admin/settings/components/EmbeddingSettings/EmbeddingSdkSettings/EmbeddingSdkSettings.tsx
  frontend/src/metabase/admin/settings/components/EmbeddingSettings/EmbeddingSdkSettings/tests/common.unit.spec.tsx
  frontend/src/metabase/admin/settings/components/EmbeddingSettings/EmbeddingSdkSettings/tests/premium.unit.spec.tsx
  frontend/src/metabase/admin/settings/components/widgets/EmbeddingOption/EmbeddingSdkOptionCard/EmbeddingSdkOptionCard.tsx
  frontend/src/metabase/admin/settings/components/widgets/EmbeddingOption/EmbeddingSdkOptionCard/tests/common.unit.spec.tsx
  frontend/src/metabase/public/components/EmbedModal/SelectEmbedTypePane/SelectEmbedTypePane.tsx
  frontend/src/metabase/public/components/EmbedModal/SelectEmbedTypePane/SharingPaneButton/SharingPaneButton.tsx
Owners: none

consolidate define-after-selects
  src/metabase/models/database.clj
  src/metabase/models/field.clj
Owners: @metabase/devexp

fix: nested field refs from join-alias with spaces (#54231)
  modules/drivers/oracle/test/metabase/driver/oracle_test.clj
  src/metabase/lib/convert.cljc
  src/metabase/lib/database/methods.cljc
  src/metabase/lib/extraction.cljc
  src/metabase/lib/join.cljc
  src/metabase/lib/js.cljs
  src/metabase/lib/metadata/calculation.cljc
  src/metabase/lib/metadata/jvm.clj
  src/metabase/lib/remove_replace.cljc
  src/metabase/lib/schema/metadata.cljc
  src/metabase/lib/util.cljc
  src/metabase/query_processor/middleware/add_dimension_projections.clj
  src/metabase/query_processor/middleware/escape_join_aliases.clj
  src/metabase/query_processor/middleware/metrics.clj
  src/metabase/query_processor/pivot.clj
  src/metabase/query_processor/util/add_alias_info.clj
  src/metabase/query_processor/util/transformations/nest_breakouts.clj
  test/metabase/lib/util_test.cljc
  test/metabase/query_processor/middleware/escape_join_aliases_test.clj
  test/metabase/query_processor/util/transformations/nest_breakouts_test.clj
  test/metabase/query_processor_test/nested_queries_test.clj
Owners: @metabase/drivers, @metabase/core-backend-querying

fix: nested field refs from join-alias with spaces (#54231)
  modules/drivers/oracle/test/metabase/driver/oracle_test.clj
  src/metabase/lib/convert.cljc
  src/metabase/lib/database/methods.cljc
  src/metabase/lib/extraction.cljc
  src/metabase/lib/join.cljc
  src/metabase/lib/js.cljs
  src/metabase/lib/metadata/calculation.cljc
  src/metabase/lib/metadata/jvm.clj
  src/metabase/lib/remove_replace.cljc
  src/metabase/lib/schema/metadata.cljc
  src/metabase/lib/util.cljc
  src/metabase/query_processor/middleware/add_dimension_projections.clj
  src/metabase/query_processor/middleware/escape_join_aliases.clj
  src/metabase/query_processor/middleware/metrics.clj
  src/metabase/query_processor/pivot.clj
  src/metabase/query_processor/util/add_alias_info.clj
  src/metabase/query_processor/util/transformations/nest_breakouts.clj
  test/metabase/lib/util_test.cljc
  test/metabase/query_processor/middleware/escape_join_aliases_test.clj
  test/metabase/query_processor/util/transformations/nest_breakouts_test.clj
  test/metabase/query_processor_test/nested_queries_test.clj
Owners: @metabase/drivers, @metabase/core-backend-querying

updating InputWithSelectPrefix to Mantine components
  frontend/src/metabase/components/InputWithSelectPrefix/InputWithSelectPrefix.jsx
Owners: none

Allow zoom on joined binned column (#54226)
  src/metabase/lib/breakout.cljc
  test/metabase/lib/drill_thru/zoom_in_bins_test.cljc
Owners: @metabase/core-backend-querying

Fix namespace
  enterprise/backend/src/metabase_enterprise/metabot_v3/tools/filters.clj
Owners: none

fix test
  e2e/test/scenarios/dashboard/dashboard-reproductions.cy.spec.js
Owners: @filiphric

Allow zoom on joined binned column (#54226)
  src/metabase/lib/breakout.cljc
  test/metabase/lib/drill_thru/zoom_in_bins_test.cljc
Owners: @metabase/core-backend-querying

Improve names of functions
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

Add @external tag
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

improve per ryan's sage advice
  e2e/support/helpers/e2e-permissions-helpers.js
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-api.cy.spec.js
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

wip
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric

Use api calls to test that entities are initially unfiltered and then filtered once sandboxing has been applied.
  e2e/support/helpers/api/createDashboard.ts
  e2e/support/helpers/e2e-misc-helpers.js
  e2e/support/helpers/e2e-permissions-helpers.js
  e2e/test/scenarios/onboarding/command-palette.cy.spec.js
  e2e/test/scenarios/permissions/sandboxing/helpers/e2e-sandboxing-helpers.ts
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-api.cy.spec.js
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
  enterprise/frontend/src/metabase-enterprise/sandboxes/components/EditSandboxingModal/EditSandboxingModal.tsx
Owners: @filiphric

Add todo
  e2e/test/scenarios/permissions/sandboxing/sandboxing-via-ui.cy.spec.ts
Owners: @filiphric
