Repository metabase/metabase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @metabase/embedding, @metabase/core-frontend-admin-webapp, @metabase/data, @filiphric, @metabase/devexp, @metabase/backend-developers, @metabase/drivers, @metabase/core-backend-admin-webapp, @metabase/core-workflows, @metabase/core-backend-querying, @metabase/core-backend-dashviz

Update sample app ports in documentation (#54575)
  docs/embedding/sdk/quickstart-with-sample-app.md
Owners: none

Update sample app ports in documentation (#54575)
  docs/embedding/sdk/quickstart-with-sample-app.md
Owners: none

Update sample app ports in documentation (#54575)
  docs/embedding/sdk/quickstart-with-sample-app.md
Owners: none

Update sample app ports in documentation (#54575) (#54591)
  docs/embedding/sdk/quickstart-with-sample-app.md
Owners: none

Fix pivot csv export with multiple pivot cols and no row totals (#54540)
  src/metabase/query_processor/pivot/postprocess.clj
  test/metabase/api/downloads_exports_test.clj
Owners: @metabase/core-backend-querying, @metabase/devexp

clarify cloud
  docs/embedding/sdk/quickstart.md
Owners: none

Fix pivot csv export with multiple pivot cols and no row totals (#54540)
  src/metabase/query_processor/pivot/postprocess.clj
  test/metabase/api/downloads_exports_test.clj
Owners: @metabase/core-backend-querying, @metabase/devexp

Update sample app ports in documentation (#54575) (#54590)
  docs/embedding/sdk/quickstart-with-sample-app.md
Owners: none

smart-ish conversion of settings when switching viz
  frontend/src/metabase/visualizer/utils/update-settings-for-display.ts
  frontend/src/metabase/visualizer/visualizer.slice.ts
Owners: none

[Cards in Dashboards] Allow changing save location when saving a modified dashboard question (#54526)
  frontend/src/metabase/collections/containers/FormCollectionAndDashboardPicker/FormCollectionAndDashboardPicker.tsx
  frontend/src/metabase/components/SaveQuestionForm/SaveQuestionForm.tsx
  frontend/src/metabase/components/SaveQuestionForm/context.tsx
  frontend/src/metabase/components/SaveQuestionForm/context.unit.spec.tsx
  frontend/src/metabase/containers/SaveQuestionModal/SaveQuestionModal.tsx
Owners: none

[Cards in Dashboards] Allow changing save location when saving a modified dashboard question (#54526)
  frontend/src/metabase/collections/containers/FormCollectionAndDashboardPicker/FormCollectionAndDashboardPicker.tsx
  frontend/src/metabase/components/SaveQuestionForm/SaveQuestionForm.tsx
  frontend/src/metabase/components/SaveQuestionForm/context.tsx
  frontend/src/metabase/components/SaveQuestionForm/context.unit.spec.tsx
  frontend/src/metabase/containers/SaveQuestionModal/SaveQuestionModal.tsx
Owners: none

Convert dummy tools to normal tools (#54519)
  enterprise/backend/src/metabase_enterprise/metabot_v3/dummy_tools.clj
  enterprise/backend/src/metabase_enterprise/metabot_v3/tools/api.clj
  enterprise/backend/test/metabase_enterprise/metabot_v3/tools/api_test.clj
Owners: none

Bump thheller/shadow-cljs from 2.28.20 to 2.28.21 (#54170)
  deps.edn
Owners: @metabase/backend-developers

Adding deep link url support for visualizer cards in dashboard subs (#54441)
  src/metabase/channel/render/card.clj
  test/metabase/channel/render/card_test.clj
Owners: @metabase/core-workflows

Add prometheus info metric (#54523)
  src/metabase/analytics/prometheus.clj
  src/metabase/core/core.clj
Owners: @metabase/core-backend-admin-webapp, @metabase/devexp

Add prometheus info metric (#54523)
  src/metabase/analytics/prometheus.clj
  src/metabase/core/core.clj
Owners: @metabase/core-backend-admin-webapp, @metabase/devexp

clarify cloud (#54592)
  docs/embedding/sdk/quickstart.md
Owners: none

Fix pivot csv export with multiple pivot cols and no row totals (#54540) (#54593)
  src/metabase/query_processor/pivot/postprocess.clj
  test/metabase/api/downloads_exports_test.clj
Owners: @metabase/core-backend-querying, @metabase/devexp

clarify cloud (#54592)
  docs/embedding/sdk/quickstart.md
Owners: none

Add backport resolution script
  backport.sh
Owners: none

[Cards in Dashboards] Allow changing save location when saving a modified dashboard question (#54526) (#54594)
  frontend/src/metabase/collections/containers/FormCollectionAndDashboardPicker/FormCollectionAndDashboardPicker.tsx
  frontend/src/metabase/components/SaveQuestionForm/SaveQuestionForm.tsx
  frontend/src/metabase/components/SaveQuestionForm/context.tsx
  frontend/src/metabase/components/SaveQuestionForm/context.unit.spec.tsx
  frontend/src/metabase/containers/SaveQuestionModal/SaveQuestionModal.tsx
Owners: none

clarify cloud (#54592) (#54596)
  docs/embedding/sdk/quickstart.md
Owners: none

remove legacy setup checklist
  frontend/src/metabase-types/api/mocks/index.ts
  frontend/src/metabase-types/api/mocks/setup.ts
  frontend/src/metabase-types/api/setup.ts
  frontend/src/metabase/admin/routes.jsx
  frontend/src/metabase/admin/settings/selectors/selectors.js
  frontend/src/metabase/admin/settings/setup/components/SetupCheckList/SetupCheckList.jsx
  frontend/src/metabase/admin/settings/setup/components/SetupCheckList/SetupCheckList.styled.tsx
  frontend/src/metabase/admin/settings/setup/components/SetupCheckList/SetupCheckList.unit.spec.tsx
  frontend/src/metabase/admin/settings/setup/components/SetupCheckList/index.ts
  frontend/src/metabase/admin/utils.js
  frontend/src/metabase/services.js
  frontend/test/__support__/server-mocks/setup.ts
  src/metabase/setup/README.md
  src/metabase/setup/api.clj
Owners: @metabase/core-backend-admin-webapp

Override some deps licenses (#54589)
  bin/build/resources/overrides.edn
Owners: none

updating mantine patch
  patches/@mantine+core+7.17.0.patch
Owners: none

added unit tests
  frontend/src/metabase/dashboard/components/QuestionPicker/convert-question-to-initial-state.ts
  frontend/src/metabase/dashboard/components/QuestionPicker/convert-question-to-initial-state.unit.spec.ts
  frontend/src/metabase/visualizer/utils/is-visualizer-dashboard-card.ts
  frontend/src/metabase/visualizer/utils/update-settings-for-display.unit.spec.ts
Owners: none

updating mantine patch (#54598)
  patches/@mantine+core+7.17.0.patch
Owners: none

react 19 bump
  enterprise/frontend/src/embedding-sdk/package.template.json
Owners: @metabase/embedding

try bumping react to 19
  package.json
  yarn.lock
Owners: none

bump types to 19
  package.json
  yarn.lock
Owners: none

Fixed error with legacy-metric before-update returning nil and tests expecting empty updates to still do an update
  src/metabase/models/legacy_metric.clj
  test/metabase/models/legacy_metric_test.clj
  test/metabase/segments/models/segment_test.clj
Owners: @metabase/devexp, @metabase/core-backend-querying

Don't update dashboards when only last_viewed_at changes
  src/metabase/models/dashboard.clj
  src/metabase/models/interface.clj
  test/metabase/models/interface_test.clj
Owners: @metabase/devexp

Fixed merge error
  src/metabase/models/interface.clj
Owners: @metabase/devexp

Fixed failing test
  test/metabase/models/interface_test.clj
Owners: @metabase/devexp

Don't update dashboards when only last_viewed_at changes
  src/metabase/models/interface.clj
  test/metabase/models/interface_test.clj
Owners: @metabase/devexp

Fixed failing test
  test/metabase/models/interface_test.clj
Owners: @metabase/devexp

Fixed failing test
  src/metabase/models/interface.clj
  test/metabase/models/interface_test.clj
Owners: @metabase/devexp

Fixed failing test
  src/metabase/models/interface.clj
Owners: @metabase/devexp

Don't set updated_at if it's the only think
  src/metabase/models/interface.clj
  test/metabase/channel/models/channel_test.clj
Owners: @metabase/devexp, @metabase/core-workflows

Fixed failing test
  test/metabase/models/interface_test.clj
Owners: @metabase/devexp

.github/CODEOWNERS:

# Before changing this file, make sure you have read how we use it:
# https://www.notion.so/metabase/Pull-Request-Code-Review-Guide-374f05df889748b69d67af753f9bc9b8?pvs=4#36550c04ceab40b5a8b8bee6264b090c

enterprise/frontend/src/embedding-sdk @metabase/embedding
frontend/src/metabase/embedding-sdk @metabase/embedding
frontend/src/metabase/ui @metabase/core-frontend-admin-webapp
snowplow/* @metabase/data
e2e @filiphric

.github @metabase/devexp
.clj-kondo @metabase/devexp
deps.edn @metabase/backend-developers

#
# Backend modules <=> teams that own them
#

modules/drivers @metabase/drivers

enterprise/backend/src/metabase_enterprise/advanced_config @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/advanced_config @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/advanced_permissions @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/advanced_permissions @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/airgap @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/airgap @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/api @metabase/devexp
enterprise/backend/test/metabase_enterprise/api @metabase/devexp

enterprise/backend/src/metabase_enterprise/audit_app @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/audit_app @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/auth_provider @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/auth_provider @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/billing @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/billing @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/cache @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/cache @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/content_verification @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/content_verification @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/core @metabase/devexp
enterprise/backend/test/metabase_enterprise/core @metabase/devexp

enterprise/backend/src/metabase_enterprise/dashboard_subscription_filters @metabase/core-workflows
enterprise/backend/test/metabase_enterprise/dashboard_subscription_filters @metabase/core-workflows

enterprise/backend/src/metabase_enterprise/enhancements @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/enhancements @metabase/core-backend-admin-webapp

# enterprise/backend/src/metabase_enterprise/llm
# enterprise/backend/test/metabase_enterprise/llm

enterprise/backend/src/metabase_enterprise/query_reference_validation @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/query_reference_validation @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/sandbox @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/sandbox @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/scim @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/scim @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/search @metabase/core-workflows
enterprise/backend/test/metabase_enterprise/search @metabase/core-workflows

enterprise/backend/src/metabase_enterprise/serialization @metabase/core-workflows
enterprise/backend/test/metabase_enterprise/serialization @metabase/core-workflows

enterprise/backend/src/metabase_enterprise/snippet_collections @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/snippet_collections @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/sso @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/sso @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/stale @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/stale @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/stats @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/stats @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/task @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/task @metabase/core-backend-admin-webapp

enterprise/backend/src/metabase_enterprise/upload_management @metabase/core-backend-admin-webapp
enterprise/backend/test/metabase_enterprise/upload_management @metabase/core-backend-admin-webapp

src/metabase/actions @metabase/core-backend-admin-webapp
test/metabase/actions @metabase/core-backend-admin-webapp

src/metabase/activity_feed @metabase/core-backend-admin-webapp
test/metabase/activity_feed @metabase/core-backend-admin-webapp

src/metabase/analytics @metabase/core-backend-admin-webapp
test/metabase/analytics @metabase/core-backend-admin-webapp

src/metabase/analyze @metabase/drivers
test/metabase/analyze @metabase/drivers

src/metabase/api @metabase/devexp
test/metabase/api @metabase/devexp

src/metabase/audit @metabase/core-backend-admin-webapp
test/metabase/audit @metabase/core-backend-admin-webapp

src/metabase/auth_provider @metabase/core-backend-admin-webapp
test/metabase/auth_provider @metabase/core-backend-admin-webapp

src/metabase/bookmarks @metabase/core-backend-admin-webapp
test/metabase/bookmarks @metabase/core-backend-admin-webapp

src/metabase/cmd @metabase/devexp
test/metabase/cmd @metabase/devexp

src/metabase/channel @metabase/core-workflows
test/metabase/channel @metabase/core-workflows

src/metabase/cloud_migration @metabase/core-workflows
test/metabase/cloud_migration @metabase/core-workflows

src/metabase/cmd @metabase/devexp
test/metabase/cmd @metabase/devexp

src/metabase/config @metabase/devexp
test/metabase/config @metabase/devexp

src/metabase/core @metabase/devexp
test/metabase/core @metabase/devexp

src/metabase/db @metabase/core-backend-admin-webapp
test/metabase/db @metabase/core-backend-admin-webapp

src/metabase/driver @metabase/drivers
test/metabase/driver @metabase/drivers

src/metabase/eid_translation @metabase/core-backend-admin-webapp
test/metabase/eid_translation @metabase/core-backend-admin-webapp

src/metabase/embed @metabase/embedding
test/metabase/embed @metabase/embedding

src/metabase/events @metabase/devexp
test/metabase/events @metabase/devexp

src/metabase/formatter @metabase/core-backend-querying
test/metabase/formatter @metabase/core-backend-querying

src/metabase/indexed_entities @metabase/core-backend-querying
test/metabase/indexed_entities @metabase/core-backend-querying

src/metabase/integrations @metabase/core-workflows
test/metabase/integrations @metabase/core-workflows

src/metabase/legacy_mbql @metabase/core-backend-querying
test/metabase/legacy_mbql @metabase/core-backend-querying

src/metabase/lib @metabase/core-backend-querying
test/metabase/lib @metabase/core-backend-querying

src/metabase/logger @metabase/devexp
test/metabase/logger @metabase/devexp

src/metabase/login_history @metabase/core-backend-admin-webapp
test/metabase/login_history @metabase/core-backend-admin-webapp

src/metabase/model_persistence @metabase/core-backend-querying
test/metabase/model_persistence @metabase/core-backend-querying

src/metabase/models @metabase/devexp
test/metabase/models @metabase/devexp

src/metabase/moderation @metabase/core-backend-admin-webapp
test/metabase/moderation @metabase/core-backend-admin-webapp

src/metabase/notification @metabase/core-workflows
test/metabase/notification @metabase/core-workflows

src/metabase/permissions @metabase/core-backend-admin-webapp
test/metabase/permissions @metabase/core-backend-admin-webapp

src/metabase/plugins @metabase/devexp
test/metabase/plugins @metabase/devexp

src/metabase/premium_features @metabase/core-backend-admin-webapp
test/metabase/premium_features @metabase/core-backend-admin-webapp

src/metabase/public_settings @metabase/core-backend-admin-webapp
test/metabase/public_settings @metabase/core-backend-admin-webapp

src/metabase/public_sharing @metabase/core-backend-admin-webapp
test/metabase/public_sharing @metabase/core-backend-admin-webapp

src/metabase/pulse @metabase/core-workflows
test/metabase/pulse @metabase/core-workflows

src/metabase/query_analysis @metabase/core-backend-querying
test/metabase/query_analysis @metabase/core-backend-querying

src/metabase/query_processor @metabase/core-backend-querying
test/metabase/query_processor @metabase/core-backend-querying

src/metabase/request @metabase/devexp
test/metabase/request @metabase/devexp

src/metabase/revisions @metabase/core-backend-admin-webapp
test/metabase/revisions @metabase/core-backend-admin-webapp

src/metabase/sample_data @metabase/core-backend-admin-webapp
test/metabase/sample_data @metabase/core-backend-admin-webapp

src/metabase/search @metabase/core-workflows
test/metabase/search @metabase/core-workflows

src/metabase/segments @metabase/core-backend-querying
test/metabase/segments @metabase/core-backend-querying

src/metabase/server @metabase/devexp
test/metabase/server @metabase/devexp

src/metabase/session @metabase/core-backend-admin-webapp
test/metabase/session @metabase/core-backend-admin-webapp

src/metabase/setup @metabase/core-backend-admin-webapp
test/metabase/setup @metabase/core-backend-admin-webapp

src/metabase/sso @metabase/core-backend-admin-webapp
test/metabase/sso @metabase/core-backend-admin-webapp

src/metabase/sync @metabase/drivers
test/metabase/sync @metabase/drivers

src/metabase/task @metabase/devexp
test/metabase/task @metabase/devexp

src/metabase/tiles @metabase/core-backend-dashviz
test/metabase/tiles @metabase/core-backend-dashviz

src/metabase/timeline @metabase/core-backend-dashviz
test/metabase/timeline @metabase/core-backend-dashviz

src/metabase/types @metabase/core-backend-querying
test/metabase/types @metabase/core-backend-querying

src/metabase/upload @metabase/core-backend-admin-webapp
test/metabase/upload @metabase/core-backend-admin-webapp

src/metabase/user_key_value @metabase/core-backend-admin-webapp
test/metabase/user_key_value @metabase/core-backend-admin-webapp

src/metabase/util @metabase/devexp
test/metabase/util @metabase/devexp

src/metabase/xrays @metabase/core-backend-querying
test/metabase/xrays @metabase/core-backend-querying
