Repository metabase/metabase, pull requests merged in 2020-01, with the labels that each got.

#11583 Port note to IE11 users from EE docs
  docs/enterprise-guide/full-app-embedding.md
Labels: .Documentation, Embedding/

#11654 Fix LDAP groups sync regression
  .circleci/config.yml
  src/metabase/integrations/ldap.clj
Labels: Administration/Auth

#11734 Carry along - Add a new item in the feature list (PR #11118)
  README.md
Labels: .CLA Unnecessary

#11803 Improve Google auth token error message
  frontend/src/metabase/admin/settings/components/SettingsSingleSignOnForm.jsx
  src/metabase/api/session.clj
  test/metabase/api/session_test.clj
Labels: .Enhancement, .Frontend, Administration/Auth, Type:UX
